@keyframes rt-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rt-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes rt-slide-up {
  from {
    transform: translateY(4px) scale(0.97);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes rt-slide-down {
  from {
    transform: translateY(-4px) scale(0.97);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes rt-slide-left {
  from {
    transform: translateX(4px) scale(0.97);
  }
  to {
    transform: translateX(0) scale(1);
  }
}

@keyframes rt-slide-right {
  from {
    transform: translateX(-4px) scale(0.97);
  }
  to {
    transform: translateX(0) scale(1);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .rt-PopperContent {
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

    &:where([data-state='open']) {
      animation-duration: 300ms;

      &:where([data-side='top']) {
        animation-name: rt-slide-up, rt-fade-in;
      }
      &:where([data-side='bottom']) {
        animation-name: rt-slide-down, rt-fade-in;
      }
      &:where([data-side='left']) {
        animation-name: rt-slide-left, rt-fade-in;
      }
      &:where([data-side='right']) {
        animation-name: rt-slide-right, rt-fade-in;
      }
    }

    &:where([data-state='closed']) {
      animation-duration: 150ms;

      &:where([data-side='top']) {
        animation-name: rt-slide-down, rt-fade-out;
      }
      &:where([data-side='bottom']) {
        animation-name: rt-slide-up, rt-fade-out;
      }
      &:where([data-side='left']) {
        animation-name: rt-slide-right, rt-fade-out;
      }
      &:where([data-side='right']) {
        animation-name: rt-slide-right, rt-fade-out;
      }
    }
  }
}
