.radix-themes.root {
  /* create new stacking context on the root `Theme` so layered components work out of the box */
  position: relative;
  z-index: 0;
}

.rt-reset-a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.rt-reset-button {
  appearance: none;
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  outline: none;
  color: inherit;
  padding: 0;
  margin: 0;
  text-align: initial;
  -webkit-tap-highlight-color: transparent;
}
