@import './tokens/font.css';
@import './tokens/color.css';
@import './tokens/shadow.css';
@import './tokens/space.css';
@import './tokens/border-radius.css';

/* scaling */
:root {
  /* default: regular */
  --scaling: 1;
}
[data-scaling='90%'] {
  --scaling: 0.9;
}
[data-scaling='95%'] {
  --scaling: 0.95;
}
[data-scaling='100%'] {
  --scaling: 1;
}
[data-scaling='105%'] {
  --scaling: 1.05;
}
[data-scaling='110%'] {
  --scaling: 1.1;
}
