@import './tokens/font.css';
@import './tokens/color.css';
@import './tokens/shadow.css';
@import './tokens/space.css';
@import './tokens/border-radius.css';

/* scaling */
:root {
  /* default: regular */
  --scaling: 1;
}
[data-scaling='smaller'] {
  --scaling: 0.9;
}
[data-scaling='small'] {
  --scaling: 0.95;
}
[data-scaling='regular'] {
  --scaling: 1;
}
[data-scaling='large'] {
  --scaling: 1.05;
}
[data-scaling='larger'] {
  --scaling: 1.1;
}
