@breakpoints {
  .rt-ai-start {
    align-items: flex-start;
  }

  .rt-ai-center {
    align-items: center;
  }

  .rt-ai-end {
    align-items: flex-end;
  }

  .rt-ai-baseline {
    align-items: baseline;
  }

  .rt-ai-stretch {
    align-items: stretch;
  }
}
