@breakpoints {
  .rt-as-start {
    align-self: flex-start;
  }

  .rt-as-center {
    align-self: center;
  }

  .rt-as-end {
    align-self: flex-end;
  }

  .rt-as-baseline {
    align-self: baseline;
  }

  .rt-as-stretch {
    align-self: stretch;
  }
}
