@breakpoints {
  .rt-r-ac-start {
    align-content: start;
  }

  .rt-r-ac-center {
    align-content: center;
  }

  .rt-r-ac-end {
    align-content: end;
  }

  .rt-r-ac-baseline {
    align-content: baseline;
  }

  .rt-r-ac-stretch {
    align-content: stretch;
  }

  .rt-r-ac-space-between {
    align-content: space-between;
  }

  .rt-r-ac-space-around {
    align-content: space-around;
  }

  .rt-r-ac-space-evenly {
    align-content: space-evenly;
  }
}
