@breakpoints {
  .rt-weight-light {
    font-weight: var(--font-weight-light);
  }

  .rt-weight-regular {
    font-weight: var(--font-weight-regular);
  }

  .rt-weight-medium {
    font-weight: var(--font-weight-medium);
  }

  .rt-weight-bold {
    font-weight: var(--font-weight-bold);
  }
}
