@breakpoints {
  .rt-r-gcs {
    /* Keep this selector here to maintain the source order */
  }
  .rt-r-gcs-1 {
    grid-column-start: 1;
  }
  .rt-r-gcs-2 {
    grid-column-start: 2;
  }
  .rt-r-gcs-3 {
    grid-column-start: 3;
  }
  .rt-r-gcs-4 {
    grid-column-start: 4;
  }
  .rt-r-gcs-5 {
    grid-column-start: 5;
  }
  .rt-r-gcs-6 {
    grid-column-start: 6;
  }
  .rt-r-gcs-7 {
    grid-column-start: 7;
  }
  .rt-r-gcs-8 {
    grid-column-start: 8;
  }
  .rt-r-gcs-9 {
    grid-column-start: 9;
  }
}

.rt-r-gcs {
  grid-column-start: var(--grid-column-start);
}
@media (--xs) {
  .xs\:rt-r-gcs {
    grid-column-start: var(--grid-column-start-xs);
  }
}
@media (--sm) {
  .sm\:rt-r-gcs {
    grid-column-start: var(--grid-column-start-sm);
  }
}
@media (--md) {
  .md\:rt-r-gcs {
    grid-column-start: var(--grid-column-start-md);
  }
}
@media (--lg) {
  .lg\:rt-r-gcs {
    grid-column-start: var(--grid-column-start-lg);
  }
}
@media (--xl) {
  .xl\:rt-r-gcs {
    grid-column-start: var(--grid-column-start-xl);
  }
}
