@breakpoints {
  .rt-gtc-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .rt-gtc-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .rt-gtc-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .rt-gtc-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .rt-gtc-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .rt-gtc-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .rt-gtc-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .rt-gtc-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .rt-gtc-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
}
