@breakpoints {
  .rt-h-auto {
    height: auto;
  }

  .rt-h-max-content {
    height: max-content;
  }

  .rt-h-min-content {
    height: min-content;
  }

  .rt-h-0 {
    height: 0;
  }

  .rt-h-1 {
    height: var(--space-1);
  }

  .rt-h-2 {
    height: var(--space-2);
  }

  .rt-h-3 {
    height: var(--space-3);
  }

  .rt-h-4 {
    height: var(--space-4);
  }

  .rt-h-5 {
    height: var(--space-5);
  }

  .rt-h-6 {
    height: var(--space-6);
  }

  .rt-h-7 {
    height: var(--space-7);
  }

  .rt-h-8 {
    height: var(--space-8);
  }

  .rt-h-9 {
    height: var(--space-9);
  }

  .rt-h-50\% {
    height: 50%;
  }

  .rt-h-100\% {
    height: 100%;
  }
}
