@breakpoints {
  .rt-inset-auto {
    inset: auto;
  }

  .rt-top-auto {
    top: auto;
  }

  .rt-right-auto {
    right: auto;
  }

  .rt-bottom-auto {
    bottom: auto;
  }

  .rt-left-auto {
    left: auto;
  }

  .rt-inset-0 {
    inset: 0;
  }

  .rt-top-0 {
    top: 0;
  }

  .rt-right-0 {
    right: 0;
  }

  .rt-bottom-0 {
    bottom: 0;
  }

  .rt-left-0 {
    left: 0;
  }

  .rt-inset-50\% {
    inset: 50%;
  }

  .rt-top-50\% {
    top: 50%;
  }

  .rt-right-50\% {
    right: 50%;
  }

  .rt-bottom-50\% {
    bottom: 50%;
  }

  .rt-left-50\% {
    left: 50%;
  }

  .rt-inset-100\% {
    inset: 100%;
  }

  .rt-top-100\% {
    top: 100%;
  }

  .rt-right-100\% {
    right: 100%;
  }

  .rt-bottom-100\% {
    bottom: 100%;
  }

  .rt-left-100\% {
    left: 100%;
  }
}
