@breakpoints {
  .rt-jc-start {
    justify-content: flex-start;
  }

  .rt-jc-center {
    justify-content: center;
  }

  .rt-jc-end {
    justify-content: flex-end;
  }

  .rt-jc-space-between {
    justify-content: space-between;
  }
}
