.rt-r-max-h {
  max-height: var(--max-height);
}
@media (--xs) {
  .xs\:rt-r-max-h {
    max-height: var(--max-height-xs);
  }
}
@media (--sm) {
  .sm\:rt-r-max-h {
    max-height: var(--max-height-sm);
  }
}
@media (--md) {
  .md\:rt-r-max-h {
    max-height: var(--max-height-md);
  }
}
@media (--lg) {
  .lg\:rt-r-max-h {
    max-height: var(--max-height-lg);
  }
}
@media (--xl) {
  .xl\:rt-r-max-h {
    max-height: var(--max-height-xl);
  }
}
