@breakpoints {
  .rt-r-min-h {
    /* Keep this selector here to maintain the source order */
  }
  .rt-r-min-h-0 {
    min-height: 0;
  }
  .rt-r-min-h-1 {
    min-height: var(--space-1);
  }
  .rt-r-min-h-2 {
    min-height: var(--space-2);
  }
  .rt-r-min-h-3 {
    min-height: var(--space-3);
  }
  .rt-r-min-h-4 {
    min-height: var(--space-4);
  }
  .rt-r-min-h-5 {
    min-height: var(--space-5);
  }
  .rt-r-min-h-6 {
    min-height: var(--space-6);
  }
  .rt-r-min-h-7 {
    min-height: var(--space-7);
  }
  .rt-r-min-h-8 {
    min-height: var(--space-8);
  }
  .rt-r-min-h-9 {
    min-height: var(--space-9);
  }
}

.rt-r-min-h {
  min-height: var(--min-height);
}
@media (--xs) {
  .xs\:rt-r-min-h {
    min-height: var(--min-height-xs);
  }
}
@media (--sm) {
  .sm\:rt-r-min-h {
    min-height: var(--min-height-sm);
  }
}
@media (--md) {
  .md\:rt-r-min-h {
    min-height: var(--min-height-md);
  }
}
@media (--lg) {
  .lg\:rt-r-min-h {
    min-height: var(--min-height-lg);
  }
}
@media (--xl) {
  .xl\:rt-r-min-h {
    min-height: var(--min-height-xl);
  }
}
