@breakpoints {
  .rt-r-p-0 {
    padding: 0;
  }

  .rt-r-p-1 {
    padding: var(--space-1);
  }

  .rt-r-p-2 {
    padding: var(--space-2);
  }

  .rt-r-p-3 {
    padding: var(--space-3);
  }

  .rt-r-p-4 {
    padding: var(--space-4);
  }

  .rt-r-p-5 {
    padding: var(--space-5);
  }

  .rt-r-p-6 {
    padding: var(--space-6);
  }

  .rt-r-p-7 {
    padding: var(--space-7);
  }

  .rt-r-p-8 {
    padding: var(--space-8);
  }

  .rt-r-p-9 {
    padding: var(--space-9);
  }

  .rt-r-p-current {
    padding: var(--inset-padding);
  }

  .rt-r-px-0 {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  .rt-r-px-1 {
    padding-inline-start: var(--space-1);
    padding-inline-end: var(--space-1);
  }

  .rt-r-px-2 {
    padding-inline-start: var(--space-2);
    padding-inline-end: var(--space-2);
  }

  .rt-r-px-3 {
    padding-inline-start: var(--space-3);
    padding-inline-end: var(--space-3);
  }

  .rt-r-px-4 {
    padding-inline-start: var(--space-4);
    padding-inline-end: var(--space-4);
  }

  .rt-r-px-5 {
    padding-inline-start: var(--space-5);
    padding-inline-end: var(--space-5);
  }

  .rt-r-px-6 {
    padding-inline-start: var(--space-6);
    padding-inline-end: var(--space-6);
  }

  .rt-r-px-7 {
    padding-inline-start: var(--space-7);
    padding-inline-end: var(--space-7);
  }

  .rt-r-px-8 {
    padding-inline-start: var(--space-8);
    padding-inline-end: var(--space-8);
  }

  .rt-r-px-9 {
    padding-inline-start: var(--space-9);
    padding-inline-end: var(--space-9);
  }

  .rt-r-px-current {
    padding-inline-start: var(--inset-padding);
    padding-inline-end: var(--inset-padding);
  }

  .rt-r-py-0 {
    padding-block-start: 0;
    padding-block-end: 0;
  }

  .rt-r-py-1 {
    padding-block-start: var(--space-1);
    padding-block-end: var(--space-1);
  }

  .rt-r-py-2 {
    padding-block-start: var(--space-2);
    padding-block-end: var(--space-2);
  }

  .rt-r-py-3 {
    padding-block-start: var(--space-3);
    padding-block-end: var(--space-3);
  }

  .rt-r-py-4 {
    padding-block-start: var(--space-4);
    padding-block-end: var(--space-4);
  }

  .rt-r-py-5 {
    padding-block-start: var(--space-5);
    padding-block-end: var(--space-5);
  }

  .rt-r-py-6 {
    padding-block-start: var(--space-6);
    padding-block-end: var(--space-6);
  }

  .rt-r-py-7 {
    padding-block-start: var(--space-7);
    padding-block-end: var(--space-7);
  }

  .rt-r-py-8 {
    padding-block-start: var(--space-8);
    padding-block-end: var(--space-8);
  }

  .rt-r-py-9 {
    padding-block-start: var(--space-9);
    padding-block-end: var(--space-9);
  }

  .rt-r-py-current {
    padding-block-start: var(--inset-padding);
    padding-block-end: var(--inset-padding);
  }

  .rt-r-pt-0 {
    padding-block-start: 0;
  }

  .rt-r-pt-1 {
    padding-block-start: var(--space-1);
  }

  .rt-r-pt-2 {
    padding-block-start: var(--space-2);
  }

  .rt-r-pt-3 {
    padding-block-start: var(--space-3);
  }

  .rt-r-pt-4 {
    padding-block-start: var(--space-4);
  }

  .rt-r-pt-5 {
    padding-block-start: var(--space-5);
  }

  .rt-r-pt-6 {
    padding-block-start: var(--space-6);
  }

  .rt-r-pt-7 {
    padding-block-start: var(--space-7);
  }

  .rt-r-pt-8 {
    padding-block-start: var(--space-8);
  }

  .rt-r-pt-9 {
    padding-block-start: var(--space-9);
  }

  .rt-r-pt-current {
    padding-block-start: var(--inset-padding);
  }

  .rt-r-pr-0 {
    padding-inline-end: 0;
  }

  .rt-r-pr-1 {
    padding-inline-end: var(--space-1);
  }

  .rt-r-pr-2 {
    padding-inline-end: var(--space-2);
  }

  .rt-r-pr-3 {
    padding-inline-end: var(--space-3);
  }

  .rt-r-pr-4 {
    padding-inline-end: var(--space-4);
  }

  .rt-r-pr-5 {
    padding-inline-end: var(--space-5);
  }

  .rt-r-pr-6 {
    padding-inline-end: var(--space-6);
  }

  .rt-r-pr-7 {
    padding-inline-end: var(--space-7);
  }

  .rt-r-pr-8 {
    padding-inline-end: var(--space-8);
  }

  .rt-r-pr-9 {
    padding-inline-end: var(--space-9);
  }

  .rt-r-pr-current {
    padding-inline-end: var(--inset-padding);
  }

  .rt-r-pb-0 {
    padding-block-end: 0;
  }

  .rt-r-pb-1 {
    padding-block-end: var(--space-1);
  }

  .rt-r-pb-2 {
    padding-block-end: var(--space-2);
  }

  .rt-r-pb-3 {
    padding-block-end: var(--space-3);
  }

  .rt-r-pb-4 {
    padding-block-end: var(--space-4);
  }

  .rt-r-pb-5 {
    padding-block-end: var(--space-5);
  }

  .rt-r-pb-6 {
    padding-block-end: var(--space-6);
  }

  .rt-r-pb-7 {
    padding-block-end: var(--space-7);
  }

  .rt-r-pb-8 {
    padding-block-end: var(--space-8);
  }

  .rt-r-pb-9 {
    padding-block-end: var(--space-9);
  }

  .rt-r-pb-current {
    padding-block-end: var(--inset-padding);
  }

  .rt-r-pl-0 {
    padding-inline-start: 0;
  }

  .rt-r-pl-1 {
    padding-inline-start: var(--space-1);
  }

  .rt-r-pl-2 {
    padding-inline-start: var(--space-2);
  }

  .rt-r-pl-3 {
    padding-inline-start: var(--space-3);
  }

  .rt-r-pl-4 {
    padding-inline-start: var(--space-4);
  }

  .rt-r-pl-5 {
    padding-inline-start: var(--space-5);
  }

  .rt-r-pl-6 {
    padding-inline-start: var(--space-6);
  }

  .rt-r-pl-7 {
    padding-inline-start: var(--space-7);
  }

  .rt-r-pl-8 {
    padding-inline-start: var(--space-8);
  }

  .rt-r-pl-9 {
    padding-inline-start: var(--space-9);
  }

  .rt-r-pl-current {
    padding-inline-start: var(--inset-padding);
  }
}
