@breakpoints {
  .rt-position-static {
    position: static;
  }

  .rt-position-absolute {
    position: absolute;
  }

  .rt-position-relative {
    position: relative;
  }

  .rt-position-fixed {
    position: fixed;
  }

  .rt-position-sticky {
    position: sticky;
  }
}
