@breakpoints {
  .rt-r-w-auto {
    width: auto;
  }

  .rt-r-w-max-content {
    width: max-content;
  }

  .rt-r-w-min-content {
    width: min-content;
  }

  .rt-r-w-0 {
    width: 0;
  }

  .rt-r-w-1 {
    width: var(--space-1);
  }

  .rt-r-w-2 {
    width: var(--space-2);
  }

  .rt-r-w-3 {
    width: var(--space-3);
  }

  .rt-r-w-4 {
    width: var(--space-4);
  }

  .rt-r-w-5 {
    width: var(--space-5);
  }

  .rt-r-w-6 {
    width: var(--space-6);
  }

  .rt-r-w-7 {
    width: var(--space-7);
  }

  .rt-r-w-8 {
    width: var(--space-8);
  }

  .rt-r-w-9 {
    width: var(--space-9);
  }

  .rt-r-w-50\% {
    width: 50%;
  }

  .rt-r-w-100\% {
    width: 100%;
  }
}
