.rui-AvatarRoot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  user-select: none;
  width: var(--size);
  height: var(--size);
  flex-shrink: 0;
}

.rui-AvatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.rui-AvatarFallback {
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: inherit;

  & svg {
    width: var(--fs-1-letter);
    height: var(--fs-1-letter);
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

.rui-AvatarFallback {
  font-weight: 600;

  &.\31-letter {
    font-size: var(--fs-1-letter);
    text-transform: uppercase;
  }
  &.\32-letters {
    font-size: var(--fs-2-letters);
    text-transform: uppercase;
  }
}

@breakpoints {
  .rui-AvatarRoot {
    &.size-1 {
      border-radius: var(--br-2);
      --size: var(--space-5);
      --fs-1-letter: var(--fs-2);
      --fs-2-letters: var(--fs-1);
    }
    &.size-2 {
      border-radius: var(--br-2);
      --size: var(--space-6);
      --fs-1-letter: var(--fs-3);
      --fs-2-letters: var(--fs-2);
    }
    &.size-3 {
      border-radius: var(--br-3);
      --size: var(--space-7);
      --fs-1-letter: var(--fs-4);
      --fs-2-letters: var(--fs-3);
    }
    &.size-4 {
      border-radius: var(--br-3);
      --size: var(--space-8);
      --fs-1-letter: var(--fs-6);
      --fs-2-letters: var(--fs-5);
    }
    &.size-5 {
      border-radius: var(--br-4);
      --size: var(--space-9);
      --fs-1-letter: var(--fs-8);
      --fs-2-letters: var(--fs-7);
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* solid */

.rui-AvatarRoot.variant-solid {
  & .rui-AvatarFallback {
    background-color: var(--accent-9);
    color: var(--accent-9-contrast);
  }
  &:where(.highContrast) .rui-AvatarFallback {
    background-color: var(--accent-12);
    color: var(--accent-1);
  }
}

/* soft */

.rui-AvatarRoot.variant-soft {
  & .rui-AvatarFallback {
    background-color: var(--accent-3);
    color: var(--accent-11);
  }
  &:where(.highContrast) .rui-AvatarFallback {
    color: var(--accent-12);
  }
}
