.rui-AvatarRoot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  user-select: none;
  width: var(--size);
  height: var(--size);
  flex-shrink: 0;
}

.rui-AvatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.rui-AvatarFallback {
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: inherit;

  & svg {
    width: var(--one-letter-font-size);
    height: var(--one-letter-font-size);
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

.rui-AvatarFallback {
  font-weight: var(--font-weight-medium);

  &.\31-letter {
    font-size: var(--one-letter-font-size);
    text-transform: uppercase;
  }
  &.\32-letters {
    font-size: var(--two-letters-font-size);
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
  }
}

@breakpoints {
  .rui-AvatarRoot {
    &.size-1 {
      border-radius: max(var(--radius-2), var(--radius-full));
      --size: var(--space-5);
      --one-letter-font-size: var(--font-size-2);
      --two-letters-font-size: var(--font-size-1);
      --letter-spacing: var(--letter-spacing-1);
    }
    &.size-2 {
      border-radius: max(var(--radius-2), var(--radius-full));
      --size: var(--space-6);
      --one-letter-font-size: var(--font-size-3);
      --two-letters-font-size: var(--font-size-2);
      --letter-spacing: var(--letter-spacing-2);
    }
    &.size-3 {
      border-radius: max(var(--radius-3), var(--radius-full));
      --size: var(--space-7);
      --one-letter-font-size: var(--font-size-4);
      --two-letters-font-size: var(--font-size-3);
      --letter-spacing: var(--letter-spacing-3);
    }
    &.size-4 {
      border-radius: max(var(--radius-3), var(--radius-full));
      --size: var(--space-8);
      --one-letter-font-size: var(--font-size-6);
      --two-letters-font-size: var(--font-size-5);
      --letter-spacing: var(--letter-spacing-5);
    }
    &.size-5 {
      border-radius: max(var(--radius-4), var(--radius-full));
      --size: var(--space-9);
      --one-letter-font-size: var(--font-size-8);
      --two-letters-font-size: var(--font-size-7);
      --letter-spacing: var(--letter-spacing-7);
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* solid */

.rui-AvatarRoot.variant-solid {
  & .rui-AvatarFallback {
    background-color: var(--accent-9);
    color: var(--accent-9-contrast);
  }
  &:where(.high-contrast) .rui-AvatarFallback {
    background-color: var(--accent-12);
    color: var(--accent-1);
  }
}

/* soft */

.rui-AvatarRoot.variant-soft {
  & .rui-AvatarFallback {
    background-color: var(--accent-3);
    color: var(--accent-11);
  }
  &:where(.high-contrast) .rui-AvatarFallback {
    color: var(--accent-12);
  }
}
