.rui-Badge {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  font-weight: 600;
  flex-shrink: 0;
  line-height: 1;
  user-select: none;
  cursor: default;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rui-Badge {
    &.size-1 {
      height: 20px;
      font-size: var(--font-size-1);
      padding-left: var(--space-2);
      padding-right: var(--space-2);
      gap: var(--space-1);
      border-radius: var(--br-1);
    }
    &.size-2 {
      height: var(--space-6);
      font-size: var(--font-size-2);
      padding-left: var(--space-4);
      padding-right: var(--space-4);
      gap: var(--space-2);
      border-radius: var(--br-2);
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* solid */

.rui-Badge.variant-solid {
  background-color: var(--accent-9);
  color: var(--accent-9-contrast);

  &:where(.high-contrast):where([data-accent-scale='gray']) {
    background-color: var(--accent-12);
    color: var(--accent-1);
  }
}

/* surface */

.rui-Badge.variant-surface {
  background-color: var(--color-surface-1-accent);
  box-shadow: inset 0 0 0 0.5px var(--accent-a6), 0 0 0 0.5px var(--accent-a6);
  color: var(--accent-11);

  &:where(.high-contrast) {
    color: var(--accent-12);
  }
}

/* soft */

.rui-Badge.variant-soft {
  background-color: var(--accent-3);
  color: var(--accent-11);
  &:where(.high-contrast) {
    color: var(--accent-12);
  }
}

/* outline */

.rui-Badge.variant-outline {
  box-shadow: inset 0 0 0 0.5px var(--accent-a6), 0 0 0 0.5px var(--accent-a6);
  color: var(--accent-11);
  &:where(.high-contrast) {
    color: var(--accent-12);
  }
}
