.rui-BaseMenuContent {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;

  background-color: var(--content-bg);
  border-radius: min((var(--item-height) / 2 + var(--content-padding)), var(--br-3));

  & .rui-ScrollAreaRoot {
    display: flex;
    flex-direction: column;
  }
  & .rui-ScrollAreaScrollbar {
    --scrollbar-vertical-margin: calc(var(--content-padding) + var(--radius-factor) * 0.001px);
    margin-top: var(--scrollbar-vertical-margin);
    margin-bottom: var(--scrollbar-vertical-margin);
  }
}

.rui-BaseMenuViewport {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: var(--content-padding);
}

.rui-BaseMenuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--br-2);
  padding-left: var(--space-5);
  padding-right: var(--space-3);
  position: relative;
  box-sizing: border-box;
  outline: none;
  cursor: default;

  /* Fix sticky text highlighting after selection in Firefox */
  user-select: none;

  &[data-disabled] {
    pointer-events: none;
  }

  /* reset with :not:has so we still support browsers without :has */
  .rui-BaseMenuContent:not(:has(.rui-BaseMenuCheckboxItem, .rui-BaseMenuRadioItem)) & {
    padding-left: var(--space-3);
  }
  .rui-BaseMenuContent:has(.rui-BaseMenuCheckboxItem, .rui-BaseMenuRadioItem) & {
    padding-left: var(--space-5);
  }
}

.rui-BaseMenuShortcut {
  display: flex;
  align-items: center;
  margin-left: var(--space-5);

  & svg {
    margin-right: calc(-2px * var(--scaling));
  }
}

.rui-BaseMenuItemIndicator {
  position: absolute;
  left: 0;
  width: var(--space-5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rui-BaseMenuSeparator {
  height: 1px;
  margin: var(--space-2) var(--space-3);
}

.rui-BaseMenuLabel {
  display: flex;
  align-items: center;
  padding-left: var(--space-5);
  padding-right: var(--space-3);
  font-size: var(--fs-1);
  user-select: none;
  cursor: default;

  &:not(:first-child) {
    margin-top: var(--space-2);
  }

  /* reset with :not:has so we still support browsers without :has */
  .rui-BaseMenuContent:not(:has(.rui-BaseMenuCheckboxItem, .rui-BaseMenuRadioItem)) & {
    padding-left: var(--space-3);
  }
  .rui-BaseMenuContent:has(.rui-BaseMenuCheckboxItem, .rui-BaseMenuRadioItem) & {
    padding-left: var(--space-5);
  }
}

.rui-BaseMenuArrow {
  fill: var(--content-bg);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rui-BaseMenuContent {
    &.size-1 {
      --content-padding: var(--space-1);
      --item-height: var(--space-5);

      & .rui-BaseMenuItem {
        font-size: var(--fs-1);
        height: var(--space-5);
      }
      & .rui-BaseMenuLabel {
        height: var(--space-5);
      }
    }

    &.size-2 {
      --content-padding: var(--space-2);
      --item-height: var(--space-6);

      & .rui-BaseMenuItem {
        font-size: var(--fs-2);
        height: var(--space-6);
      }
      & .rui-BaseMenuLabel {
        height: var(--space-6);
      }
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

.rui-BaseMenuContent {
  --content-bg: var(--color-panel);
  box-shadow: var(--shadow-3), inset 0 0 0 0.5px var(--gray-a6);
}
.rui-BaseMenuItem[data-accent-scale] {
  color: var(--accent-11);
}
.rui-BaseMenuItem[data-disabled] {
  color: var(--gray-8);
}
.rui-BaseMenuShortcut {
  color: var(--gray-11);
}
.rui-BaseMenuItem[data-disabled] .rui-BaseMenuShortcut,
.rui-BaseMenuItem[data-highlighted] .rui-BaseMenuShortcut,
.rui-BaseMenuSubTrigger[data-state='open'] .rui-BaseMenuShortcut {
  color: inherit;
}
.rui-BaseMenuLabel {
  color: var(--gray-11);
}
.rui-BaseMenuSeparator {
  background-color: var(--gray-6);
}

/* solid */

.rui-BaseMenuContent.variant-solid {
  & .rui-BaseMenuSubTrigger[data-state='open'] {
    background-color: var(--accent-5);
  }
  & .rui-BaseMenuItem[data-highlighted] {
    background-color: var(--accent-9);
    color: var(--accent-9-contrast);
  }
  &:where(.high-contrast) {
    & .rui-BaseMenuSubTrigger[data-state='open'],
    & .rui-BaseMenuItem[data-highlighted] {
      background-color: var(--accent-12);
      color: var(--accent-1);

      &[data-accent-scale] {
        background-color: var(--accent-9);
        color: var(--accent-9-contrast);
      }
    }
  }
}

/* soft */

.rui-BaseMenuContent.variant-soft {
  & .rui-BaseMenuSubTrigger[data-state='open'] {
    background-color: var(--accent-3);
  }
  & .rui-BaseMenuItem[data-highlighted] {
    background-color: var(--accent-5);
    &[data-accent-scale] {
      color: var(--accent-12);
    }
  }
}
