.rui-BaseMenuContent {
  background-color: var(--content-bg);
  overflow: hidden;
  padding: var(--content-padding);
  border-radius: min((var(--item-height) / 2 + var(--content-padding)), var(--br-3));
  min-width: 180px;
}

.rui-BaseMenuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--br-2);
  padding-left: var(--space-5);
  padding-right: var(--space-4);
  position: relative;
  box-sizing: border-box;
  outline: none;
  cursor: default;

  /* Fix sticky text highlighting after selection in Firefox */
  user-select: none;

  &[data-disabled] {
    pointer-events: none;
  }
}

.rui-BaseMenuShortcut {
  display: flex;
  align-items: center;
  margin-left: var(--space-5);

  & svg {
    margin-right: calc(-2px * var(--scaling));
  }
}

.rui-BaseMenuItemIndicator {
  position: absolute;
  left: 0;
  width: var(--space-5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rui-BaseMenuSeparator {
  height: 1px;
  margin: var(--space-2);
}

.rui-BaseMenuLabel {
  display: flex;
  align-items: center;
  padding-left: var(--space-5);
  padding-right: var(--space-4);
  font-size: var(--fs-1);
  user-select: none;
  cursor: default;

  &:not(:first-child) {
    margin-top: var(--space-2);
  }
}

.rui-BaseMenuArrow {
  fill: var(--content-bg);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rui-BaseMenuContent {
    /* size 1 */

    &.size-1 {
      --content-padding: var(--space-1);
      --item-height: var(--space-5);
    }
    &.size-1 .rui-BaseMenuItem {
      font-size: var(--fs-1);
      height: var(--space-5);
    }
    &.size-1 .rui-BaseMenuLabel {
      height: var(--space-5);
    }

    /* size 2 */

    &.size-2 {
      --content-padding: var(--space-2);
      --item-height: var(--space-6);
    }
    &.size-2 .rui-BaseMenuItem {
      font-size: var(--fs-2);
      height: var(--space-6);
    }
    &.size-2 .rui-BaseMenuLabel {
      height: var(--space-6);
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

.rui-BaseMenuContent {
  --content-bg: var(--color-panel);
  box-shadow: var(--shadow-3), inset 0 0 0 0.5px var(--gray-a6);
}
.rui-BaseMenuItem[data-accent-scale] {
  color: var(--accent-11);
}
.rui-BaseMenuItem[data-disabled] {
  color: var(--gray-10);
}
.rui-BaseMenuShortcut {
  color: var(--gray-11);
}
.rui-BaseMenuItem[data-disabled] .rui-BaseMenuShortcut,
.rui-BaseMenuItem[data-highlighted] .rui-BaseMenuShortcut,
.rui-BaseMenuSubTrigger[data-state='open'] .rui-BaseMenuShortcut {
  color: inherit;
}
.rui-BaseMenuLabel {
  color: var(--gray-11);
}
.rui-BaseMenuSeparator {
  background-color: var(--gray-6);
}

/* solid */

.rui-BaseMenuContent.variant-solid {
  & .rui-BaseMenuSubTrigger[data-state='open'] {
    background-color: var(--accent-5);
  }
  & .rui-BaseMenuItem[data-highlighted] {
    background-color: var(--accent-9);
    color: var(--accent-9-contrast);
  }
  &:where(.highContrast) {
    & .rui-BaseMenuSubTrigger[data-state='open'],
    & .rui-BaseMenuItem[data-highlighted] {
      background-color: var(--accent-12);
      color: var(--accent-1);

      &[data-accent-scale] {
        background-color: var(--accent-9);
        color: var(--accent-9-contrast);
      }
    }
  }
}

/* soft */

.rui-BaseMenuContent.variant-soft {
  & .rui-BaseMenuSubTrigger[data-state='open'] {
    background-color: var(--accent-3);
  }
  & .rui-BaseMenuItem[data-highlighted] {
    background-color: var(--accent-5);
    &[data-accent-scale] {
      color: var(--accent-12);
    }
  }
}
