.rt-BaseMenuContent {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;

  background-color: var(--base-menu-bg);
  --base-menu-radius: min(
    (var(--base-menu-item-height) / 2 + var(--base-menu-padding)),
    max(var(--radius-3), var(--radius-full))
  );
  border-radius: var(--base-menu-radius);

  & .rt-ScrollAreaRoot {
    display: flex;
    flex-direction: column;
  }
  & .rt-ScrollAreaScrollbar {
    --base-menu-scrollbar-margin: max(
      calc(var(--base-menu-radius) / 1.5),
      var(--base-menu-padding)
    );
    margin-top: var(--base-menu-scrollbar-margin);
    margin-bottom: var(--base-menu-scrollbar-margin);
  }
}

.rt-BaseMenuViewport {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: var(--base-menu-padding);

  .rt-BaseMenuContent:has(.rt-ScrollAreaScrollbar[data-orientation='vertical']) & {
    padding-right: 12px;
  }
}

.rt-BaseMenuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: max(var(--radius-2), var(--radius-full));
  height: var(--base-menu-item-height);
  padding-left: var(--space-5);
  padding-right: var(--space-3);
  position: relative;
  box-sizing: border-box;
  outline: none;
  cursor: default;

  scroll-margin: var(--base-menu-padding) 0;

  /* Fix sticky text highlighting after selection in Firefox */
  user-select: none;

  &[data-disabled] {
    pointer-events: none;
  }

  /* reset with :not:has so we still support browsers without :has */
  .rt-BaseMenuContent:not(:has(.rt-BaseMenuCheckboxItem, .rt-BaseMenuRadioItem)) & {
    padding-left: var(--space-3);
  }
  .rt-BaseMenuContent:has(.rt-BaseMenuCheckboxItem, .rt-BaseMenuRadioItem) & {
    padding-left: var(--space-5);
  }
}

.rt-BaseMenuShortcut {
  display: flex;
  align-items: center;
  margin-left: var(--space-5);

  & svg {
    margin-right: calc(-2px * var(--scaling));
  }
}

.rt-BaseMenuItemIndicator {
  position: absolute;
  left: 0;
  width: var(--space-5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rt-BaseMenuSeparator {
  height: 1px;
  margin: var(--space-2) var(--space-3);
}

.rt-BaseMenuLabel {
  display: flex;
  align-items: center;
  height: var(--base-menu-item-height);
  padding-left: var(--space-5);
  padding-right: var(--space-3);
  font-size: var(--font-size-1);
  letter-spacing: var(--letter-spacing-1);
  user-select: none;
  cursor: default;

  &:not(:first-child) {
    margin-top: var(--space-2);
  }

  /* reset with :not:has so we still support browsers without :has */
  .rt-BaseMenuContent:not(:has(.rt-BaseMenuCheckboxItem, .rt-BaseMenuRadioItem)) & {
    padding-left: var(--space-3);
  }
  .rt-BaseMenuContent:has(.rt-BaseMenuCheckboxItem, .rt-BaseMenuRadioItem) & {
    padding-left: var(--space-5);
  }
}

.rt-BaseMenuArrow {
  fill: var(--base-menu-bg);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-BaseMenuContent {
    &.size-1 {
      --base-menu-padding: var(--space-1);
      --base-menu-item-height: var(--space-5);

      & .rt-BaseMenuItem {
        font-size: var(--font-size-1);
        letter-spacing: var(--letter-spacing-1);
      }
    }

    &.size-2 {
      --base-menu-padding: var(--space-2);
      --base-menu-item-height: var(--space-6);

      & .rt-BaseMenuItem {
        font-size: var(--font-size-2);
        letter-spacing: var(--letter-spacing-2);
      }
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

.rt-BaseMenuContent {
  --base-menu-bg: var(--color-panel-solid);
  box-shadow: var(--shadow-5);
}
.rt-BaseMenuItem[data-accent-scale] {
  color: var(--accent-a11);
}
.rt-BaseMenuItem[data-disabled] {
  color: var(--gray-a8);
}
.rt-BaseMenuShortcut {
  color: var(--gray-a11);
}
.rt-BaseMenuItem[data-disabled] .rt-BaseMenuShortcut,
.rt-BaseMenuItem[data-highlighted] .rt-BaseMenuShortcut,
.rt-BaseMenuSubTrigger[data-state='open'] .rt-BaseMenuShortcut {
  color: inherit;
}
.rt-BaseMenuLabel {
  color: var(--gray-a11);
}
.rt-BaseMenuSeparator {
  background-color: var(--gray-a6);
}

/* solid */

.rt-BaseMenuContent.variant-solid {
  & .rt-BaseMenuSubTrigger[data-state='open'] {
    background-color: var(--accent-a5);
  }
  & .rt-BaseMenuItem[data-highlighted] {
    background-color: var(--accent-9);
    color: var(--accent-9-contrast);
  }
  &:where(.high-contrast) {
    & .rt-BaseMenuSubTrigger[data-state='open'],
    & .rt-BaseMenuItem[data-highlighted] {
      background-color: var(--accent-12);
      color: var(--accent-1);

      &[data-accent-scale] {
        background-color: var(--accent-9);
        color: var(--accent-9-contrast);
      }
    }
  }
}

/* soft */

.rt-BaseMenuContent.variant-soft {
  & .rt-BaseMenuSubTrigger[data-state='open'] {
    background-color: var(--accent-a3);
  }
  & .rt-BaseMenuItem[data-highlighted] {
    background-color: var(--accent-a5);
    &[data-accent-scale] {
      color: var(--accent-12);
    }
  }
}
