.rt-BaseButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
  user-select: none;
  vertical-align: top;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

.rt-BaseButton {
  &:where(:not(.rt-variant-ghost)) {
    height: var(--base-button-height);
  }
  &:where(.rt-variant-ghost) {
    box-sizing: content-box;
    height: fit-content;
  }
}

@breakpoints {
  .rt-BaseButton {
    &.rt-r-size-1 {
      --base-button__classic-active__offset-override: 1px;
      --base-button-height: var(--space-5);
      border-radius: max(var(--radius-1), var(--radius-full));
    }
    &.rt-r-size-2 {
      --base-button-height: var(--space-6);
      border-radius: max(var(--radius-2), var(--radius-full));
    }
    &.rt-r-size-3 {
      --base-button-height: var(--space-7);
      border-radius: max(var(--radius-3), var(--radius-full));
    }
    &.rt-r-size-4 {
      --base-button-height: var(--space-8);
      border-radius: max(var(--radius-4), var(--radius-full));
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* classic */

.radix-themes {
  --button__classic__pseudo-inset: 1px;
  --button__classic__border: initial;
  --button__classic-hover-high-contrast__overlay-color: var(--black-a7);

  /* prettier-ignore */
  --button__classic__shadows:
		/* top sharp inner-shine */
		inset 0 1px 0 1px var(--white-a6),
		/* top soft inner-shine */
		inset 0 6px 4px -4px var(--white-a8),
		/* bottom inner-shadow */
		inset 0 -1px 0 1px var(--black-a6)
	;

  /* prettier-ignore */
  --button__classic-active__shadows:
		/* top sharp inner-shadow */
		inset 0 1px 0 1px var(--black-a4),
		/* top soft inner-shadow */
		inset 0 6px 4px -4px var(--black-a8),
		/* bottom soft inner-shine */
		inset 0 -1px 0 1px var(--white-a3),
		/* bottom soft inner-shine */
		inset 0 -6px 4px -4px var(--white-a6)
	;
}
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) .radix-themes:not(.light, .light-theme) {
  --button__classic__pseudo-inset: 0px;
  --button__classic__border: 0 0 0 1px var(--black-a8);
  --button__classic-hover-high-contrast__overlay-color: var(--black-a4);

  /* prettier-ignore */
  --button__classic__shadows:
		/* top sharp inner-shine */
		inset 0 1px 0 0 var(--white-a8),
		/* top soft inner-shine */
		inset 0 5px 3px -3px var(--white-a8),
		/* bottom inner-shadow */
		inset 0 -1px 0 0 var(--black-a9)
	;

  /* prettier-ignore */
  --button__classic-active__shadows:
		/* top sharp inner-shadow */
		inset 0 1px 0 0 var(--black-a5),
		/* top soft inner-shadow */
		inset 0 5px 3px -3px var(--black-a8),
		/* bottom soft inner-shine */
		inset 0 -1px 0 0 var(--white-a3),
		/* bottom soft inner-shine */
		inset 0 -5px 3px -3px var(--white-a6)
	;
}

.rt-BaseButton.rt-variant-classic {
  background-color: var(--accent-9);
  background-image: linear-gradient(var(--black-a2), transparent 50%);
  color: var(--accent-9-contrast);

  /* prettier-ignore */
  --button__classic__box-shadow:
		/* border */
		var(--button__classic__border, inset 0 0 0 1px var(--black-a8), inset 0 0 0 1px var(--accent-10)),
		var(--button__classic__shadows)
	;

  box-shadow: var(--button__classic__box-shadow);

  @media (hover: hover) {
    &:where(:hover) {
      background-image: linear-gradient(var(--black-a4), transparent);

      &:where(.rt-high-contrast) {
        background-image: linear-gradient(
          var(--button__classic-hover-high-contrast__overlay-color),
          var(--button__classic-hover-high-contrast__overlay-color)
        );
      }
    }
  }
  &:where([data-state='open']) {
    background-image: linear-gradient(var(--black-a4), transparent);

    &:where(.rt-high-contrast) {
      background-image: linear-gradient(
        var(--button__classic-hover-high-contrast__overlay-color),
        var(--button__classic-hover-high-contrast__overlay-color)
      );
    }
  }
  &:where(:active:not([data-state='open'], :disabled)) {
    background-image: linear-gradient(var(--black-a6), transparent);
    padding-top: var(--base-button__classic-active__offset-override, 2px);

    /* prettier-ignore */
    --button__classic__box-shadow:
			/* border */
			var(--button__classic__border, inset 0 0 0 1px var(--black-a10), inset 0 0 0 1px var(--accent-10)),
			var(--button__classic-active__shadows)
		;

    &::after {
      opacity: 0;
    }
  }

  position: relative;
  z-index: 0;
  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: var(--button__classic__pseudo-inset);
    border-radius: inherit;
    pointer-events: none;
  }
  &::before {
    z-index: 1;
    background-image: linear-gradient(var(--accent-a4), transparent 50%);
    mix-blend-mode: darken;
  }
  &::after {
    z-index: 2;
    background-image: linear-gradient(transparent 50%, var(--white-a8));
    mix-blend-mode: soft-light;
  }

  &:where(:focus-visible) {
    box-shadow: 0 0 0 2px var(--accent-3), 0 0 0 4px var(--accent-a8),
      var(--button__classic__box-shadow);
  }

  &:where(.rt-high-contrast) {
    background-color: var(--accent-12);
    color: var(--gray-1);

    /* prettier-ignore */
    --button__classic__box-shadow:
			/* border */
			var(--button__classic__border, inset 0 0 0 1px var(--black-a8), inset 0 0 0 1px var(--accent-12)),
			var(--button__classic__shadows)
		;

    &:active:not([data-state='open']) {
      /* prettier-ignore */
      --button__classic__box-shadow:
				/* border */
				var(--button__classic__border, inset 0 0 0 1px var(--black-a10), inset 0 0 0 1px var(--accent-12)),
				var(--button__classic-active__shadows)
			;
    }
  }
}

/* solid */

.radix-themes {
  --button-filter__solid-active: brightness(0.92) saturate(1.1);

  --button-filter__solid-high-contrast-hover: contrast(0.88) saturate(1.1) brightness(1.1);
  --button-filter__solid-high-contrast-active: contrast(0.82) saturate(1.2) brightness(1.16);
}
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) .radix-themes:not(.light, .light-theme) {
  --button-filter__solid-active: brightness(1.08);

  --button-filter__solid-high-contrast-hover: brightness(0.95) saturate(1.1);
  --button-filter__solid-high-contrast-active: brightness(0.9) saturate(1.2);
}

.rt-BaseButton.rt-variant-solid {
  background-color: var(--accent-9);
  color: var(--accent-9-contrast);

  @media (hover: hover) {
    &:where(:hover) {
      background-color: var(--accent-10);
    }
  }
  &:where([data-state='open']) {
    background-color: var(--accent-10);
  }
  &:where(:active:not([data-state='open'])) {
    background-color: var(--accent-10);
    filter: var(--button-filter__solid-active);
  }
  &:where(:focus-visible) {
    box-shadow: 0 0 0 2px var(--accent-3), 0 0 0 4px var(--accent-a8);
  }

  &:where(.rt-high-contrast) {
    background-color: var(--accent-12);
    color: var(--gray-1);

    @media (hover: hover) {
      &:where(:hover) {
        background-color: var(--accent-12);
        filter: var(--button-filter__solid-high-contrast-hover);
      }
    }
    &:where([data-state='open']) {
      background-color: var(--accent-12);
      filter: var(--button-filter__solid-high-contrast-hover);
    }
    &:where(:active:not([data-state='open'])) {
      background-color: var(--accent-12);
      filter: var(--button-filter__solid-high-contrast-active);
    }
  }
}

/* soft / ghost */

.rt-BaseButton.rt-variant-soft,
.rt-BaseButton.rt-variant-ghost {
  color: var(--accent-a11);

  &:where(:focus-visible) {
    box-shadow: inset 0 0 0 1px var(--accent-8), 0 0 0 1px var(--accent-a8);
  }
  &:where(.rt-high-contrast) {
    color: var(--accent-12);
  }
}
.rt-BaseButton.rt-variant-soft {
  background-color: var(--accent-a3);

  @media (hover: hover) {
    &:where(:hover) {
      background-color: var(--accent-a4);
    }
  }
  &:where([data-state='open']) {
    background-color: var(--accent-a4);
  }
  &:where(:active:not([data-state='open'])) {
    background-color: var(--accent-a5);
  }
}
.rt-BaseButton.rt-variant-ghost {
  @media (hover: hover) {
    &:where(:hover) {
      background-color: var(--accent-a3);
    }
  }
  &:where([data-state='open']) {
    background-color: var(--accent-a3);
  }
  &:where(:active:not([data-state='open'])) {
    background-color: var(--accent-a4);
  }
}

/* outline */

.rt-BaseButton.rt-variant-outline {
  box-shadow: inset 0 0 0 1px var(--accent-a8);
  color: var(--accent-a11);

  @media (hover: hover) {
    &:where(:hover) {
      background-color: var(--accent-a2);
    }
  }
  &:where([data-state='open']) {
    background-color: var(--accent-a2);
  }
  &:where(:active:not([data-state='open'])) {
    background-color: var(--accent-a3);
  }
  &:where(:focus-visible) {
    box-shadow: inset 0 0 0 1px var(--accent-a8), 0 0 0 1px var(--accent-a8);
  }

  &:where(.rt-high-contrast) {
    box-shadow: inset 0 0 0 1px var(--accent-a7), inset 0 0 0 1px var(--gray-a11);
    color: var(--accent-12);

    &:where(:focus-visible) {
      box-shadow: inset 0 0 0 1px var(--accent-a7), inset 0 0 0 1px var(--gray-a12),
        0 0 0 1px var(--accent-a7), 0 0 0 1px var(--gray-a12);
    }
  }
}

/* surface */

.rt-BaseButton.rt-variant-surface {
  background-color: var(--color-surface-accent);
  box-shadow: inset 0 0 0 1px var(--accent-a7);
  color: var(--accent-a11);

  @media (hover: hover) {
    &:where(:hover) {
      box-shadow: inset 0 0 0 1px var(--accent-a8);
    }
  }
  &:where([data-state='open']) {
    box-shadow: inset 0 0 0 1px var(--accent-a8);
  }
  &:where(:active:not([data-state='open'])) {
    background-color: var(--accent-a3);
    box-shadow: inset 0 0 0 1px var(--accent-a8);
  }
  &:where(:focus-visible) {
    box-shadow: inset 0 0 0 1px var(--accent-8), 0 0 0 1px var(--accent-a8);
  }

  &:where(.rt-high-contrast) {
    color: var(--accent-12);
  }
}

/* all disabled buttons */

.rt-BaseButton:disabled {
  color: var(--gray-a8);
  cursor: not-allowed;
  box-shadow: none;
  filter: none;
  background-color: transparent;
  background-image: none;

  &:where(:not(.rt-variant-ghost)) {
    background-color: var(--gray-a3);
  }

  &::before,
  &::after {
    display: none;
  }
}
