.rt-BaseButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
  user-select: none;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

.rt-BaseButton {
  &:where(:not(.variant-ghost)) {
    height: var(--base-button-height);
  }
  &:where(.variant-ghost) {
    box-sizing: content-box;
    height: fit-content;
  }
}

@breakpoints {
  .rt-BaseButton {
    &.size-1 {
      --base-button-height: var(--space-5);
      border-radius: max(var(--radius-2), var(--radius-full));
    }
    &.size-2 {
      --base-button-height: var(--space-6);
      border-radius: max(var(--radius-2), var(--radius-full));
    }
    &.size-3 {
      --base-button-height: var(--space-7);
      border-radius: max(var(--radius-3), var(--radius-full));
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* solid */

.radix-themes {
  &,
  & [data-accent-scale]:not(.light, .light-theme) {
    --button-bg__solid-active__mix: color-mix(in hsl, var(--accent-10) 85%, var(--accent-12));
    --button-bg__solid-active: var(--button-bg__solid-active__mix, var(--accent-11));
  }
}
.dark,
.dark-theme,
.dark .radix-themes:not(.light),
.dark-theme .radix-themes:not(.light-theme) {
  &,
  & [data-accent-scale]:not(.light, .light-theme) {
    --button-bg__solid-active__mix: color-mix(in hsl, var(--accent-10) 85%, var(--accent-12));
    --button-bg__solid-active: var(--button-bg__solid-active__mix, var(--accent-11));
  }
}

.rt-BaseButton.variant-solid {
  background-color: var(--accent-9);
  color: var(--accent-9-contrast);

  &:where(:hover, [data-state='open']) {
    background-color: var(--accent-10);
  }
  &:where(:active) {
    background-color: var(--button-bg__solid-active);
  }
  &:where(:focus-visible) {
    box-shadow: inset 0 0 0 2px var(--color-background), 0 0 0 1px var(--accent-a9);
  }

  &:where(.high-contrast) {
    background-color: var(--accent-12);
    color: var(--gray-1);

    &:where(:hover, [data-state='open']) {
      opacity: 0.92;
    }
    &:where(:active) {
      opacity: 0.86;
    }
    &:where(:focus-visible) {
      box-shadow: inset 0 0 0 2px var(--color-background), 0 0 0 1px var(--accent-a12);
    }
  }
}

/* soft / ghost */

.rt-BaseButton.variant-soft,
.rt-BaseButton.variant-ghost {
  color: var(--accent-11);

  &:where(:focus-visible) {
    box-shadow: inset 0 0 0 1px var(--accent-a7), 0 0 0 1px var(--accent-a7);
  }
  &:where(.high-contrast) {
    color: var(--accent-12);
  }
}
.rt-BaseButton.variant-soft {
  background-color: var(--accent-a3);

  &:where(:hover, [data-state='open']) {
    background-color: var(--accent-a4);
  }
  &:where(:active) {
    background-color: var(--accent-a5);
  }
}
.rt-BaseButton.variant-ghost {
  &:where(:hover, [data-state='open']) {
    background-color: var(--accent-a3);
  }
  &:where(:active) {
    background-color: var(--accent-a4);
  }
}

/* outline / surface */

.rt-BaseButton.variant-outline,
.rt-BaseButton.variant-surface {
  box-shadow: inset 0 0 0 1px var(--accent-a7);
  color: var(--accent-11);

  &:where(:hover, [data-state='open']) {
    background-color: var(--accent-a2);
    box-shadow: inset 0 0 0 1px var(--accent-a8);
  }
  &:where(:active) {
    box-shadow: inset 0 0 0 1px var(--accent-a9);
  }
  &:where(:focus-visible) {
    box-shadow: inset 0 0 0 1px var(--accent-a8), 0 0 0 1px var(--accent-a8);
  }
  &:where(:active:focus-visible) {
    box-shadow: inset 0 0 0 1px var(--accent-a9), 0 0 0 1px var(--accent-a8);
  }

  &:where(.high-contrast) {
    color: var(--accent-12);
  }
}
.rt-BaseButton:where(.variant-surface) {
  background-color: var(--color-surface-1-accent);
}

/* all disabled buttons */

.rt-BaseButton:disabled {
  color: var(--gray-a8);
  cursor: not-allowed;
  background-color: var(--gray-a3);
  box-shadow: none;
  filter: none;
}
