.rui-BaseButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
  line-height: 1;
  user-select: none;

  &:where(:not(.variant-ghost)) {
    height: var(--base-button-height);
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rui-BaseButton {
    &.size-1 {
      --base-button-height: var(--space-5);
      border-radius: max(var(--radius-2), var(--radius-full));
    }
    &.size-2 {
      --base-button-height: var(--space-6);
      border-radius: max(var(--radius-2), var(--radius-full));

      &:where(.variant-ghost) {
        --base-button-height: var(--space-5);
      }
    }
    &.size-3 {
      --base-button-height: var(--space-7);
      border-radius: max(var(--radius-3), var(--radius-full));

      &:where(.variant-ghost) {
        --base-button-height: var(--space-6);
      }
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* solid */

.rui-BaseButton.variant-solid {
  background-color: var(--accent-9);
  color: var(--accent-9-contrast);

  &:where(:hover, [data-state='open']) {
    background-color: var(--accent-10);
  }
  &:where(:active) {
    background-color: var(--accent-10);
    filter: brightness(0.95);
    :where(.dark-theme) & {
      filter: brightness(1.05);
    }
  }
  &:where(:focus-visible) {
    box-shadow: inset 0 0 0 2px var(--color-background), 0 0 0 1px var(--accent-a9);
  }

  &:where(.high-contrast) {
    background-color: var(--accent-12);
    color: var(--gray-1);

    &:where(:hover, [data-state='open']) {
      opacity: 0.92;
    }
    &:where(:active) {
      opacity: 0.86;
    }
    &:where(:focus-visible) {
      box-shadow: inset 0 0 0 2px var(--color-background), 0 0 0 1px var(--accent-a12);
    }
  }
}

/* soft */

.rui-BaseButton.variant-soft {
  background-color: var(--accent-a3);
  color: var(--accent-11);

  &:where(:hover, [data-state='open']) {
    background-color: var(--accent-a4);
  }
  &:where(:active) {
    background-color: var(--accent-a5);
  }
  &:where(:focus-visible) {
    box-shadow: inset 0 0 0 1px var(--accent-a7), 0 0 0 1px var(--accent-a7);
  }
  &:where(.high-contrast) {
    color: var(--accent-12);
  }
}

/* ghost */

.rui-BaseButton.variant-ghost {
  position: relative;
  color: var(--accent-11);

  &:where(:hover, [data-state='open'])::before {
    background-color: var(--accent-a3);
  }
  &:where(:active)::before {
    background-color: var(--accent-a4);
  }
  &:where(:focus-visible)::before {
    box-shadow: inset 0 0 0 1px var(--accent-a7), 0 0 0 1px var(--accent-a7);
  }
  &:where(.high-contrast) {
    color: var(--accent-12);
  }
}

/* outline / surface */

.rui-BaseButton.variant-outline,
.rui-BaseButton.variant-surface {
  box-shadow: inset 0 0 0 1px var(--accent-a7);
  color: var(--accent-11);

  &:where(:hover, [data-state='open']) {
    background-color: var(--accent-a2);
    box-shadow: inset 0 0 0 1px var(--accent-a8);
  }
  &:where(:active) {
    box-shadow: inset 0 0 0 1px var(--accent-a9);
  }
  &:where(:focus-visible) {
    box-shadow: inset 0 0 0 1px var(--accent-a8), 0 0 0 1px var(--accent-a8);
  }
  &:where(:active:focus-visible) {
    box-shadow: inset 0 0 0 1px var(--accent-a9), 0 0 0 1px var(--accent-a8);
  }

  &:where(.high-contrast) {
    color: var(--accent-12);
  }
}
.rui-BaseButton:where(.variant-surface) {
  background-color: var(--color-surface-1-accent);
}

/* all disabled buttons */

.rui-BaseButton:disabled {
  color: var(--gray-a8);
  cursor: not-allowed;
}
.rui-BaseButton:where(:not(.variant-ghost)):disabled,
.rui-BaseButton:where(.variant-ghost):disabled::before {
  background-color: var(--gray-a3);
  box-shadow: none;
  filter: none;
}
