.rt-CalloutRoot {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  text-align: left;
  color: var(--accent-a11);

  &:where(.rt-high-contrast) {
    color: var(--accent-12);
  }
}

.rt-CalloutIcon {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  height: var(--line-height);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-CalloutRoot {
    &:where(.rt-r-size-1) {
      gap: var(--space-2);
      padding: var(--space-3);
      border-radius: var(--radius-3);
    }
    &:where(.rt-r-size-2) {
      gap: var(--space-3);
      padding: var(--space-4);
      border-radius: var(--radius-4);
    }
    &:where(.rt-r-size-3) {
      gap: var(--space-4);
      padding: var(--space-5);
      border-radius: var(--radius-5);
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* soft */

.rt-CalloutRoot:where(.rt-variant-soft) {
  background-color: var(--accent-a3);
}

/* surface */

.rt-CalloutRoot:where(.rt-variant-surface) {
  box-shadow: inset 0 0 0 1px var(--accent-a6);
  background-color: var(--accent-a2);
}

/* outline */

.rt-CalloutRoot:where(.rt-variant-outline) {
  box-shadow: inset 0 0 0 1px var(--accent-a7);
}
