.rui-Card {
  position: relative;

  &:where(button, a) {
    display: block;
  }

  &::after {
    inset: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
    content: '';
  }
}

.rui-CardInner {
  position: relative;
  box-sizing: border-box;
  border-radius: inherit;
  overflow: hidden;
  height: 100%;

  padding: var(--card-padding);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rui-Card {
    &.size-1 {
      --card-padding: var(--space-3);
      border-radius: var(--radius-4);
    }
    &.size-2 {
      --card-padding: var(--space-4);
      border-radius: var(--radius-4);
    }
    &.size-3 {
      --card-padding: var(--space-5);
      border-radius: var(--radius-5);
    }
    &.size-4 {
      --card-padding: var(--space-6);
      border-radius: var(--radius-5);
    }
    &.size-5 {
      --card-padding: var(--space-8);
      border-radius: var(--radius-6);
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* outline/surface */

.rui-Card.variant-outline,
.rui-Card.variant-surface {
  &::after {
    box-shadow: inset 0 0 0 1px var(--gray-a6);
  }
  &:where(button, [href]) {
    &:hover::after {
      box-shadow: inset 0 0 0 1px var(--gray-a8);
    }
    &:focus-visible::after {
      box-shadow: 0 0 0 2px var(--accent-8);
    }
  }
}
.rui-Card.variant-surface {
  background-color: var(--color-surface-1);
}

/* ghost */

.rui-Card.variant-ghost {
  &:where(button, [href]) {
    &:hover {
      background-color: var(--gray-a3);
    }
    &:focus-visible::after {
      box-shadow: 0 0 0 2px var(--accent-8);
    }
  }
}
