.rui-CheckboxRoot {
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  flex-shrink: 0;

  /* Match Text size 2 line-height */
  height: 20px;
}

.rui-CheckboxButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: var(--size);
  width: var(--size);
  border-radius: var(--radius);
}

.rui-CheckboxIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--size);
  width: var(--size);
}
.rui-CheckboxIndicator svg {
  width: 100%;
  height: 100%;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rui-CheckboxRoot.size-1 {
    --size: var(--space-4);
    --radius: min(var(--brs-1), var(--br-3));
  }
  .rui-CheckboxRoot.size-2 {
    --size: var(--space-5);
    --radius: min(var(--brs-2), var(--br-4));
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

.rui-CheckboxButton:where([data-state='unchecked']) {
  box-shadow: var(--shadow-1);
  background-color: var(--surface-1);
}
.rui-CheckboxButton:where([data-disabled]) {
  box-shadow: inset 0 0 0 1px var(--mono-a6);
  background-color: var(--surface-3);
  cursor: not-allowed;
  color: var(--mono-a8);
}

/* solid */

.rui-CheckboxButton.variant-solid:where(:focus-visible) {
  outline-style: solid;
  outline-offset: 1px;
  outline-width: 2px;
  outline-color: var(--accent-7);
}
.rui-CheckboxButton.variant-solid:where([data-state='checked']:not([data-disabled])) {
  background-color: var(--accent-9);
  color: var(--accent-9-contrast);
}

/* solid-mono */

.rui-CheckboxButton.variant-solid-mono:where(:focus-visible) {
  outline-style: solid;
  outline-offset: 1px;
  outline-width: 2px;
  outline-color: var(--mono-a11);
}
.rui-CheckboxButton.variant-solid-mono:where([data-state='checked']:not([data-disabled])) {
  background-color: var(--mono-a12);
  color: var(--mono-1);
}
