@import './base-card.css';
@import './base-checkbox.css';

.rt-CheckboxCardGroupRoot {
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  cursor: default;
}

.rt-CheckboxCardGroupItem {
  --base-card-padding-top: var(--checkbox-card-group-item-padding-y);
  --base-card-padding-right: var(--checkbox-card-group-item-padding-right);
  --base-card-padding-bottom: var(--checkbox-card-group-item-padding-y);
  --base-card-padding-left: var(--checkbox-card-group-item-padding-left);
  --base-card-border-radius: var(--checkbox-card-group-item-border-radius);
  --base-card-border-width: var(--checkbox-card-group-item-border-width);

  --checkbox-card-group-item-padding-right: calc(
    var(--checkbox-card-group-item-padding-left) * 2 + var(--checkbox-card-group-item-checkbox-size)
  );

  display: flex;
  align-items: center;
  gap: var(--checkbox-card-group-item-gap);
  cursor: var(--cursor-button);

  &:where(:has(:focus-visible)) {
    outline: 2px solid var(--focus-8);
    outline-offset: -1px;

    &::after {
      outline: inherit;
    }
  }

  & > * {
    /* Avoid unintentional drag interactions (e.g. on images) */
    pointer-events: none;
  }
  /* stylelint-disable-next-line selector-max-type */
  & > :where(svg) {
    /* Don’t squish icons */
    flex-shrink: 0;
  }
}

.rt-CheckboxCardGroupItemCheckbox {
  position: absolute;
  right: var(--checkbox-card-group-item-padding-left);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-CheckboxCardGroupRoot {
    /* 40px height for the card with one line of text */
    &:where(.rt-r-size-1) {
      font-size: var(--font-size-2);
      --line-height: var(--line-height-2);
      --letter-spacing: var(--letter-spacing-2);
      --checkbox-card-group-item-padding-left: var(--space-3);
      --checkbox-card-group-item-padding-y: calc(var(--space-3) / 1.2);
      --checkbox-card-group-item-border-radius: var(--radius-3);
      --checkbox-card-group-item-gap: var(--space-2);
      /* keep in sync with checkbox */
      --checkbox-card-group-item-checkbox-size: calc(var(--space-4) * 0.875);
    }
    /* 48px height for the card with one line of text */
    &:where(.rt-r-size-2) {
      font-size: var(--font-size-2);
      --line-height: var(--line-height-2);
      --letter-spacing: var(--letter-spacing-2);
      --checkbox-card-group-item-padding-left: var(--space-4);
      --checkbox-card-group-item-padding-y: calc(var(--space-4) * 0.875);
      --checkbox-card-group-item-border-radius: var(--radius-3);
      --checkbox-card-group-item-gap: var(--space-3);
      /* keep in sync with checkbox */
      --checkbox-card-group-item-checkbox-size: var(--space-4);
    }
    /* 64px height for the card with one line of text */
    &:where(.rt-r-size-3) {
      font-size: var(--font-size-3);
      --line-height: var(--line-height-3);
      --letter-spacing: var(--letter-spacing-3);
      --checkbox-card-group-item-padding-left: var(--space-5);
      --checkbox-card-group-item-padding-y: calc(var(--space-5) / 1.2);
      --checkbox-card-group-item-border-radius: var(--radius-4);
      --checkbox-card-group-item-gap: var(--space-4);
      /* keep in sync with checkbox */
      --checkbox-card-group-item-checkbox-size: calc(var(--space-4) * 1.25);
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*         Variants – surface          */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

:where(.rt-CheckboxCardGroupRoot.rt-variant-surface) {
  .rt-CheckboxCardGroupItem {
    --checkbox-card-group-item-border-width: 1px;

    &::before {
      background-color: var(--color-surface);
    }
    &::after {
      box-shadow: var(--base-card-surface-box-shadow);
    }
    @media (hover: hover) {
      &:where(:not(:has(:disabled)):hover) {
        &::after {
          box-shadow: var(--base-card-surface-hover-box-shadow);
        }
      }
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*         Variants – classic          */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

:where(.rt-CheckboxCardGroupRoot.rt-variant-classic) {
  .rt-CheckboxCardGroupItem {
    --checkbox-card-group-item-border-width: 1px;

    transition: box-shadow 120ms;
    box-shadow: var(--base-card-classic-box-shadow-outer);

    &::before {
      background-color: var(--color-surface);
    }
    &::after {
      box-shadow: var(--base-card-classic-box-shadow-inner);
    }
    @media (hover: hover) {
      &:where(:not(:has(:disabled)):hover) {
        transition-duration: 40ms;
        box-shadow: var(--base-card-classic-hover-box-shadow-outer);
        &::after {
          box-shadow: var(--base-card-classic-hover-box-shadow-inner);
        }
      }
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*            All disabled             */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

.rt-CheckboxCardGroupItem:where(:has(:disabled)) {
  cursor: var(--cursor-disabled);
  color: var(--gray-a9);

  &::before {
    background-image: linear-gradient(var(--gray-a2), var(--gray-a2));
  }
  &::selection {
    background-color: var(--gray-a5);
  }
}
