.rt-CheckboxRoot {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  flex-shrink: 0;
  height: var(--line-height, var(--checkbox-size));
}

.rt-CheckboxButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  cursor: var(--cursor-checkbox);
  position: relative;

  &:where(:focus-visible) {
    outline: 2px solid var(--color-focus-root);
    outline-offset: 2px;
  }
}

.rt-CheckboxIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* Make sure that the presence of the indicator doesn’t affect alignment */
  position: absolute;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-CheckboxRoot {
    &:where(.rt-r-size-1) {
      --checkbox-size: calc(var(--space-4) * 0.875);

      & :where(.rt-CheckboxButton) {
        border-radius: calc(var(--radius-1) / 1.25);
      }

      & :where(.rt-CheckboxIndicatorIcon) {
        width: calc(8px * var(--scaling));
        height: calc(8px * var(--scaling));
      }
    }
    &:where(.rt-r-size-2) {
      --checkbox-size: var(--space-4);

      & :where(.rt-CheckboxButton) {
        border-radius: var(--radius-1);
      }

      & :where(.rt-CheckboxIndicatorIcon) {
        width: calc(10px * var(--scaling));
        height: calc(10px * var(--scaling));
      }
    }
    &:where(.rt-r-size-3) {
      --checkbox-size: calc(var(--space-4) * 1.25);

      & :where(.rt-CheckboxButton) {
        border-radius: calc(var(--radius-1) * 1.25);
      }

      & :where(.rt-CheckboxIndicatorIcon) {
        width: calc(12px * var(--scaling));
        height: calc(12px * var(--scaling));
      }
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* surface */

.rt-CheckboxButton:where(.rt-variant-surface) {
  &:where([data-state='unchecked']) {
    background-color: var(--color-surface);
    box-shadow: inset 0 0 0 1px var(--gray-a7);
  }
  &:where([data-state='checked']) {
    background-color: var(--accent-9);
    color: var(--accent-9-contrast);

    &:where(.rt-high-contrast) {
      background-color: var(--accent-12);
      color: var(--accent-1);
    }
  }
  &:where(:disabled) {
    box-shadow: inset 0 0 0 1px var(--gray-a6);
    background-color: var(--gray-a3);
    cursor: var(--cursor-disabled);
    color: var(--gray-a8);
  }
}

/* classic */

.rt-CheckboxButton:where(.rt-variant-classic) {
  &:where([data-state='unchecked']) {
    background-color: var(--color-surface);
    box-shadow: inset 0 0 0 1px var(--gray-a3), var(--shadow-1);
  }
  &:where([data-state='checked']) {
    background-color: var(--accent-9);
    background-image: linear-gradient(to bottom, var(--white-a3), transparent, var(--black-a1));
    box-shadow: inset 0 0.5px 0.5px var(--white-a4), inset 0 -0.5px 0.5px var(--black-a4);
    color: var(--accent-9-contrast);

    &:where(.rt-high-contrast) {
      background-color: var(--accent-12);
      color: var(--accent-1);
    }
  }
  &:where(:disabled) {
    box-shadow: var(--shadow-1);
    background-color: var(--gray-a3);
    background-image: none;
    cursor: var(--cursor-disabled);
    color: var(--gray-a8);
  }
}

/* soft */

.rt-CheckboxButton:where(.rt-variant-soft) {
  background-color: var(--accent-a5);
  &:where([data-state='checked']) {
    color: var(--accent-11);

    &:where(.rt-high-contrast) {
      color: var(--accent-12);
    }
  }
  &:where(:focus-visible) {
    /* Use gray outline when component color is gray */
    outline-color: var(--accent-a8);
  }
  &:where(:disabled) {
    background-color: var(--gray-a3);
    cursor: var(--cursor-disabled);
    color: var(--gray-a8);
  }
}
