@import './base-checkbox.css';

.rt-CheckboxCardGroupRoot {
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  user-select: none;
  cursor: default;
}

.rt-CheckboxCardGroupItem {
  display: flex;
  align-items: center;
  gap: var(--checkbox-card-group-item-gap);
  box-sizing: border-box;
  padding: var(--checkbox-card-group-item-padding-y) var(--checkbox-card-group-item-padding-x);
  padding-right: calc(
    var(--checkbox-card-group-item-padding-x) + var(--checkbox-card-group-item-checkbox-size) +
      var(--checkbox-card-group-item-gap)
  );
  border-radius: var(--checkbox-card-group-item-radius);

  /* cursors */
  cursor: var(--cursor-button);
  &:where(:has(:disabled)) {
    cursor: var(--cursor-disabled);
  }

  & > * {
    /* Avoid unintentional drag interactions (e.g. on images) */
    pointer-events: none;
  }

  & > svg {
    /* Don’t squish icons */
    flex-shrink: 0;
  }
}

.rt-CheckboxCardGroupItemCheckbox {
  position: absolute;
  right: var(--checkbox-card-group-item-padding-x);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-CheckboxCardGroupRoot {
    /* 40px height for the card with one line of text */
    &:where(.rt-r-size-1) {
      font-size: var(--font-size-2);
      --line-height: var(--line-height-2);
      --letter-spacing: var(--letter-spacing-2);
      --checkbox-card-group-item-padding-x: var(--space-3);
      --checkbox-card-group-item-padding-y: calc(var(--space-3) / 1.2);
      --checkbox-card-group-item-radius: var(--radius-3);
      --checkbox-card-group-item-gap: var(--space-2);
      --checkbox-card-group-item-checkbox-size: calc(
        var(--space-4) * 0.875
      ); /* keep in sync with checkbox */
    }
    /* 48px height for the card with one line of text */
    &:where(.rt-r-size-2) {
      font-size: var(--font-size-2);
      --line-height: var(--line-height-2);
      --letter-spacing: var(--letter-spacing-2);
      --checkbox-card-group-item-padding-x: var(--space-4);
      --checkbox-card-group-item-padding-y: calc(var(--space-4) * 0.875);
      --checkbox-card-group-item-radius: var(--radius-3);
      --checkbox-card-group-item-gap: var(--space-3);
      --checkbox-card-group-item-checkbox-size: var(--space-4); /* keep in sync with checkbox */
    }
    /* 64px height for the card with one line of text */
    &:where(.rt-r-size-3) {
      font-size: var(--font-size-3);
      --line-height: var(--line-height-3);
      --letter-spacing: var(--letter-spacing-3);
      --checkbox-card-group-item-padding-x: var(--space-5);
      --checkbox-card-group-item-padding-y: calc(var(--space-5) / 1.2);
      --checkbox-card-group-item-radius: var(--radius-4);
      --checkbox-card-group-item-gap: var(--space-4);
      --checkbox-card-group-item-checkbox-size: calc(
        var(--space-4) * 1.25
      ); /* keep in sync with checkbox */
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* surface */

.rt-CheckboxCardGroupRoot:where(.rt-variant-surface) {
  :where(.rt-CheckboxCardGroupItem) {
    background-color: var(--color-surface);
    box-shadow: inset 0 0 0 1px var(--gray-a5);

    @media (hover: hover) {
      &:where(:not(:has(:disabled)):hover) {
        box-shadow: inset 0 0 0 1px var(--gray-a7);
      }
    }

    &:where(:has(:disabled)) {
      background-color: var(--gray-a2);
      color: var(--gray-a9);
    }

    &:has(:focus-visible) {
      outline: 2px solid var(--color-focus-root);
      outline-offset: -2px;
    }
  }
}

/* classic */

.rt-CheckboxCardGroupRoot:where(.rt-variant-classic) {
  :where(.rt-CheckboxCardGroupItem) {
    background-color: var(--color-surface);
    box-shadow: var(--shadow-2);
    transition: box-shadow 120ms;

    @media (hover: hover) {
      &:where(:not(:has(:disabled)):hover) {
        transition-duration: 40ms;
        box-shadow: var(--card-classic-hover-box-shadow);
      }
    }

    &:where(:has(:disabled)) {
      background-color: var(--gray-a2);
      color: var(--gray-a9);
    }

    &:has(:focus-visible) {
      outline: 2px solid var(--color-focus-root);
      outline-offset: -1px;
    }
  }
}

/* all high-contrast */

.rt-CheckboxCardGroupRoot:where(.rt-high-contrast)
  :where(.rt-CheckboxCardGroupItem[data-state='checked']) {
  outline-color: var(--accent-12);
}
