.rt-CheckboxRoot {
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  flex-shrink: 0;

  /* Match Text size 2 line-height */
  height: var(--line-height-2);
}

.rt-CheckboxButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: var(--checkbox-size);
  width: var(--checkbox-size);
}

.rt-CheckboxIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--checkbox-size);
  width: var(--checkbox-size);

  & svg {
    width: 56.25%;
    height: 56.25%;
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-CheckboxRoot {
    &.rt-r-size-1 {
      --checkbox-size: var(--space-4);
      & .rt-CheckboxButton {
        border-radius: var(--radius-1);
      }
    }
    &.rt-r-size-2 {
      --checkbox-size: var(--space-5);
      & .rt-CheckboxButton {
        border-radius: var(--radius-2);
      }
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* surface */

.rt-CheckboxButton.rt-variant-surface {
  &:where([data-state='unchecked']) {
    background-color: var(--color-surface);
    box-shadow: inset 0 0 0 1px var(--gray-a7);
  }
  &:where(:focus-visible) {
    box-shadow: inset 0 0 0 1px var(--gray-a7), 0 0 0 2px var(--accent-3),
      0 0 0 4px var(--accent-a8);
  }
  &:where([data-state='checked']) {
    background-color: var(--accent-9);
    color: var(--accent-9-contrast);

    &:where(:focus-visible) {
      box-shadow: 0 0 0 2px var(--accent-3), 0 0 0 4px var(--accent-a8);
    }
    &:where(.rt-high-contrast) {
      background-color: var(--accent-12);
      color: var(--accent-1);
    }
  }
}

/* classic */

.rt-CheckboxButton.rt-variant-classic {
  &:where([data-state='unchecked']) {
    background-color: var(--color-surface);
    box-shadow: inset 0 0 0 1px var(--gray-a3), var(--shadow-1);
  }
  &:where(:focus-visible) {
    box-shadow: inset 0 0 0 1px var(--gray-a3), var(--shadow-1), 0 0 0 2px var(--accent-3),
      0 0 0 4px var(--accent-a8);
  }
  &:where([data-state='checked']) {
    background-color: var(--accent-9);
    color: var(--accent-9-contrast);

    &:where(:focus-visible) {
      box-shadow: 0 0 0 2px var(--accent-3), 0 0 0 4px var(--accent-a8);
    }
    &:where(.rt-high-contrast) {
      background-color: var(--accent-12);
      color: var(--accent-1);
    }
  }
}

/* soft */

.rt-CheckboxButton.rt-variant-soft {
  background-color: var(--accent-a5);
  &:where(:focus-visible) {
    box-shadow: 0 0 0 2px var(--accent-1), 0 0 0 4px var(--accent-a8);
  }
  &:where([data-state='checked']) {
    color: var(--accent-11);

    &:where(.rt-high-contrast) {
      color: var(--accent-12);
    }
  }
}

/* all disabled checkboxes */

.rt-CheckboxButton[data-disabled] {
  box-shadow: inset 0 0 0 1px var(--gray-a6);
  background-color: var(--gray-a3);
  cursor: not-allowed;
  color: var(--gray-a8);
}
