.rt-Code {
  box-sizing: border-box;
  font-family: var(--code-font-family);
  font-size: calc(100% * var(--code-font-size-adjust));
  font-style: var(--code-font-style);
  font-weight: var(--code-font-weight);
  line-height: 1.25;
  letter-spacing: calc(
    var(--code-letter-spacing) + var(--letter-spacing, --default-letter-spacing)
  );
  border-radius: calc((0.5px + 0.2em) * var(--radius-factor));
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-Code {
    &.size-1 {
      font-size: calc(var(--font-size-1) * var(--code-font-size-adjust));
      line-height: var(--line-height-1);
      --letter-spacing: var(--letter-spacing-1);
    }
    &.size-2 {
      font-size: calc(var(--font-size-2) * var(--code-font-size-adjust));
      line-height: var(--line-height-2);
      --letter-spacing: var(--letter-spacing-2);
    }
    &.size-3 {
      font-size: calc(var(--font-size-3) * var(--code-font-size-adjust));
      line-height: var(--line-height-3);
      --letter-spacing: var(--letter-spacing-3);
    }
    &.size-4 {
      font-size: calc(var(--font-size-4) * var(--code-font-size-adjust));
      line-height: var(--line-height-4);
      --letter-spacing: var(--letter-spacing-4);
    }
    &.size-5 {
      font-size: calc(var(--font-size-5) * var(--code-font-size-adjust));
      line-height: var(--line-height-5);
      --letter-spacing: var(--letter-spacing-5);
    }
    &.size-6 {
      font-size: calc(var(--font-size-6) * var(--code-font-size-adjust));
      line-height: var(--line-height-6);
      --letter-spacing: var(--letter-spacing-6);
    }
    &.size-7 {
      font-size: calc(var(--font-size-7) * var(--code-font-size-adjust));
      line-height: var(--line-height-7);
      --letter-spacing: var(--letter-spacing-7);
    }
    &.size-8 {
      font-size: calc(var(--font-size-8) * var(--code-font-size-adjust));
      line-height: var(--line-height-8);
      --letter-spacing: var(--letter-spacing-8);
    }
    &.size-9 {
      font-size: calc(var(--font-size-9) * var(--code-font-size-adjust));
      line-height: var(--line-height-9);
      --letter-spacing: var(--letter-spacing-9);
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

.rt-Code:where(:not(.variant-plain)) {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

/* plain */

.rt-Code.variant-plain {
}

/* solid */

.rt-Code.variant-solid {
  background-color: var(--accent-a9);
  color: var(--accent-9-contrast);

  &:where(.high-contrast) {
    background-color: var(--accent-12);
    color: var(--accent-1);
  }
}

/* soft */

.rt-Code.variant-soft {
  background-color: var(--accent-a3);
  color: var(--accent-11);

  &:where(.high-contrast) {
    background-color: var(--accent-a4);
    color: var(--accent-12);
  }
}

/* outline */

.rt-Code.variant-outline {
  box-shadow: 0 0 0 1px var(--accent-a6);
  color: var(--accent-11);

  &:where(.high-contrast) {
    box-shadow: 0 0 0 1px var(--accent-a7);
    color: var(--accent-12);
  }
}
