:root {
  --container-1: 448px;
  --container-2: 688px;
  --container-3: 1168px;
}

.rui-Container {
  box-sizing: content-box;
  flex-shrink: 0;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}

@breakpoints {
  .rui-Container.size-1 {
    max-width: var(--container-1);
  }

  .rui-Container.size-2 {
    max-width: var(--container-2);
  }

  .rui-Container.size-3 {
    max-width: var(--container-3);
  }
}
