:root {
  --container-1: 448px;
  --container-2: 688px;
  --container-3: 1168px;
}

.rui-Container {
  box-sizing: content-box;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rui-Container {
    &.size-1 {
      max-width: var(--container-1);
    }
    &.size-2 {
      max-width: var(--container-2);
    }
    &.size-3 {
      max-width: var(--container-3);
    }
  }
}
