.radix-themes {
  --container-1: 448px;
  --container-2: 688px;
  --container-3: 880px;
  --container-4: 1136px;
}

.rt-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
}

.rt-ContainerInner {
  width: 100%;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-Container {
    &.rt-r-size-1 .rt-ContainerInner {
      max-width: var(--container-1);
    }
    &.rt-r-size-2 .rt-ContainerInner {
      max-width: var(--container-2);
    }
    &.rt-r-size-3 .rt-ContainerInner {
      max-width: var(--container-3);
    }
    &.rt-r-size-4 .rt-ContainerInner {
      max-width: var(--container-4);
    }
  }
}
