.rt-DataListRoot {
  display: grid;
  grid-template-columns: auto 1fr;
}

.rt-DataListItem {
  position: relative;
  box-sizing: border-box;
  grid-column: span 2;
}

.rt-DataListLabel {
  color: var(--gray-a11);
  box-sizing: border-box;
  display: block;
}

.rt-DataListData {
  box-sizing: border-box;
  margin: 0;
  display: block;
}

/***************************************************************************************************
 *                                                                                                 *
 * ORIENTATION                                                                                     *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-DataListRoot {
    &:where(.rt-r-dl-orient-vertical) :where(.rt-DataListItem) {
      display: flex;
      flex-direction: column;
      gap: var(--space-1);
    }
    &:where(.rt-r-dl-orient-horizontal) :where(.rt-DataListItem) {
      display: grid;
      /* Use subgrid so all the label columns remain aligned */
      grid-template-columns: subgrid;
      padding: 0;
      gap: inherit;
    }
    &:where(.rt-r-dl-orient-vertical) :where(.rt-DataListLabel) {
      white-space: normal;
      padding: 0;
      width: auto;
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * TRIM                                                                                            *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-DataListRoot {
    &:where(.rt-r-dl-trim-start, .rt-r-dl-trim-both) :where(.rt-DataListItem:first-child) {
      margin-top: calc(
        var(--default-leading-trim-start) -
          var(--line-height, calc(1em * var(--default-line-height))) / 2
      );
    }

    &:where(.rt-r-dl-trim-end, .rt-r-dl-trim-both) :where(.rt-DataListItem:last-child) {
      margin-bottom: calc(
        var(--default-leading-trim-end) - var(--line-height, calc(1em * var(--default-line-height))) /
          2
      );
    }
  }
}
