.rt-DialogOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  padding-bottom: 5vh;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-overlay);
    filter: saturate(0.5);
  }
}

.rt-DialogContent {
  width: 100%;
  max-height: 90vh;
  max-width: 580px;
  outline: none;
  overflow: auto;
  background-color: var(--color-panel);
  box-shadow: var(--shadow-6);
  box-sizing: border-box;
  z-index: 1;

  /* used by Inset */
  --inset-padding: var(--dialog-padding);
  padding: var(--inset-padding);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-DialogContent {
    &.size-1 {
      --dialog-padding: var(--space-3);
      border-radius: var(--radius-4);
    }
    &.size-2 {
      --dialog-padding: var(--space-4);
      border-radius: var(--radius-4);
    }
    &.size-3 {
      --dialog-padding: var(--space-5);
      border-radius: var(--radius-5);
    }
    &.size-4 {
      --dialog-padding: var(--space-6);
      border-radius: var(--radius-5);
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes DialogOverlayNoop {
    from {
      opacity: 1;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes DialogOverlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes DialogOverlayHide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes DialogContentShow {
    from {
      opacity: 0;
      transform: translateY(5px) scale(0.97);
    }
    to {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
  }

  @keyframes DialogContentHide {
    from {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
    to {
      opacity: 0;
      transform: translateY(5px) scale(0.99);
    }
  }

  .rt-DialogOverlay {
    /* Keep the overlay mounted until the children have animated */
    &[data-state='closed'] {
      animation: DialogOverlayNoop 250ms cubic-bezier(0.16, 1, 0.3, 1);
    }

    &[data-state='open']::after {
      animation: DialogOverlayShow 400ms cubic-bezier(0.16, 1, 0.3, 1);
    }
    &[data-state='closed']::after {
      animation: DialogOverlayHide 250ms cubic-bezier(0.16, 1, 0.3, 1);
    }
  }

  .rt-DialogContent {
    &[data-state='open'] {
      animation: DialogContentShow 200ms cubic-bezier(0.16, 1, 0.3, 1);
    }
    &[data-state='closed'] {
      animation: DialogContentHide 150ms cubic-bezier(0.16, 1, 0.3, 1);
    }
  }
}
