.rt-Flex {
  box-sizing: border-box;

  /* Default values to provide the initial styles in the object syntax, e.g. `<Flex display={{ md: 'none' }} />` */
  display: flex;
  justify-content: flex-start;
}
