.rt-Grid {
  box-sizing: border-box;

  /* Default values to provide the initial styles in the object syntax, e.g. `<Grid columns={{ md: '2' }} />` */
  display: grid;
  align-items: stretch;
  justify-content: flex-start;

  grid-template-columns: var(--grid-template-columns-initial);
  grid-template-rows: var(--grid-template-rows-initial);

  --grid-template-columns-initial: 1fr;
  --grid-template-rows-initial: none;

  /* Unset responsive values so that they are not inherited from an ancestor Grid */
  --grid-template-columns-xs: initial;
  --grid-template-columns-sm: initial;
  --grid-template-columns-md: initial;
  --grid-template-columns-lg: initial;
  --grid-template-columns-xl: initial;
  --grid-template-rows-xs: initial;
  --grid-template-rows-sm: initial;
  --grid-template-rows-md: initial;
  --grid-template-rows-lg: initial;
  --grid-template-rows-xl: initial;
}

/* prettier-ignore */
@media (--xs) {
  .rt-Grid {
    grid-template-columns:
      var(--grid-template-columns-xs,
      var(--grid-template-columns-initial));

    grid-template-rows:
      var(--grid-template-rows-xs,
      var(--grid-template-rows-initial));
  }
}

/* prettier-ignore */
@media (--sm) {
  .rt-Grid {
    grid-template-columns:
      var(--grid-template-columns-sm,
      var(--grid-template-columns-xs,
      var(--grid-template-columns-initial)));

    grid-template-rows:
      var(--grid-template-rows-sm,
      var(--grid-template-rows-xs,
      var(--grid-template-rows-initial)));
  }
}

/* prettier-ignore */
@media (--md) {
  .rt-Grid {
    grid-template-columns:
      var(--grid-template-columns-md,
      var(--grid-template-columns-sm,
      var(--grid-template-columns-xs,
      var(--grid-template-columns-initial))));

    grid-template-rows:
      var(--grid-template-rows-md,
      var(--grid-template-rows-sm,
      var(--grid-template-rows-xs,
      var(--grid-template-rows-initial))));
  }
}

/* prettier-ignore */
@media (--lg) {
  .rt-Grid {
    grid-template-columns:
      var(--grid-template-columns-lg,
      var(--grid-template-columns-md,
      var(--grid-template-columns-sm,
      var(--grid-template-columns-xs,
      var(--grid-template-columns-initial)))));

    grid-template-rows:
      var(--grid-template-rows-lg,
      var(--grid-template-rows-md,
      var(--grid-template-rows-sm,
      var(--grid-template-rows-xs,
      var(--grid-template-rows-initial)))));
  }
}

/* prettier-ignore */
@media (--xl) {
  .rt-Grid {
    grid-template-columns:
      var(--grid-template-columns-xl,
      var(--grid-template-columns-lg,
      var(--grid-template-columns-md,
      var(--grid-template-columns-sm,
      var(--grid-template-columns-xs,
      var(--grid-template-columns-initial))))));

    grid-template-rows:
      var(--grid-template-rows-xl,
      var(--grid-template-rows-lg,
      var(--grid-template-rows-md,
      var(--grid-template-rows-sm,
      var(--grid-template-rows-xs,
      var(--grid-template-rows-initial))))));
  }
}
