.rt-Heading {
  margin: 0;
  font-family: var(--heading-font-family);
  font-style: var(--heading-font-style);
  --leading-trim-start: var(--heading-leading-trim-start);
  --leading-trim-end: var(--heading-leading-trim-end);
  line-height: var(--line-height);

  &:where([data-accent-scale]) {
    color: var(--accent-a11);

    &:where(.high-contrast),
    & .rt-Text:where(.high-contrast) {
      color: var(--accent-a12);
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-Heading {
    &.size-1 {
      font-size: calc(var(--font-size-1) * var(--heading-font-size-adjust));
      --line-height: var(--heading-line-height-1);
      letter-spacing: calc(var(--letter-spacing-1) + var(--heading-letter-spacing));
    }
    &.size-2 {
      font-size: calc(var(--font-size-2) * var(--heading-font-size-adjust));
      --line-height: var(--heading-line-height-2);
      letter-spacing: calc(var(--letter-spacing-2) + var(--heading-letter-spacing));
    }
    &.size-3 {
      font-size: calc(var(--font-size-3) * var(--heading-font-size-adjust));
      --line-height: var(--heading-line-height-3);
      letter-spacing: calc(var(--letter-spacing-3) + var(--heading-letter-spacing));
    }
    &.size-4 {
      font-size: calc(var(--font-size-4) * var(--heading-font-size-adjust));
      --line-height: var(--heading-line-height-4);
      letter-spacing: calc(var(--letter-spacing-4) + var(--heading-letter-spacing));
    }
    &.size-5 {
      font-size: calc(var(--font-size-5) * var(--heading-font-size-adjust));
      --line-height: var(--heading-line-height-5);
      letter-spacing: calc(var(--letter-spacing-5) + var(--heading-letter-spacing));
    }
    &.size-6 {
      font-size: calc(var(--font-size-6) * var(--heading-font-size-adjust));
      --line-height: var(--heading-line-height-6);
      letter-spacing: calc(var(--letter-spacing-6) + var(--heading-letter-spacing));
    }
    &.size-7 {
      font-size: calc(var(--font-size-7) * var(--heading-font-size-adjust));
      --line-height: var(--heading-line-height-7);
      letter-spacing: calc(var(--letter-spacing-7) + var(--heading-letter-spacing));
    }
    &.size-8 {
      font-size: calc(var(--font-size-8) * var(--heading-font-size-adjust));
      --line-height: var(--heading-line-height-8);
      letter-spacing: calc(var(--letter-spacing-8) + var(--heading-letter-spacing));
    }
    &.size-9 {
      font-size: calc(var(--font-size-9) * var(--heading-font-size-adjust));
      --line-height: var(--heading-line-height-9);
      letter-spacing: calc(var(--letter-spacing-9) + var(--heading-letter-spacing));
    }
  }
}
