.rt-HoverCardContent {
  background-color: var(--color-panel-solid);
  box-shadow: var(--shadow-4);
  overflow: auto;

  /* used by Inset */
  --inset-padding: var(--hover-card-padding);
  padding: var(--inset-padding);

  transform-origin: var(--radix-hover-card-content-transform-origin);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-HoverCardContent {
    &.size-1 {
      --hover-card-padding: var(--space-3);
      border-radius: var(--radius-4);
    }
    &.size-2 {
      --hover-card-padding: var(--space-4);
      border-radius: var(--radius-4);
    }
    &.size-3 {
      --hover-card-padding: var(--space-5);
      border-radius: var(--radius-5);
    }
  }
}
