:root,
.light-theme {
  --kbd-shadow: inset 0 0.5px var(--white-a12), inset 0 3px 6px var(--mono-a2),
    0 0 0 0.5px var(--mono-a7), inset 0 -0.5px var(--mono-a6), 0 1px 2px var(--mono-a7);
}
.dark-theme {
  --kbd-shadow: inset 0 0.5px var(--white-a9), inset 0 3px 6px var(--mono-a2),
    0 0 0 0.5px var(--mono-a7), inset 0 -0.5px var(--black-a9), 0 1px 2px var(--black-a12);
}

.rui-Kbd {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: var(--ff-sans);
  vertical-align: text-bottom;
  white-space: nowrap;
  user-select: none;
  cursor: default;

  min-width: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;

  border-radius: var(--br-3-raw);
  line-height: var(--space-5);
  height: var(--space-5);
  font-size: var(--fs-1);

  color: var(--mono-12);
  background-color: var(--mono-1);
  box-shadow: var(--kbd-shadow);
}

/***************************************************************************************************
 *                                                                                                 *
 * WIDTHS                                                                                          *
 *                                                                                                 *
 ***************************************************************************************************/

.rui-Kbd.width-command {
  width: 3em;
  justify-content: flex-end;
}
.rui-Kbd.width-shift {
  width: 4em;
  justify-content: flex-start;
}
.rui-Kbd.width-space {
  width: 8em;
}
