/* prettier-ignore */
.radix-themes {
  --kbd-shadow:
    inset 0 0.05em var(--white-a12),
    inset 0 0.25em 0.5em var(--gray-a2),
    inset 0 -0.05em var(--gray-a6),
    0 0 0 0.05em var(--gray-a6),
    0 0.08em 0.17em var(--gray-a7);
}

/* prettier-ignore */
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) .radix-themes:not(.light, .light-theme) {
  --kbd-shadow:
    inset 0 0.05em var(--white-a9),
    inset 0 0.25em 0.5em var(--gray-a2),
    inset 0 -0.1em var(--black-a12),
    0 0 0 0.075em var(--gray-a8),
    0 0.08em 0.17em var(--black-a12);
}

.rt-Kbd {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: var(--default-font-family);
  vertical-align: text-top;
  white-space: nowrap;
  user-select: none;
  cursor: default;

  position: relative;
  top: -0.05em;

  font-size: 0.75em;
  min-width: 1.75em;
  line-height: 1.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  word-spacing: -0.1em;
  border-radius: calc(var(--radius-factor) * 0.35em);
  letter-spacing: var(--letter-spacing, var(--default-letter-spacing));

  color: var(--gray-12);
  background-color: var(--gray-1);
  box-shadow: var(--kbd-shadow);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-Kbd {
    &.size-1 {
      font-size: calc(var(--font-size-1) * 0.8);
      --letter-spacing: var(--letter-spacing-1);
    }
    &.size-2 {
      font-size: calc(var(--font-size-2) * 0.8);
      --letter-spacing: var(--letter-spacing-2);
    }
    &.size-3 {
      font-size: calc(var(--font-size-3) * 0.8);
      --letter-spacing: var(--letter-spacing-3);
    }
    &.size-4 {
      font-size: calc(var(--font-size-4) * 0.8);
      --letter-spacing: var(--letter-spacing-4);
    }
    &.size-5 {
      font-size: calc(var(--font-size-5) * 0.8);
      --letter-spacing: var(--letter-spacing-5);
    }
    &.size-6 {
      font-size: calc(var(--font-size-6) * 0.8);
      --letter-spacing: var(--letter-spacing-6);
    }
    &.size-7 {
      font-size: calc(var(--font-size-7) * 0.8);
      --letter-spacing: var(--letter-spacing-7);
    }
    &.size-8 {
      font-size: calc(var(--font-size-8) * 0.8);
      --letter-spacing: var(--letter-spacing-8);
    }
    &.size-9 {
      font-size: calc(var(--font-size-9) * 0.8);
      --letter-spacing: var(--letter-spacing-9);
    }
  }
}
