.rt-Link {
  cursor: pointer;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: calc(0.025em + 2px);
  text-decoration-color: var(--accent-5);
  color: var(--accent-11);

  &:hover {
    text-decoration-line: underline;
  }

  &:focus-visible {
    outline-color: var(--accent-8);
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 2px;
    text-decoration-line: none;
  }

  &.high-contrast,
  .rt-Text:where([data-accent-scale]):not(.high-contrast) & {
    color: var(--accent-12);
    text-decoration-line: underline;
    text-decoration-color: var(--accent-6);
    outline-color: var(--accent-11);
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-Link {
    &.size-7,
    &.size-8,
    &.size-9 {
      text-decoration-thickness: 2px;
    }
  }
}
