.rt-Link {
  cursor: var(--cursor-link);
  color: var(--accent-a11);
  border-radius: calc(0.07em * var(--radius-factor));

  &:where(:focus-visible) {
    outline-color: var(--accent-a8);
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 2px;
  }

  &:where(.rt-high-contrast),
  :where(.rt-Text, .rt-Heading):where([data-accent-color]:not(.rt-high-contrast)) & {
    color: var(--accent-12);
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-Link {
    &:where(.rt-r-size-7),
    &:where(.rt-r-size-8),
    &:where(.rt-r-size-9) {
      text-decoration-thickness: 2px;
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * UNDERLINE                                                                                       *
 *                                                                                                 *
 ***************************************************************************************************/

.rt-Link {
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: calc(0.025em + 2px);
  text-decoration-color: var(--accent-a5);

  /* Enhancement for bright colors */
  @supports (color: color-mix(in oklab, white, black)) {
    & {
      text-decoration-color: color-mix(in oklab, var(--accent-a5), var(--gray-a6));
    }
  }

  &:where(.rt-underline-auto) {
    @media (hover: hover) {
      &:where(:hover) {
        text-decoration-line: underline;
      }
    }

    &:where(.rt-high-contrast),
    :where(.rt-Text, .rt-Heading):where([data-accent-color]:not(.rt-high-contrast)) & {
      text-decoration-line: underline;
      text-decoration-color: var(--accent-a6);

      /* Enhancement for bright colors */
      @supports (color: color-mix(in oklab, white, black)) {
        & {
          text-decoration-color: color-mix(in oklab, var(--accent-a6), var(--gray-a6));
        }
      }
    }
  }

  &:where(.rt-underline-hover) {
    @media (hover: hover) {
      &:where(:hover) {
        text-decoration-line: underline;
      }
    }
  }

  &:where(.rt-underline-always) {
    text-decoration-line: underline;
  }
}

/* all focused states underline */

.rt-Link:where(:focus-visible) {
  text-decoration-line: none;
}
