.rt-PopoverContent {
  background-color: var(--color-panel-solid);
  box-shadow: var(--shadow-panel-solid), var(--shadow-5);
  min-width: var(--radix-popover-trigger-width);
  outline: 0;
  overflow: auto;

  /* used by Inset */
  --inset-padding: var(--popover-padding);
  padding: var(--inset-padding);

  transform-origin: var(--radix-popover-content-transform-origin);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-PopoverContent {
    &.rt-r-size-1 {
      --popover-padding: var(--space-3);
      border-radius: var(--radius-4);
    }
    &.rt-r-size-2 {
      --popover-padding: var(--space-4);
      border-radius: var(--radius-4);
    }
    &.rt-r-size-3 {
      --popover-padding: var(--space-5);
      border-radius: var(--radius-5);
    }
    &.rt-r-size-4 {
      --popover-padding: var(--space-6);
      border-radius: var(--radius-5);
    }
  }
}
