@import './base-card.css';

.rt-RadioCardGroupRoot {
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  user-select: none;
  cursor: default;

  align-items: center;
  justify-content: center;
  gap: var(--radio-card-group-item-gap);
}

.rt-RadioCardGroupItem {
  --base-card-padding-top: var(--radio-card-group-item-padding-y);
  --base-card-padding-right: var(--radio-card-group-item-padding-x);
  --base-card-padding-bottom: var(--radio-card-group-item-padding-y);
  --base-card-padding-left: var(--radio-card-group-item-padding-x);
  --base-card-border-radius: var(--radio-card-group-item-border-radius);
  --base-card-border-width: var(--radio-card-group-item-border-width);
}

.rt-RadioCardGroupItemInner {
  display: flex;
  gap: inherit;
  align-items: inherit;
  justify-content: inherit;

  /* Avoid unintentional drag interactions (e.g. on images) */
  pointer-events: none;

  & > :where(svg) {
    /* Don’t squish icons */
    flex-shrink: 0;
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-RadioCardGroupRoot {
    /* 40px height for the card with one line of text */
    &:where(.rt-r-size-1) {
      font-size: var(--font-size-2);
      --line-height: var(--line-height-2);
      --letter-spacing: var(--letter-spacing-2);
      --radio-card-group-item-padding-x: var(--space-3);
      --radio-card-group-item-padding-y: calc(var(--space-3) / 1.2);
      --radio-card-group-item-border-radius: var(--radius-3);
      --radio-card-group-item-gap: var(--space-2);
    }
    /* 48px height for the card with one line of text */
    &:where(.rt-r-size-2) {
      font-size: var(--font-size-2);
      --line-height: var(--line-height-2);
      --letter-spacing: var(--letter-spacing-2);
      --radio-card-group-item-padding-x: var(--space-4);
      --radio-card-group-item-padding-y: calc(var(--space-4) * 0.875);
      --radio-card-group-item-border-radius: var(--radius-3);
      --radio-card-group-item-gap: var(--space-3);
    }
    /* 64px height for the card with one line of text */
    &:where(.rt-r-size-3) {
      font-size: var(--font-size-3);
      --line-height: var(--line-height-3);
      --letter-spacing: var(--letter-spacing-3);
      --radio-card-group-item-padding-x: var(--space-5);
      --radio-card-group-item-padding-y: calc(var(--space-5) / 1.2);
      --radio-card-group-item-border-radius: var(--radius-4);
      --radio-card-group-item-gap: var(--space-4);
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

.rt-RadioCardGroupItem {
  position: relative;

  &::before {
    inset: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
    content: '';
  }
}

/* surface */

.rt-RadioCardGroupRoot:where(.rt-variant-surface) {
  --radio-card-group-item-border-width: 1px;

  :where(.rt-RadioCardGroupItem) {
    background-color: var(--color-surface);
    &::after {
      outline-offset: -1px;
      box-shadow: 0 0 0 var(--radio-card-group-item-border-width) var(--gray-a5);
    }

    @media (hover: hover) {
      &:where(:not(:disabled):not([data-state='checked']):hover)::after {
        box-shadow: 0 0 0 var(--radio-card-group-item-border-width) var(--gray-a7);
      }
    }
  }
}

/* classic */

.rt-RadioCardGroupRoot:where(.rt-variant-classic) {
  --radio-card-group-item-border-width: 1px;

  :where(.rt-RadioCardGroupItem) {
    background-color: var(--color-surface);
    &::after {
      box-shadow: var(--shadow-2);
      transition: box-shadow 120ms;
    }

    @media (hover: hover) {
      &:where(:not(:disabled):not([data-state='checked']):hover)::after {
        transition-duration: 40ms;
        box-shadow: var(--base-card-classic-hover-box-shadow);
      }
    }
  }
}

/* all checked */

.rt-RadioCardGroupItem:where([data-state='checked'])::after {
  outline: 2px solid var(--accent-10);
}

/* all high-contrast */

.rt-RadioCardGroupRoot:where(.rt-high-contrast) {
  & :where(.rt-RadioCardGroupItem[data-state='checked'])::after {
    outline-color: var(--accent-12);
  }
}

/* all focus */

.rt-RadioCardGroupItem:where(:focus-visible) {
  &::before {
    background-color: var(--focus-a3);
  }
  &::after {
    outline: 2px solid var(--focus-8);
  }
  &:where([data-state='checked'])::after {
    outline-color: var(--focus-10);
  }
}

/* all disabled */

.rt-RadioCardGroupItem:where(:disabled) {
  cursor: var(--cursor-disabled);
  color: var(--gray-a9);

  &::before {
    background-color: var(--gray-a2);
  }
  &::after {
    outline-color: var(--gray-8);
  }
}
