.rt-RadioGroupItem {
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  flex-shrink: 0;

  /* Match Text size 2 line-height */
  height: var(--line-height-2);
}

.rt-RadioGroupButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: var(--radio-group-item-size);
  width: var(--radio-group-item-size);
  border-radius: 100%;

  /* Force arrow cursor */
  cursor: default;

  &:where(:focus-visible) {
    outline: 2px solid var(--accent-a8);
    outline-offset: 2px;
  }
}

.rt-RadioGroupIndicator {
  background-color: currentColor;
  height: var(--radio-group-indicator-size);
  width: var(--radio-group-indicator-size);
  border-radius: 100%;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-RadioGroupRoot {
    &.rt-r-size-1 {
      --radio-group-item-size: var(--space-4);
      --radio-group-indicator-size: calc(6px * var(--scaling));
    }
    &.rt-r-size-2 {
      --radio-group-item-size: var(--space-5);
      --radio-group-indicator-size: calc(10px * var(--scaling));
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* surface */

.rt-RadioGroupRoot.rt-variant-surface {
  :where(.rt-RadioGroupButton[data-state='unchecked']) {
    background-color: var(--color-surface);
    box-shadow: inset 0 0 0 1px var(--gray-a7);
  }
  :where(.rt-RadioGroupButton[data-state='checked']) {
    background-color: var(--accent-9);
    color: var(--accent-9-contrast);
  }
  &:where(.rt-high-contrast .rt-RadioGroupButton[data-state='checked']) {
    background-color: var(--accent-12);
    color: var(--accent-1);
  }
  & :where(.rt-RadioGroupButton[data-disabled]) {
    box-shadow: inset 0 0 0 1px var(--gray-a6);
    background-color: var(--gray-a3);
    cursor: var(--cursor-disabled);
    color: var(--gray-a8);
  }
}

/* classic */

.rt-RadioGroupRoot.rt-variant-classic {
  :where(.rt-RadioGroupButton[data-state='unchecked']) {
    background-color: var(--color-surface);
    box-shadow: inset 0 0 0 1px var(--gray-a3), var(--shadow-1);
  }
  :where(.rt-RadioGroupButton[data-state='checked']) {
    background-color: var(--accent-9);
    color: var(--accent-9-contrast);
  }
  &:where(.rt-high-contrast .rt-RadioGroupButton[data-state='checked']) {
    background-color: var(--accent-12);
    color: var(--accent-1);
  }
  & :where(.rt-RadioGroupButton[data-disabled]) {
    box-shadow: var(--shadow-1);
    background-color: var(--gray-a3);
    cursor: var(--cursor-disabled);
    color: var(--gray-a8);
  }
}

/* soft */

.rt-RadioGroupRoot.rt-variant-soft {
  :where(.rt-RadioGroupButton) {
    background-color: var(--accent-a5);
  }
  :where(.rt-RadioGroupButton[data-state='checked']) {
    color: var(--accent-11);
  }
  &:where(.rt-high-contrast .rt-RadioGroupButton[data-state='checked']) {
    color: var(--accent-12);
  }
  & :where(.rt-RadioGroupButton[data-disabled]) {
    background-color: var(--gray-a3);
    cursor: var(--cursor-disabled);
    color: var(--gray-a8);
  }
}
