.rt-RadioGroupRoot {
}

.rt-RadioGroupItem {
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  flex-shrink: 0;

  /* Match Text size 2 line-height */
  height: var(--line-height-2);
}

.rt-RadioGroupButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: var(--radio-group-item-size);
  width: var(--radio-group-item-size);
  border-radius: 100%;
}

.rt-RadioGroupIndicator {
  background-color: currentColor;
  height: var(--radio-group-indicator-size);
  width: var(--radio-group-indicator-size);
  border-radius: 100%;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-RadioGroupRoot {
    &.size-1 {
      --radio-group-item-size: var(--space-4);
      --radio-group-indicator-size: calc(6px * var(--scaling));
    }
    &.size-2 {
      --radio-group-item-size: var(--space-5);
      --radio-group-indicator-size: calc(10px * var(--scaling));
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* surface */

.rt-RadioGroupRoot.variant-surface {
  .rt-RadioGroupButton:where([data-state='unchecked']) {
    background-color: var(--color-surface);
    box-shadow: inset 0 0 0 1px var(--gray-a7);
  }
  .rt-RadioGroupButton:where(:focus-visible) {
    box-shadow: inset 0 0 0 1px var(--gray-a7), 0 0 0 2px var(--accent-3),
      0 0 0 4px var(--accent-a8);
  }
  .rt-RadioGroupButton:where([data-state='checked']) {
    background-color: var(--accent-9);
    color: var(--accent-9-contrast);
  }
  &:where(.high-contrast) .rt-RadioGroupButton:where([data-state='checked']) {
    background-color: var(--accent-12);
    color: var(--accent-1);
  }
}

/* classic */

.rt-RadioGroupRoot.variant-classic {
  .rt-RadioGroupButton:where([data-state='unchecked']) {
    background-color: var(--color-surface);
    box-shadow: inset 0 0 0 1px var(--gray-a3), var(--shadow-1);
  }
  .rt-RadioGroupButton:where(:focus-visible) {
    box-shadow: inset 0 0 0 1px var(--gray-a3), var(--shadow-1), 0 0 0 2px var(--accent-3),
      0 0 0 4px var(--accent-a8);
  }
  .rt-RadioGroupButton:where([data-state='checked']) {
    background-color: var(--accent-9);
    color: var(--accent-9-contrast);
  }
  &:where(.high-contrast) .rt-RadioGroupButton:where([data-state='checked']) {
    background-color: var(--accent-12);
    color: var(--accent-1);
  }
}

/* soft */

.rt-RadioGroupRoot.variant-soft {
  .rt-RadioGroupButton {
    background-color: var(--accent-a5);
  }

  .rt-RadioGroupButton:where(:focus-visible) {
    box-shadow: 0 0 0 2px var(--accent-1), 0 0 0 4px var(--accent-a8);
  }
  .rt-RadioGroupButton:where([data-state='checked']) {
    color: var(--accent-11);
  }
  &:where(.high-contrast) .rt-RadioGroupButton:where([data-state='checked']) {
    color: var(--accent-12);
  }
}

/* all disabled radios */

.rt-RadioGroupRoot .rt-RadioGroupButton[data-disabled] {
  box-shadow: inset 0 0 0 1px var(--gray-a6);
  background-color: var(--gray-a3);
  cursor: not-allowed;
  color: var(--gray-a8);
}
