/* stylelint-disable selector-max-type */
/* Disable selector-max-type rule to target individual element types. */
/* Make sure these tags are wrapped in `:where()` for 0 specificity. */

.rt-reset:where(a) {
  cursor: auto;
  text-decoration: none;
  color: inherit;
  outline: none;
}

.rt-reset:where(a[href]) {
  cursor: var(--cursor-link);
}

.rt-reset:where(button) {
  appearance: none;
  cursor: var(--cursor-button);
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  outline: none;
  color: inherit;
  padding: 0;
  margin: 0;
  text-align: initial;
  -webkit-tap-highlight-color: transparent;
}

.rt-reset:where(h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

.rt-reset:where(ol, ul) {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rt-reset:where(p) {
  margin: 0;
}

.rt-reset:where(pre) {
  font-family: inherit;
  margin: 0;
}

.rt-reset:where(dd) {
  margin: 0;
}
