.rt-ScrollAreaRoot {
  --scrollarea-scrollbar-margin-top: var(--space-1);
  --scrollarea-scrollbar-margin-bottom: var(--space-1);
  --scrollarea-scrollbar-margin-left: var(--space-1);
  --scrollarea-scrollbar-margin-right: var(--space-1);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.rt-ScrollAreaViewport {
  width: 100%;
  height: 100%;

  /* Stop Chrome back/forward two-finger swipe */
  overscroll-behavior-x: contain;
}

.rt-ScrollAreaViewport:focus-visible + .rt-ScrollAreaViewportFocusRing {
  position: absolute;
  inset: 0;
  pointer-events: none;
  box-shadow: inset 0 0 0 2px var(--accent-a8);
}

.rt-ScrollAreaScrollbar {
  display: flex;
  /* Ensures no selection */
  user-select: none;
  /* Disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;

  &[data-orientation='vertical'] {
    flex-direction: column;
    width: var(--scrollarea-scrollbar-size);
  }
  &[data-orientation='horizontal'] {
    flex-direction: row;
    height: var(--scrollarea-scrollbar-size);
  }
}

.rt-ScrollAreaThumb {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-width: 44px;
    min-height: 44px;
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-ScrollAreaScrollbar {
    &.rt-r-size-1 {
      --scrollarea-scrollbar-size: var(--space-1);
      --scrollarea-scrollbar-radius: max(var(--radius-1), var(--radius-full));
    }
    &.rt-r-size-2 {
      --scrollarea-scrollbar-size: var(--space-2);
      --scrollarea-scrollbar-radius: max(var(--radius-1), var(--radius-full));
    }
    &.rt-r-size-3 {
      --scrollarea-scrollbar-size: var(--space-3);
      --scrollarea-scrollbar-radius: max(var(--radius-1), var(--radius-full));
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

.rt-ScrollAreaScrollbar {
  background-color: var(--gray-a3);
  border-radius: var(--scrollarea-scrollbar-radius);
  margin-top: var(--scrollarea-scrollbar-margin-top);
  margin-bottom: var(--scrollarea-scrollbar-margin-bottom);
  margin-left: var(--scrollarea-scrollbar-margin-left);
  margin-right: var(--scrollarea-scrollbar-margin-right);

  animation-duration: 150ms;
  animation-timing-function: ease-out;

  &[data-state='visible'] {
    animation-name: fadeIn;
  }
  &[data-state='hidden'] {
    animation-name: fadeOut;
  }
}

.rt-ScrollAreaThumb {
  background-color: var(--gray-a8);
  border-radius: inherit;
  transition: background-color 100ms;

  @media (hover: hover) {
    &:hover {
      background-color: var(--gray-a9);
    }
  }
}
