.rt-Section {
  box-sizing: border-box;
  flex-shrink: 0;
}

@breakpoints {
  .rt-Section {
    &:where(.rt-r-size-1) {
      padding-block-start: var(--space-5);
      padding-block-end: var(--space-5);
    }
    &:where(.rt-r-size-2) {
      padding-block-start: var(--space-7);
      padding-block-end: var(--space-7);
    }
    &:where(.rt-r-size-3) {
      padding-block-start: 80px;
      padding-block-end: 80px;
    }
  }
}
