.rui-SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  flex-shrink: 0;
  line-height: var(--height);
  user-select: none;
}
.rui-SelectTrigger[data-disabled] {
  cursor: not-allowed;
}

.rui-SelectIcon {
  flex-shrink: 0;
}

.rui-SelectContent {
  overflow: hidden;
  border-radius: min((var(--item-height) / 2 + var(--content-padding)), var(--brs-3));
  background-color: var(--content-bg);
}

.rui-SelectContent[data-side] {
  min-width: var(--radix-select-trigger-width);
  transform-origin: var(--radix-select-content-transform-origin);
}

.rui-SelectViewport {
  padding: var(--content-padding);
}

.rui-SelectItem {
  display: flex;
  align-items: center;
  border-radius: var(--brs-2);
  padding-left: var(--space-5);
  padding-right: var(--space-5);
  position: relative;
  box-sizing: border-box;
  outline: none;

  /* Fix sticky text highlighting after selection in Firefox */
  user-select: none;
}

.rui-SelectItemIndicator {
  position: absolute;
  left: 0;
  width: var(--space-5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rui-SelectSeparator {
  height: 1px;
  margin: var(--space-2);
}

.rui-SelectLabel {
  display: flex;
  align-items: center;
  padding-left: var(--space-5);
  padding-right: var(--space-5);
  font-size: var(--fs-1);
  user-select: none;
  cursor: default;
}
.rui-SelectLabel:not(:first-child) {
  margin-top: var(--space-2);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  /* size 1 */

  .rui-SelectTrigger.size-1 {
    height: var(--space-5);
    padding-left: var(--space-2);
    padding-right: var(--space-2);
    gap: var(--space-1);
    font-size: var(--fs-1);
    border-radius: var(--brs-2);
  }
  .rui-SelectContent.size-1 {
    --content-padding: var(--space-1);
    --item-height: var(--space-5);
  }
  .rui-SelectContent.size-1 .rui-SelectItem {
    font-size: var(--fs-1);
    height: var(--space-5);
  }
  .rui-SelectContent.size-1 .rui-SelectLabel {
    height: var(--space-5);
  }

  /* size 2 */

  .rui-SelectTrigger.size-2 {
    height: var(--space-6);
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    gap: var(--space-2);
    border-radius: var(--brs-2);
    font-size: var(--fs-2);
  }
  .rui-SelectContent.size-2 {
    --content-padding: var(--space-2);
    --item-height: var(--space-6);
  }
  .rui-SelectContent.size-2 .rui-SelectItem {
    font-size: var(--fs-2);
    height: var(--space-6);
  }
  .rui-SelectContent.size-2 .rui-SelectLabel {
    height: var(--space-6);
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * TRIGGER VARIANTS                                                                                *
 *                                                                                                 *
 ***************************************************************************************************/

/* surface */

.rui-SelectTrigger.variant-surface {
  --shadow: 0 0 0 1px;
  background-color: var(--surface-1);
  box-shadow: var(--shadow) var(--mono-7);
}
.rui-SelectTrigger.variant-surface:where(:hover, [data-state='open']) {
  box-shadow: var(--shadow) var(--mono-8);
}
.rui-SelectTrigger.variant-surface:where(:active) {
  box-shadow: var(--shadow) var(--mono-9);
}
.rui-SelectTrigger.variant-surface:where(:focus-visible) {
  box-shadow: 0 0 0 2px var(--color-7);
}

/* surface-mono */

.rui-SelectTrigger.variant-surface-mono {
  --shadow: 0 0 0 1px;
  background-color: var(--surface-1);
  box-shadow: var(--shadow) var(--mono-7);
}
.rui-SelectTrigger.variant-surface-mono:where(:hover, [data-state='open']) {
  box-shadow: var(--shadow) var(--mono-8);
}
.rui-SelectTrigger.variant-surface-mono:where(:active) {
  box-shadow: var(--shadow) var(--mono-9);
}
.rui-SelectTrigger.variant-surface-mono:where(:focus-visible) {
  --shadow: 0 0 0 2px;
}

/* solid */

.rui-SelectTrigger.variant-solid {
  background-color: var(--color-9);
  color: var(--color-foreground);
}
.rui-SelectTrigger.variant-solid:where(:hover, [data-state='open']) {
  background-color: var(--color-10);
}
.rui-SelectTrigger.variant-solid:where(:active) {
  background-color: var(--color-10);
  filter: brightness(0.95);
}
.rui-SelectTrigger.variant-solid:where(:focus-visible) {
  outline-style: solid;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: var(--color-7);
}

/* solid-mono */

.rui-SelectTrigger.variant-solid-mono {
  background-color: var(--mono-a12);
  color: var(--mono-1);
}
.rui-SelectTrigger.variant-solid-mono:where(:hover, [data-state='open']) {
  opacity: 0.92;
}
.rui-SelectTrigger.variant-solid-mono:where(:active) {
  opacity: 0.86;
}
.rui-SelectTrigger.variant-solid-mono:where(:focus-visible) {
  outline-style: solid;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: var(--mono-a11);
}

/* subtle */

.rui-SelectTrigger.variant-subtle {
  background-color: var(--color-3);
  color: var(--color-11);
}
.rui-SelectTrigger.variant-subtle:where(:hover, [data-state='open']) {
  background-color: var(--color-4);
}
.rui-SelectTrigger.variant-subtle:where(:active) {
  background-color: var(--color-5);
}
.rui-SelectTrigger.variant-subtle:where(:focus-visible) {
  box-shadow: 0 0 0 2px var(--color-7);
}

/* subtle-mono */

.rui-SelectTrigger.variant-subtle-mono {
  background-color: var(--mono-a3);
  color: var(--mono-12);
}
.rui-SelectTrigger.variant-subtle-mono:where(:hover, [data-state='open']) {
  background-color: var(--mono-a4);
}
.rui-SelectTrigger.variant-subtle-mono:where(:active) {
  background-color: var(--mono-a5);
}
.rui-SelectTrigger.variant-subtle-mono:where(:focus-visible) {
  box-shadow: 0 0 0 2px var(--mono-7);
}

/* outline */

.rui-SelectTrigger.variant-outline {
  --shadow: 0 0 0 1px;
  box-shadow: var(--shadow) var(--color-6);
  color: var(--color-11);
}
.rui-SelectTrigger.variant-outline:where(:hover, [data-state='open']) {
  background-color: var(--color-2);
  box-shadow: var(--shadow) var(--color-7);
}
.rui-SelectTrigger.variant-outline:where(:active) {
  background-color: var(--color-3);
  box-shadow: var(--shadow) var(--color-8);
}
.rui-SelectTrigger.variant-outline:where(:focus-visible) {
  box-shadow: 0 0 0 2px var(--color-7);
}

/* outline-mono */

.rui-SelectTrigger.variant-outline-mono {
  --shadow: 0 0 0 1px;
  box-shadow: var(--shadow) var(--mono-11);
  color: var(--mono-12);
}
.rui-SelectTrigger.variant-outline-mono:where(:hover, [data-state='open']) {
  background-color: var(--mono-a2);
}
.rui-SelectTrigger.variant-outline-mono:where(:active) {
  background-color: var(--mono-a3);
}
.rui-SelectTrigger.variant-outline-mono:where(:focus-visible) {
  box-shadow: 0 0 0 2px var(--mono-11);
}

/* ghost */

.rui-SelectTrigger.variant-ghost {
  color: var(--color-11);
}
.rui-SelectTrigger.variant-ghost:where(:hover, [data-state='open']) {
  background-color: var(--color-3);
}
.rui-SelectTrigger.variant-ghost:where(:active) {
  background-color: var(--color-4);
}
.rui-SelectTrigger.variant-ghost:where(:focus-visible) {
  box-shadow: 0 0 0 2px var(--color-7);
}

/* ghost-mono */

.rui-SelectTrigger.variant-ghost-mono {
  color: var(--mono-12);
}
.rui-SelectTrigger.variant-ghost-mono:where(:hover, [data-state='open']) {
  background-color: var(--mono-a3);
}
.rui-SelectTrigger.variant-ghost-mono:where(:active) {
  background-color: var(--mono-a4);
}
.rui-SelectTrigger.variant-ghost-mono:where(:focus-visible) {
  box-shadow: 0 0 0 2px var(--mono-a7);
}

/* all disabled triggers */

.rui-SelectTrigger[data-disabled] {
  background-color: var(--mono-a3);
  box-shadow: none;
  color: var(--mono-a8);
}

/***************************************************************************************************
 *                                                                                                 *
 * MENU VARIANTS                                                                                   *
 *                                                                                                 *
 ***************************************************************************************************/

.rui-SelectContent {
  --content-bg: var(--panel);
  box-shadow: var(--shadow-3), inset 0 0 0 0.5px var(--mono-a6);
}
.rui-SelectContent .rui-SelectItem[data-disabled] {
  color: var(--mono-10);
}
.rui-SelectContent .rui-SelectLabel {
  color: var(--mono-11);
}
.rui-SelectSeparator {
  background-color: var(--mono-6);
}

/* solid */

.rui-SelectContent.variant-solid .rui-SelectItem[data-highlighted] {
  background-color: var(--color-9);
  color: var(--color-foreground);
}

/* solid-mono */

.rui-SelectContent.variant-solid-mono .rui-SelectItem[data-highlighted] {
  background-color: var(--mono-12);
  color: var(--mono-1);
}

/* subtle */

.rui-SelectContent.variant-subtle .rui-SelectItem[data-highlighted] {
  background-color: var(--color-5);
}

/* subtle-mono */

.rui-SelectContent.variant-subtle-mono .rui-SelectItem[data-highlighted] {
  background-color: var(--mono-5);
}
