.rui-Separator {
  background-color: var(--gray-a6);

  &:where([data-accent-scale]) {
    background-color: var(--accent-a6);
  }
  &[data-orientation='vertical'] {
    width: 1px;
    height: var(--separator-size);
  }
  &[data-orientation='horizontal'] {
    width: var(--separator-size);
    height: 1px;
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rui-Separator {
    &.size-1 {
      --separator-size: var(--space-4);
    }
    &.size-2 {
      --separator-size: var(--space-6);
    }
    &.size-3 {
      --separator-size: var(--space-9);
    }
    &.size-4 {
      --separator-size: 100%;
    }
  }
}
