.rui-SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
}
.rui-SliderRoot[data-orientation='horizontal'] {
  height: max(var(--track-size), var(--thumb-size));
}
.rui-SliderRoot[data-orientation='vertical'] {
  height: 100%;
  flex-direction: column;
  width: max(var(--track-size), var(--thumb-size));
}

.rui-SliderTrack {
  position: relative;
  flex-grow: 1;
  border-radius: var(--br-1);
  overflow: hidden;
}
.rui-SliderTrack[data-orientation='horizontal'] {
  height: var(--track-size);
}
.rui-SliderTrack[data-orientation='vertical'] {
  width: var(--track-size);
}

.rui-SliderRange {
  position: absolute;
}
.rui-SliderRange[data-orientation='horizontal'] {
  height: 100%;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.rui-SliderRange[data-orientation='vertical'] {
  width: 100%;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.rui-SliderRange[data-orientation='horizontal'][data-inverted] {
  border-radius: 0;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.rui-SliderRange[data-orientation='vertical'][data-inverted] {
  border-radius: 0;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.rui-SliderThumb {
  display: block;
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: min(var(--thumb-radius), calc(var(--thumb-size) / 2));
}
.rui-SliderThumb::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 44px;
  height: 44px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rui-SliderRoot.size-1 {
    --track-size: var(--space-1);
    --thumb-size: 14px;
    --thumb-radius: var(--br-1);
    --thumb-focus-outline-size: 3px;
  }
  .rui-SliderRoot.size-2 {
    --track-size: var(--space-2);
    --thumb-size: var(--space-4);
    --thumb-radius: var(--br-2);
    --thumb-focus-outline-size: 4px;
  }
  .rui-SliderRoot.size-3 {
    --track-size: var(--space-3);
    --thumb-size: var(--space-5);
    --thumb-radius: var(--br-3);
    --thumb-focus-outline-size: 5px;
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

:root,
.light-theme {
  --slider-track-shadow: inset 0 0 0 0.5px var(--gray-a6), inset 0 1px 2px 0 var(--gray-a7);
}
.dark-theme {
  --slider-track-shadow: inset 0 0 0 0.5px var(--gray-a7), inset 0 1px 2px 0 var(--black-a11);
}

.rui-SliderTrack {
  background-color: var(--gray-a3);
  box-shadow: var(--slider-track-shadow);
}

.rui-SliderRange {
  box-shadow: inset 0 1.5px 2px 0 var(--black-a7);
}

.rui-SliderThumb {
  background-color: white;
  box-shadow: 0 1px 2px var(--black-a7), 0 0 0 0.5px var(--gray-a5);
}
.rui-SliderThumb:where(:focus-visible) {
  outline: var(--thumb-focus-outline-size) solid var(--gray-a7);
}

/* solid */

.rui-SliderRoot.variant-solid .rui-SliderRange {
  background-color: var(--accent-9);
}

/* solid-mono */
:root,
.light-theme {
  --slider-range-solid-mono-bg: var(--gray-a12);
}
.dark-theme {
  --slider-range-solid-mono-bg: var(--gray-a9);
}

.rui-SliderRoot.variant-solid-mono .rui-SliderRange {
  background-color: var(--slider-range-solid-mono-bg);
}

/* subtle */

.rui-SliderRoot.variant-subtle .rui-SliderRange {
  background-color: var(--accent-5);
}

/* subtle-mono */

.rui-SliderRoot.variant-subtle-mono .rui-SliderRange {
  background-color: var(--gray-7);
}

/* all disabled Sliders */

.rui-SliderRoot[data-disabled] {
  cursor: not-allowed;
}
.rui-SliderRoot .rui-SliderTrack[data-disabled] {
  background-color: var(--gray-a3);
  box-shadow: none;
}
.rui-SliderRoot .rui-SliderRange[data-disabled] {
  background-color: var(--gray-7) !important;
  box-shadow: none;
}
.rui-SliderRoot .rui-SliderThumb[data-disabled] {
  background-color: var(--gray-6);
  box-shadow: none;
}
