.rt-SliderRoot {
  --slider-thumb-size: calc(var(--slider-track-size) + var(--space-1));

  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;

  &[data-orientation='horizontal'] {
    height: var(--slider-thumb-size);
  }
  &[data-orientation='vertical'] {
    height: 100%;
    flex-direction: column;
    width: var(--slider-thumb-size);
  }
}

.rt-SliderTrack {
  position: relative;
  flex-grow: 1;
  border-radius: var(--radius-1);
  overflow: hidden;

  &[data-orientation='horizontal'] {
    height: var(--slider-track-size);
  }
  &[data-orientation='vertical'] {
    width: var(--slider-track-size);
  }
}

.rt-SliderRange {
  position: absolute;

  &[data-orientation='horizontal'] {
    height: 100%;
  }

  &[data-orientation='vertical'] {
    width: 100%;
  }
}

.rt-SliderThumb {
  display: block;
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  border-radius: var(--slider-thumb-radius);

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 44px;
    height: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Larger visible thumb so that it slightly overshoots the range */
  &::after {
    content: '';
    position: absolute;
    inset: calc(-1 * var(--space-1) / 2);
    background-color: white;
    border-radius: var(--slider-thumb-radius);
    box-shadow: var(--slider-thumb-shadow);
  }

  &:where(:focus-visible)::after {
    box-shadow: var(--slider-thumb-shadow), 0 0 0 3px var(--accent-3), 0 0 0 5px var(--accent-8);
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-SliderRoot {
    &.size-1 {
      --slider-track-size: calc(var(--space-1) * 1.5);
      --slider-thumb-radius: max(var(--radius-1), var(--radius-full));
    }
    &.size-2 {
      --slider-track-size: var(--space-2);
      --slider-thumb-radius: max(var(--radius-2), var(--radius-full));
    }
    &.size-3 {
      --slider-track-size: var(--space-3);
      --slider-thumb-radius: max(var(--radius-3), var(--radius-full));
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* solid */

.rt-SliderRoot.variant-solid {
  & .rt-SliderTrack {
    background-color: var(--gray-3);
    box-shadow: inset 0 0 0 1px var(--gray-a5);
  }

  & .rt-SliderRange {
    background-color: var(--accent-9);
    box-shadow: inset 0 0 0 1px var(--gray-a5);
  }
  &:where(.high-contrast) .rt-SliderRange {
    background-color: var(--accent-12);
  }

  & .rt-SliderThumb {
    --slider-thumb-shadow: 0 0 0 1px var(--black-a7);
  }
}

/* classic */

.rt-SliderRoot.variant-classic {
  & .rt-SliderTrack {
    background-color: var(--gray-a3);
    box-shadow: var(--shadow-1);
  }

  & .rt-SliderRange {
    background-color: var(--accent-9);
    /* range shadow shouldn't change between light and dark mode because of the coloured fill */
    box-shadow: inset 0 0 0 1px var(--gray-a6), inset 0 1.5px 2px 0 var(--black-a7);
  }
  &:where(.high-contrast) .rt-SliderRange {
    background-color: var(--accent-12);
  }

  & .rt-SliderThumb {
    --slider-thumb-shadow: 0 0 0 1px var(--black-a7), 0 1px 3px var(--black-a3),
      0 2px 4px -1px var(--black-a3);
  }
}

/* soft */

.rt-SliderRoot.variant-soft {
  & .rt-SliderTrack {
    background-color: var(--gray-a3);

    /* blend gray with accent */
    background-image: linear-gradient(to right, var(--accent-a3), var(--accent-a3));
  }

  & .rt-SliderRange {
    background-color: var(--accent-a7);
  }
  &:where(.high-contrast) .rt-SliderRange {
    background-color: var(--accent-12);
  }

  & .rt-SliderThumb {
    --slider-thumb-shadow: 0 0 0 1px var(--black-a7), 0 0 0 1px var(--accent-a3),
      0 1px 2px var(--accent-a4), 0 1px 3px -0.5px var(--accent-a3);
  }
}

/* all disabled Sliders */

:root,
.light,
.light-theme {
  --slider-thumb-bg-overlay__disabled: var(--white-a9);
}
.dark,
.dark-theme {
  --slider-thumb-bg-overlay__disabled: var(--white-a3);
}

.rt-SliderRoot[data-disabled] {
  cursor: not-allowed;

  & .rt-SliderTrack[data-disabled] {
    background-color: var(--gray-a3);
    background-image: none;
    box-shadow: inset 0 0 0 1px var(--gray-a5);
  }
  & .rt-SliderRange[data-disabled] {
    background-color: transparent;
    box-shadow: none;
  }
  & .rt-SliderThumb[data-disabled]::after {
    background-color: var(--gray-3);
    box-shadow: 0 0 0 1px var(--gray-7);
    background-image: linear-gradient(
      to bottom,
      var(--slider-thumb-bg-overlay__disabled),
      var(--slider-thumb-bg-overlay__disabled)
    );
  }
}
