.rt-SliderRoot {
  --slider-thumb-size: calc(var(--slider-track-size) + var(--space-1));

  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;

  &:where([data-orientation='horizontal']) {
    height: var(--slider-thumb-size);
  }
  &:where([data-orientation='vertical']) {
    height: 100%;
    flex-direction: column;
    width: var(--slider-thumb-size);
  }
}

.rt-SliderTrack {
  position: relative;
  flex-grow: 1;
  border-radius: var(--radius-1);
  overflow: hidden;

  &:where([data-orientation='horizontal']) {
    height: var(--slider-track-size);
  }
  &:where([data-orientation='vertical']) {
    width: var(--slider-track-size);
  }
}

.rt-SliderRange {
  position: absolute;
  border-radius: inherit;

  &:where([data-orientation='horizontal']) {
    height: 100%;
  }

  &:where([data-orientation='vertical']) {
    width: 100%;
  }
}

.rt-SliderThumb {
  display: block;
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  border-radius: var(--slider-thumb-radius);

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 44px;
    height: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Larger visible thumb so that it slightly overshoots the range */
  &::after {
    content: '';
    position: absolute;
    inset: calc(-1 * var(--space-1) / 2);
    background-color: white;
    border-radius: var(--slider-thumb-radius);
    box-shadow: var(--slider-thumb-shadow);
  }

  &:where(:focus-visible)::after {
    box-shadow: var(--slider-thumb-shadow), 0 0 0 3px var(--accent-3), 0 0 0 5px var(--accent-8);
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-SliderRoot {
    &:where(.rt-r-size-1) {
      --slider-track-size: calc(var(--space-1) * 1.5);
      --slider-thumb-radius: max(var(--radius-1), var(--radius-full));
    }
    &:where(.rt-r-size-2) {
      --slider-track-size: var(--space-2);
      --slider-thumb-radius: max(var(--radius-2), var(--radius-full));
    }
    &:where(.rt-r-size-3) {
      --slider-track-size: var(--space-3);
      --slider-thumb-radius: max(var(--radius-3), var(--radius-full));
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* surface */

.rt-SliderRoot:where(.rt-variant-surface) {
  & :where(.rt-SliderTrack) {
    background-color: var(--gray-a3);
    box-shadow: inset 0 0 0 1px var(--gray-a5);

    &:where([data-disabled]) {
      box-shadow: inset 0 0 0 1px var(--gray-a4);
    }
  }

  & :where(.rt-SliderRange) {
    background-color: var(--accent-9);
    box-shadow: inset 0 0 0 1px var(--gray-a5);
  }

  & :where(.rt-SliderThumb) {
    --slider-thumb-shadow: 0 0 0 1px var(--black-a3);

    &:where([data-disabled])::after {
      background-color: var(--gray-1);
      box-shadow: 0 0 0 1px var(--gray-6);
    }
  }
}

/* classic */

.rt-SliderRoot:where(.rt-variant-classic) {
  & :where(.rt-SliderTrack) {
    background-color: var(--gray-a3);
    position: relative;

    &::before {
      content: '';
      inset: 0;
      position: absolute;
      border-radius: inherit;
      box-shadow: var(--shadow-1);
    }
    &:where([data-disabled])::before {
      opacity: 0.5;
    }
  }

  & :where(.rt-SliderRange) {
    background-color: var(--accent-9);
    /* range shadow shouldn't change between light and dark mode because of the coloured fill */
    box-shadow: inset 0 0 0 1px var(--gray-a6), inset 0 1.5px 2px 0 var(--black-a2);
  }

  & :where(.rt-SliderThumb) {
    /* prettier-ignore */
    --slider-thumb-shadow:
      0 0 0 1px var(--black-a3),
      0 1px 3px var(--black-a1),
      0 2px 4px -1px var(--black-a1);

    &:where([data-disabled])::after {
      background-color: var(--gray-1);
      box-shadow: 0 0 0 1px var(--gray-6);
    }
  }
}

/* soft */

.rt-SliderRoot:where(.rt-variant-soft) {
  & :where(.rt-SliderTrack) {
    background-color: var(--gray-a3);

    /* blend gray with accent */
    background-image: linear-gradient(to right, var(--accent-a3), var(--accent-a3));

    &:where([data-disabled]) {
      background-color: var(--gray-a4);
      background-image: none;
    }
  }

  & :where(.rt-SliderRange) {
    background-color: var(--accent-a7);
  }

  & :where(.rt-SliderThumb) {
    --slider-thumb-shadow: 0 0 0 1px var(--black-a3), 0 0 0 1px var(--gray-a2),
      0 0 0 1px var(--accent-a2), 0 1px 2px var(--gray-a4), 0 1px 3px -0.5px var(--gray-a3);

    &:where([data-disabled])::after {
      background-color: var(--gray-1);
      box-shadow: 0 0 0 1px var(--gray-5);
    }
  }
}

/* all high-contrast */

.radix-themes {
  --slider-range-background-image__high-contrast: linear-gradient(
    to right,
    var(--black-a8),
    var(--black-a8)
  );
}
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --slider-range-background-image__high-contrast: none;
}
.rt-SliderRoot:where(.rt-high-contrast) {
  & :where(.rt-SliderRange) {
    /* blend black and accent */
    background-image: var(--slider-range-background-image__high-contrast);
  }
}

.radix-themes {
  --slider-blend-mode__disabled: multiply;
}
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --slider-blend-mode__disabled: screen;
}

/* all disabled Sliders */

[data-disabled] {
  .rt-SliderRoot:where(&) {
    cursor: not-allowed;
    mix-blend-mode: var(--slider-blend-mode__disabled);
  }
  .rt-SliderRange:where(&) {
    background-color: transparent;
    box-shadow: none;
  }
}
