.rt-SwitchRoot {
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  flex-shrink: 0;

  /* Match Text size 2 line-height */
  height: var(--line-height-2);

  --switch-padding: 1px;
  --switch-width: calc(var(--switch-height) * 1.75);
  --switch-thumb-size: calc(var(--switch-height) - var(--switch-padding) * 2);
  --switch-thumb-translate: calc(var(--switch-width) - var(--switch-height));
}

.rt-SwitchButton {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: var(--switch-width);
  height: var(--switch-height);
  padding: var(--switch-padding);
  border-radius: var(--switch-radius);

  /* A pseudo element for the background color */
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
    transition: background-position, background-color, box-shadow, filter;
    transition-timing-function: linear, ease-in-out, ease-in-out, ease-in-out;
    background-repeat: no-repeat;

    /*
     * Length of the gradient is: switch width for the checked part, plus switch
     * height for the thumb part, plus another switch width for the unchecked part
     */
    background-size: calc(var(--switch-width) * 2 + var(--switch-height)) 100%;
  }

  &:where([data-state='unchecked'])::before {
    transition-duration: 120ms, 140ms, 140ms, 140ms;
    background-position-x: 100%;
  }

  &:where([data-state='checked'])::before {
    transition-duration: 160ms, 140ms, 140ms, 140ms;
    background-position: 0%;
  }

  &:where(:active)::before {
    transition-duration: 30ms;
  }

  &:where(:focus-visible) {
    outline: 2px solid var(--accent-a8);
    outline-offset: 2px;
  }
}

.rt-SwitchThumb {
  background-color: white;
  position: relative;
  width: var(--switch-thumb-size);
  height: var(--switch-thumb-size);
  border-radius: calc(var(--switch-radius) - var(--switch-padding));
  transition: transform 140ms cubic-bezier(0.45, 0.05, 0.55, 0.95), box-shadow 140ms ease-in-out;

  &:where([data-state='checked']) {
    transform: translateX(var(--switch-thumb-translate));
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-SwitchRoot {
    &.rt-r-size-1 {
      --switch-height: var(--space-4);
      --switch-radius: max(var(--radius-2), var(--radius-full));
    }
    &.rt-r-size-2 {
      --switch-height: var(--space-5);
      --switch-radius: max(var(--radius-3), var(--radius-full));
    }
    &.rt-r-size-3 {
      --switch-height: var(--space-6);
      --switch-radius: max(var(--radius-4), var(--radius-full));
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* surface */

.radix-themes {
  --switch-button-filter__surface-checked-active: brightness(0.92) saturate(1.1);
}
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) .radix-themes:not(.light, .light-theme) {
  --switch-button-filter__surface-checked-active: brightness(1.08);
}

.rt-SwitchRoot.rt-variant-surface {
  & .rt-SwitchButton {
    &::before {
      background-color: var(--gray-a3);
      background-image: linear-gradient(to right, var(--accent-9) 40%, transparent 60%);
      box-shadow: inset 0 0 0 1px var(--gray-a6);
    }
    &:where(:active)::before {
      background-color: var(--gray-a4);
    }
    &:where([data-state='checked']:active)::before {
      filter: var(--switch-button-filter__surface-checked-active);
    }
  }

  /* prettier-ignore */
  &:where(.rt-high-contrast) {
    & .rt-SwitchButton {
      &::before {
        background-image:
          linear-gradient(to right, var(--switch-button-overlay__high-contrast-checked) 40%, transparent 60%),
          linear-gradient(to right, var(--accent-9) 40%, transparent 60%);
      }
    }
  }

  & .rt-SwitchThumb {
    &:where([data-state='unchecked']) {
      box-shadow: 0 0 1px 1px var(--black-a2), 0 1px 1px var(--black-a1),
        0 2px 4px -1px var(--black-a1);
    }
    &:where([data-state='checked']) {
      box-shadow: 0 0 1px 1px var(--black-a2), 0 1px 1px var(--black-a1),
        0 2px 4px -1px var(--black-a1), -1px 0 1px var(--black-a3);
    }
  }
}

/* classic */

.radix-themes {
  --switch-button-filter__surface-checked-active: brightness(0.92) saturate(1.1);
}
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) .radix-themes:not(.light, .light-theme) {
  --switch-button-filter__surface-checked-active: brightness(1.08);
}

.rt-SwitchRoot.rt-variant-classic {
  & .rt-SwitchButton {
    &::before {
      background-image: linear-gradient(to right, var(--accent-9) 40%, transparent 60%);
      background-color: var(--gray-a4);
      box-shadow: var(--shadow-1);
    }
    &:where([data-state='unchecked']:active)::before {
      background-color: var(--gray-a5);
    }
    &:where([data-state='checked'])::before {
      /* checked shadow shouldn't change between light and dark mode because of the coloured fill */
      box-shadow: inset 0 0 0 1px var(--gray-a6), inset 0 1.5px 2px 0 var(--black-a3);
    }
    &:where([data-state='checked']:active)::before {
      filter: var(--switch-button-filter__surface-checked-active);
    }
  }

  /* prettier-ignore */
  &:where(.rt-high-contrast) {
    & .rt-SwitchButton {
      &::before {
        background-image:
          linear-gradient(to right, var(--switch-button-overlay__high-contrast-checked) 40%, transparent 60%),
          linear-gradient(to right, var(--accent-9) 40%, transparent 60%);
      }
    }
  }

  & .rt-SwitchThumb {
    &:where([data-state='unchecked']) {
      box-shadow: 0 1px 3px var(--black-a3), 0 2px 4px -1px var(--black-a1),
        0 0 0 1px var(--black-a2);
    }
    &:where([data-state='checked']) {
      box-shadow: 0 1px 3px var(--black-a3), 0 2px 4px -1px var(--black-a1),
        0 0 0 1px var(--black-a2), -1px 0 1px var(--black-a3);
    }
  }
}

/* soft */

.radix-themes {
  --switch-button-filter__soft-checked-active: contrast(1.2) brightness(0.75) saturate(1.1);
}
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) .radix-themes:not(.light, .light-theme) {
  --switch-button-filter__soft-checked-active: brightness(1.08);
}

.rt-SwitchRoot.rt-variant-soft {
  & .rt-SwitchButton {
    /* prettier-ignore */
    &::before {
      background-image:
        linear-gradient(to right, var(--accent-a8) 40%, transparent 60%),
        linear-gradient(to right, var(--accent-a3), var(--accent-a3));
    }
    &:where([data-state='unchecked'])::before {
      background-color: var(--gray-a5);
    }
    &:where([data-state='unchecked']:active)::before {
      background-color: var(--gray-a7);
    }
    &:where([data-state='checked']:active)::before {
      filter: var(--switch-button-filter__soft-checked-active);
    }
  }

  /* prettier-ignore */
  &:where(.rt-high-contrast) {
    & .rt-SwitchButton {
      &::before {
        background-image:
          linear-gradient(to right, var(--switch-button-overlay__high-contrast-checked) 40%, transparent 60%),
          linear-gradient(to right, var(--accent-a8) 40%, transparent 60%),
          linear-gradient(to right, var(--accent-a3), var(--accent-a3));
      }
    }
  }

  & .rt-SwitchThumb {
    box-shadow: 0 0 0 1px var(--accent-a3), 0 1px 3px var(--accent-a4),
      0 2px 4px -1px var(--accent-a3);
    filter: saturate(0.45);
  }
}

/* all high-contrast */

.radix-themes {
  --switch-button-overlay__high-contrast-checked: var(--black-a8);
  --switch-button-filter__high-contrast-checked-active: contrast(0.82) saturate(1.2)
    brightness(1.16);
}
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) .radix-themes:not(.light, .light-theme) {
  --switch-button-overlay__high-contrast-checked: transparent;
  --switch-button-filter__high-contrast-checked-active: brightness(1.08);
}

.rt-SwitchRoot.rt-high-contrast {
  & .rt-SwitchButton {
    &:where([data-state='checked']:active)::before {
      filter: var(--switch-button-filter__high-contrast-checked-active);
    }
  }
}

/* all disabled switches */

.radix-themes {
  --switch-thumb-shadow__disabled: 0 0 0 1px var(--gray-6);
  --switch-blend-mode__disabled: multiply;
}
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) .radix-themes:not(.light, .light-theme) {
  --switch-thumb-shadow__disabled: 0 0 0 1px var(--gray-5);
  --switch-blend-mode__disabled: screen;
}

.rt-SwitchRoot {
  & .rt-SwitchButton[data-disabled] {
    cursor: not-allowed;
    mix-blend-mode: var(--switch-blend-mode__disabled);

    &::before {
      background-image: none;
      background-color: var(--gray-a3);
      box-shadow: inset 0 0 0 1px var(--gray-a5);
    }
  }
  & .rt-SwitchThumb[data-disabled] {
    background-color: var(--gray-2);
    box-shadow: var(--switch-thumb-shadow__disabled);
    /* Avoid the Chrome P3 bug with transition through red when changing light/dark mode */
    transition: none;
  }
}
