.rui-SwitchRoot {
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  flex-shrink: 0;

  /* Match Text size 2 line-height */
  height: calc(20px * var(--scaling));
}

.rui-SwitchButton {
  display: inline-flex;
  align-items: center;
  width: var(--root-width);
  height: var(--root-height);
  padding: var(--root-padding);
  border-radius: var(--radius-3);

  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.rui-SwitchThumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: max(var(--radius-2), calc(var(--radius-3) - var(--root-padding)));
  transition-property: transform, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;

  &:where([data-state='checked']) {
    transform: translateX(var(--thumb-translate));
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rui-SwitchRoot {
    &.size-1 {
      --root-width: calc(28px * var(--scaling));
      --root-height: var(--space-4);
      --root-padding: 1px;
      --thumb-size: calc(14px * var(--scaling));
      --thumb-translate: calc(12px * var(--scaling));
    }
    &.size-2 {
      --root-width: var(--space-7);
      --root-height: var(--space-5);
      --root-padding: var(--space-1);
      --thumb-size: var(--space-4);
      --thumb-translate: var(--space-4);
    }
    &.size-3 {
      --root-width: calc(56px * var(--scaling));
      --root-height: var(--space-6);
      --root-padding: var(--space-1);
      --thumb-size: var(--space-5);
      --thumb-translate: var(--space-5);
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

.rui-SwitchButton {
  background-color: var(--gray-3);
  box-shadow: var(--shadow-1);

  &:where(:focus-visible) {
    outline-style: solid;
    outline-offset: 2px;
    outline-width: 2px;
  }
  &:where([data-state='checked']) {
    box-shadow: inset 0 1.5px 2px 0 var(--black-a7);
  }
}

.rui-SwitchThumb {
  background-color: var(--white-a12);
  box-shadow: 0 1px 2px var(--black-a7), 0 0 0 0.5px var(--gray-a3);

  &:where([data-state='checked']) {
    box-shadow: 0 1px 2px var(--black-a9);
  }
}

/* solid */

.rui-SwitchRoot.variant-solid {
  & .rui-SwitchButton:where(:focus-visible) {
    outline-color: var(--accent-a8);
  }
  & .rui-SwitchButton:where([data-state='checked']) {
    background-color: var(--accent-9);
  }
  &:where(.high-contrast) .rui-SwitchButton:where([data-state='checked']) {
    background-color: var(--accent-12);
    outline-color: var(--accent-a11);
  }
  :where(.dark-theme) &:where(.high-contrast) .rui-SwitchThumb:where([data-state='checked']) {
    background-color: var(--accent-1);
    box-shadow: 0 0 0 1px var(--accent-1);
  }
}

/* all disabled switches */

.rui-SwitchRoot {
  & .rui-SwitchButton[data-disabled] {
    background-color: var(--gray-a3);
    box-shadow: inset 0 0 0 1px var(--gray-a5);
    cursor: not-allowed;
  }
  & .rui-SwitchThumb[data-disabled] {
    background-color: var(--gray-a5);
    box-shadow: none;
  }
}
