.rt-TableRootTable {
  --table-row-background: transparent;
  --table-row-border-bottom: inset 0 -1px var(--gray-a5);

  width: 100%;
  text-align: left;
  vertical-align: top;
  border-collapse: collapse;
  border-radius: calc(var(--table-border-radius) - 1px);
  border-spacing: 0;
  box-sizing: border-box;

  /* Makes "height: 100%" work on content inside cells */
  height: 0;
}

.rt-TableHeader {
  vertical-align: inherit;
}

.rt-TableBody {
  vertical-align: inherit;
}

.rt-TableRow {
  vertical-align: inherit;
  color: var(--gray-12);
}

.rt-TableCell {
  background-color: var(--table-row-background);
  box-shadow: var(--table-row-border-bottom);
  box-sizing: border-box;
  vertical-align: inherit;
  padding: var(--table-cell-padding);
  /* Works as min-height */
  height: var(--table-cell-min-height);
}
.rt-TableColumnHeaderCell {
  font-weight: bold;
}
.rt-TableRowHeaderCell {
  font-weight: normal;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-TableRoot {
    &.rt-r-size-1 {
      --table-border-radius: var(--radius-3);
      --table-cell-padding: var(--space-2);
      --table-cell-min-height: calc(36px * var(--scaling));

      & .rt-TableRootTable {
        font-size: var(--font-size-2);
        line-height: var(--line-height-2);
      }
    }
    &.rt-r-size-2 {
      --table-border-radius: var(--radius-4);
      --table-cell-padding: var(--space-3);
      --table-cell-min-height: calc(44px * var(--scaling));

      & .rt-TableRootTable {
        font-size: var(--font-size-2);
        line-height: var(--line-height-2);
      }
    }
    &.rt-r-size-3 {
      --table-border-radius: var(--radius-4);
      --table-cell-padding: var(--space-3) var(--space-4);
      --table-cell-min-height: calc(48px * var(--scaling));

      .rt-TableRootTable {
        font-size: var(--font-size-3);
        line-height: var(--line-height-3);
      }
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* surface */

.rt-TableRoot.rt-variant-surface {
  border: 1px solid var(--gray-a5);
  border-radius: var(--table-border-radius);
  background-color: var(--color-panel);
  position: relative;

  & .rt-TableRootTable {
    overflow: hidden;

    & :where(.rt-TableHeader) {
      --table-row-background: var(--gray-a2);
    }

    & :where(.rt-TableBody .rt-TableRow:last-child) {
      --table-row-border-bottom: none;
    }
  }
}

/* ghost */

.rt-TableRoot.rt-variant-ghost {
  .rt-ScrollAreaScrollbar[data-orientation='horizontal'] {
    --scrollarea-scrollbar-margin-left: 0;
    --scrollarea-scrollbar-margin-right: 0;
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * Inset > Table                                                                                   *
 *                                                                                                 *
 ***************************************************************************************************/

.rt-Inset > .rt-TableRootTable .rt-TableCell:first-child {
  padding-left: var(--inset-padding);
}

.rt-Inset > .rt-TableRootTable .rt-TableCell:last-child {
  padding-right: var(--inset-padding);
}
