.rt-TableRoot {
  --table-separator-color: var(--gray-a5);
  --table-row-background: transparent;
  --table-row-border-bottom: inset 0 -1px var(--table-separator-color);

  width: 100%;
  text-align: left;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0;

  /* Makes "height: 100%" work on content inside cells */
  height: 0;
}

.rt-TableHeader {
  vertical-align: inherit;
}

.rt-TableBody {
  vertical-align: inherit;
}

.rt-TableRow {
  vertical-align: inherit;
  color: var(--gray-12);
}

.rt-TableCell {
  background-color: var(--table-row-background);
  box-shadow: var(--table-row-border-bottom);
  box-sizing: border-box;
  vertical-align: inherit;
  padding: var(--table-cell-padding);
  /* Works as min-height */
  height: var(--table-cell-min-height);
}
.rt-TableColumnHeaderCell {
  font-weight: bold;
}
.rt-TableRowHeaderCell {
  font-weight: normal;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-TableRoot {
    &.size-1 {
      border-radius: var(--radius-3);
      font-size: var(--font-size-2);
      line-height: var(--line-height-2);
      --table-cell-padding: var(--space-2);
      --table-cell-min-height: 36px;
    }
    &.size-2 {
      border-radius: var(--radius-4);
      font-size: var(--font-size-2);
      line-height: var(--line-height-2);
      --table-cell-padding: var(--space-3);
      --table-cell-min-height: 44px;
    }
    &.size-3 {
      border-radius: var(--radius-4);
      font-size: var(--font-size-3);
      line-height: var(--line-height-3);
      --table-cell-padding: var(--space-3) var(--space-4);
      --table-cell-min-height: 48px;
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* surface */

.rt-TableRoot.variant-surface {
  overflow: hidden;
  background-color: var(--color-panel-transparent);

  position: relative;
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid var(--gray-a5);
    border-radius: inherit;
    pointer-events: none;
  }

  & :where(.rt-TableHeader) {
    --table-row-background: var(--gray-a2);
  }

  & :where(.rt-TableBody .rt-TableRow:last-child) {
    --table-row-border-bottom: none;
  }
}

/* ghost */

.rt-TableRoot.variant-ghost {
}

/***************************************************************************************************
 *                                                                                                 *
 * Inset > Table                                                                                   *
 *                                                                                                 *
 ***************************************************************************************************/

.rt-Inset > .rt-TableRoot .rt-TableCell:first-child {
  padding-left: var(--inset-padding);
}

.rt-Inset > .rt-TableRoot .rt-TableCell:last-child {
  padding-right: var(--inset-padding);
}
