.rui-TabsList {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.rui-TabsTrigger {
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  user-select: none;
}

.rui-TabsTriggerInner,
.rui-TabsTriggerInnerHidden {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rui-TabsTriggerInner {
  position: absolute;
  letter-spacing: 0.01em;

  .rui-TabsTrigger[data-state='active'] & {
    font-weight: 600;
    letter-spacing: -0.01em;
  }
}

.rui-TabsTriggerInnerHidden {
  visibility: hidden;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.rui-TabsContent {
  position: relative;
  outline: 0;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

.rui-TabsTrigger {
  height: var(--trigger-height);
  font-size: var(--trigger-font-size);
  gap: var(--trigger-gap);
  padding-left: var(--trigger-padding-x);
  padding-right: var(--trigger-padding-x);
}

.rui-TabsTriggerInner,
.rui-TabsTriggerInnerHidden {
  padding: var(--trigger-inner-padding);
  border-radius: var(--trigger-inner-radius);
}

@breakpoints {
  .rui-TabsList {
    &.size-1 {
      --trigger-height: var(--space-6);
      --trigger-font-size: var(--font-size-1);
      --trigger-gap: var(--space-1);
      --trigger-padding-x: var(--space-1);
      --trigger-inner-padding: var(--space-1);
      --trigger-inner-radius: var(--radius-1);
    }
    &.size-2 {
      --trigger-height: var(--space-7);
      --trigger-font-size: var(--font-size-2);
      --trigger-gap: var(--space-2);
      --trigger-padding-x: var(--space-2);
      --trigger-inner-padding: var(--space-1);
      --trigger-inner-radius: var(--radius-2);
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

.rui-TabsList {
  box-shadow: inset 0 -1px 0 0 var(--gray-a5);
}

.rui-TabsTrigger {
  color: var(--gray-a11);

  &:hover {
    color: var(--gray-12);
  }
  &[data-state='active'] {
    color: var(--gray-12);
  }
  &:hover .rui-TabsTriggerInner {
    background-color: var(--gray-a3);
  }
  &:focus-visible .rui-TabsTriggerInner {
    box-shadow: 0 0 0 2px var(--accent-7);
  }
  &[data-state='active']::before {
    box-sizing: border-box;
    content: '';
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--accent-9);
  }
}

.rui-TabsContent:focus-visible {
  box-shadow: 0 0 0 2px var(--accent-7);
}

/* WIP variant */

/* .rui-TabsList {
  display: inline-flex;
  background-color: var(--gray-a1);
  box-shadow: inset 0 0 0 1px var(--gray-a6);
  padding: var(--space-1);
  border-radius: calc(var(--trigger-inner-radius) + var(--space-1));
}

.rui-TabsTrigger {
  color: var(--gray-a11);
  border-radius: var(--trigger-inner-radius);

  &[data-state='active'] {
    background-color: var(--accent-9);
    color: var(--accent-9-contrast);
  }
  &:focus-visible {
    outline: 2px solid var(--accent-7);
    outline-offset: 2px;
    position: relative;
    z-index: 1;
  }
} */
