.rt-TextArea {
  appearance: none;
  border-width: 0;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  outline: none;

  box-sizing: border-box;
  display: block;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;

  resize: none;

  /* scrollbar */
  & {
    /* Arrow mouse cursor over the scrollbar */
    cursor: auto;
    scrollbar-width: thin;
  }
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 12px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--gray-a3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--gray-a8);
  }
  &:not(:disabled)::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-a9);
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rt-TextArea {
    &.size-1 {
      min-height: var(--space-8);
      padding: var(--space-1);
      border-radius: var(--radius-2);
      font-size: var(--font-size-1);
      line-height: var(--line-height-1);
      letter-spacing: var(--letter-spacing-1);
    }
    &.size-2 {
      min-height: var(--space-9);
      padding: var(--space-2);
      border-radius: var(--radius-2);
      font-size: var(--font-size-2);
      line-height: var(--line-height-2);
      letter-spacing: var(--letter-spacing-2);
    }
    &.size-3 {
      min-height: 80px;
      padding: var(--space-2) var(--space-3);
      border-radius: var(--radius-3);
      font-size: var(--font-size-3);
      line-height: var(--line-height-3);
      letter-spacing: var(--letter-spacing-3);
    }
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

.rt-TextArea {
  color: var(--gray-12);

  &::placeholder {
    color: var(--gray-a10);
    /* Firefox */
    opacity: 1;
  }
  &:autofill {
    -webkit-text-fill-color: var(--gray-12);
    box-shadow: var(--shadow-1), inset 0 0 0 100px var(--accent-3);
    &:focus {
      box-shadow: inset 0 0 0 1px var(--accent-8), 0 0 0 1px var(--accent-a8),
        inset 0 0 0 100px var(--accent-3);
    }
  }
  &:read-only {
    &::placeholder {
      color: var(--gray-a7);
    }
    &::selection {
      background-color: var(--gray-a5);
    }
  }
}

/* solid */

.rt-TextArea.variant-solid {
  background-color: var(--color-canvas);
  box-shadow: inset 0 0 0 1px var(--gray-a7);
  &:focus {
    box-shadow: inset 0 0 0 1px var(--accent-8), 0 0 0 1px var(--accent-a8);
  }
}

/* classic */

.rt-TextArea.variant-classic {
  background-color: var(--color-surface-1);
  box-shadow: var(--shadow-1);
  &:focus {
    box-shadow: inset 0 0 0 1px var(--accent-8), 0 0 0 1px var(--accent-a8), var(--shadow-1);
  }
}

/* soft */
.rt-TextArea.variant-soft {
  background-color: var(--accent-a3);
  &:focus {
    box-shadow: inset 0 0 0 1px var(--accent-8), 0 0 0 1px var(--accent-a8);
  }
  &::placeholder {
    color: var(--accent-12);
    opacity: 0.5;
  }
  &::selection {
    background-color: var(--accent-a5);
  }
}

/* all disabled textareas */

.rt-TextArea:disabled {
  color: var(--gray-a9);
  box-shadow: inset 0 0 0 1px var(--gray-a6);
  background-color: var(--gray-a3);
  cursor: not-allowed;
}

/* all readonly textareas */

.rt-TextArea:read-only {
  background-color: var(--gray-a3);
  &:not(:focus) {
    box-shadow: inset 0 0 0 1px var(--gray-a6);
  }
  &:focus {
    box-shadow: inset 0 0 0 1px var(--gray-8), 0 0 0 1px var(--gray-a8);
  }
}
