.rt-TextFieldRoot {
  position: relative;
  cursor: text;
}

.rt-TextFieldInput {
  appearance: none;
  border-width: 0;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  font-family: inherit;
  background-color: transparent;

  position: relative;
  z-index: 1;

  &:focus + .rt-TextFieldChrome {
    outline: 2px solid var(--accent-8);
    outline-offset: -1px;
  }
}
.rt-TextFieldChrome {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.rt-TextFieldSlot {
  position: relative;
  z-index: 1;
  color: var(--gray-a11);

  &[data-accent-color] {
    color: var(--accent-a11);
  }
  &:empty {
    display: none;
  }
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

.rt-TextFieldRoot {
  display: flex;
  box-sizing: border-box;
}
.rt-TextFieldSlot {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.rt-TextFieldInput {
  display: block;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}
/* Ensure no padding on input when there's a slot before it */
.rt-TextFieldRoot .rt-TextFieldSlot + .rt-TextFieldInput {
  text-indent: 0;
}

@breakpoints {
  .rt-TextFieldSlot {
    &:where(.rt-r-size-1) {
      gap: var(--space-2);
      padding-left: var(--space-1);
      padding-right: var(--space-1);
    }
    &:where(.rt-r-size-2) {
      gap: var(--space-2);
      padding-left: var(--space-2);
      padding-right: var(--space-2);
    }
    &:where(.rt-r-size-3) {
      gap: var(--space-3);
      padding-left: var(--space-3);
      padding-right: var(--space-3);
    }
  }
  .rt-TextFieldInput {
    &:where(.rt-r-size-1) {
      height: var(--space-5);
      font-size: var(--font-size-1);
      letter-spacing: var(--letter-spacing-1);

      /* Equivalent to padding-left, but doesn't cut off long values when cursor is at the end */
      text-indent: calc(var(--space-1) * 1.5);

      /* Tweak text alignment */
      padding-top: 0.5px;
      padding-bottom: 1px;

      & + .rt-TextFieldChrome {
        border-radius: max(var(--radius-2), var(--radius-full));
      }
    }
    &:where(.rt-r-size-2) {
      height: var(--space-6);
      font-size: var(--font-size-2);
      letter-spacing: var(--letter-spacing-2);

      /* Equivalent to padding-left, but doesn't cut off long values when cursor is at the end */
      text-indent: var(--space-2);

      /* Tweak text alignment */
      padding-top: 0px;
      padding-bottom: 1px;

      & + .rt-TextFieldChrome {
        border-radius: max(var(--radius-2), var(--radius-full));
      }
    }
    &:where(.rt-r-size-3) {
      height: var(--space-7);
      font-size: var(--font-size-3);
      letter-spacing: var(--letter-spacing-3);

      /* Equivalent to padding-left, but doesn't cut off long values when cursor is at the end */
      text-indent: var(--space-3);

      /* Tweak text alignment */
      padding-top: 0.5px;
      padding-bottom: 1px;

      & + .rt-TextFieldChrome {
        border-radius: max(var(--radius-3), var(--radius-full));
      }
    }
  }
}

/***************************************************************************************************
	*                                                                                                 *
	* VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* surface */

.rt-TextFieldInput:where(.rt-variant-surface) {
  color: var(--gray-12);

  /* Don't overlap text with the inset shadow */
  padding-left: 1px;
  padding-right: 1px;

  & + .rt-TextFieldChrome {
    background-color: var(--color-surface);
    box-shadow: inset 0 0 0 1px var(--gray-a7);

    /* Blend inset shadow with the container background */
    background-clip: content-box;
    padding: 1px;
  }
  &::placeholder {
    color: var(--gray-a11);
    /* Firefox */
    opacity: 1;
  }
  &:autofill,
  &[data-com-onepassword-filled] {
    /* Reliably removes native autofill colors */
    background-clip: text;
    -webkit-text-fill-color: var(--gray-12);

    & + .rt-TextFieldChrome {
      background-color: var(--accent-a4);
      box-shadow: inset 0 0 0 1px var(--gray-a7), inset 0 0 0 1px var(--accent-a4);
    }
  }
  &:disabled,
  &:read-only {
    & + .rt-TextFieldChrome {
      /* Blend with grey */
      background-image: linear-gradient(var(--gray-a3), var(--gray-a3));
    }
  }
}

/* classic */

.rt-TextFieldInput:where(.rt-variant-classic) {
  color: var(--gray-12);

  /* Don't overlap text with inset shadow */
  padding-left: 1px;
  padding-right: 1px;

  & + .rt-TextFieldChrome {
    background-color: var(--color-surface);
    box-shadow: var(--shadow-1);

    /* Blend inset shadow with the container background */
    background-clip: content-box;
    padding: 1px;
  }
  &::placeholder {
    color: var(--gray-a11);
    /* Firefox */
    opacity: 1;
  }
  &:autofill,
  &[data-com-onepassword-filled] {
    /* Reliably removes native autofill colors */
    background-clip: text;
    -webkit-text-fill-color: var(--gray-12);

    & + .rt-TextFieldChrome {
      background-color: var(--accent-a4);
      box-shadow: var(--shadow-1), inset 0 0 0 1px var(--accent-a4);
    }
  }
  &:disabled,
  &:read-only {
    & + .rt-TextFieldChrome {
      /* Blend with grey */
      background-image: linear-gradient(var(--gray-a3), var(--gray-a3));
    }
  }
}

/* soft */
.rt-TextFieldInput:where(.rt-variant-soft) {
  color: var(--accent-12);

  & + .rt-TextFieldChrome {
    background-color: var(--accent-a3);
  }
  &::placeholder {
    color: var(--accent-12);
    opacity: 0.65;
  }
  &:autofill,
  &[data-com-onepassword-filled] {
    /* Reliably removes native autofill colors */
    background-clip: text;
    -webkit-text-fill-color: var(--accent-12);

    & + .rt-TextFieldChrome {
      background-color: var(--accent-a5);
    }
  }
  &:disabled,
  &:read-only {
    & + .rt-TextFieldChrome {
      background-color: var(--gray-a4);
    }
  }
  &::selection {
    background-color: var(--accent-a5);
  }
}

/* all disabled and read-only text fields */

.rt-TextFieldInput {
  &:disabled,
  &:read-only {
    cursor: text;
    color: var(--gray-a11);
    /* Safari */
    -webkit-text-fill-color: var(--gray-a11);

    &:focus + .rt-TextFieldChrome {
      outline: 2px solid var(--gray-8);
    }
    &::placeholder {
      opacity: 0.5;
    }
    &:placeholder-shown {
      cursor: default;
    }
    &::selection {
      background-color: var(--gray-a5);
    }

    /* Cursor in gaps around slots, as an enhancement */
    .rt-TextFieldRoot:has(&) {
      cursor: text;
    }
    .rt-TextFieldRoot:has(&:placeholder-shown) {
      cursor: default;
    }
  }
}
