.rui-TextField {
  appearance: none;
  border-width: 0;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  outline: none;

  box-sizing: border-box;
  width: 100%;
  flex-shrink: 0;

  text-overflow: ellipsis;
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .rui-TextField {
    &.size-1 {
      height: var(--space-5);
      padding-top: 0.5px;
      padding-bottom: 1px;
      padding-left: var(--space-1);
      border-radius: max(var(--radius-2), var(--radius-full));
      font-size: var(--font-size-1);
    }
    &.size-2 {
      height: var(--space-6);
      padding-top: 0px;
      padding-bottom: 1px;
      padding-left: var(--space-2);
      border-radius: max(var(--radius-2), var(--radius-full));
      font-size: var(--font-size-2);
    }
    &.size-3 {
      height: var(--space-7);
      padding-top: 0.5px;
      padding-bottom: 1px;
      padding-left: var(--space-3);
      border-radius: max(var(--radius-3), var(--radius-full));
      font-size: var(--font-size-3);
    }
  }
}

/***************************************************************************************************
	*                                                                                                 *
	* VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

.rui-TextField {
  color: var(--gray-12);

  &::placeholder {
    color: var(--gray-a10);
    /* Firefox */
    opacity: 1;
  }
  &:focus {
    box-shadow: inset 0 0 0 1px var(--accent-a8), 0 0 0 1px var(--accent-a8);
  }
  &:autofill {
    -webkit-text-fill-color: var(--gray-12);
    box-shadow: var(--shadow-1), inset 0 0 0 100px var(--accent-3);
    &:focus {
      box-shadow: inset 0 0 0 1px var(--accent-a8), 0 0 0 1px var(--accent-a8),
        inset 0 0 0 100px var(--accent-3);
    }
  }
}

/* surface */

.rui-TextField.variant-surface {
  background-color: var(--color-surface-1);
  box-shadow: var(--shadow-1);
  &:focus {
    box-shadow: var(--shadow-1), inset 0 0 0 1px var(--accent-a8), 0 0 0 1px var(--accent-a8);
  }
}

/* soft */
.rui-TextField.variant-soft {
  background-color: var(--accent-a3);
  &:not(:focus) {
    box-shadow: none;
  }
  &::placeholder {
    color: var(--accent-12);
    opacity: 0.5;
  }
  &::selection {
    background-color: var(--accent-a5);
  }
}

/* all disabled text fields */

.rui-TextField:disabled {
  color: var(--gray-a9);
  box-shadow: inset 0 0 0 1px var(--gray-a6);
  background-color: var(--gray-a3);
  cursor: not-allowed;
}

/* all readonly text fields */

.rui-TextField:read-only {
  background-color: var(--gray-a3);
  &:not(:focus) {
    box-shadow: inset 0 0 0 1px var(--gray-a6);
  }
}
