.rui-TooltipContent {
  padding: var(--space-1) var(--space-2);
  background-color: var(--gray-12);
  border-radius: var(--radius-2);

  transform-origin: var(--radix-tooltip-content-transform-origin);

  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  &[data-state='delayed-open'] {
    &[data-side='top'] {
      animation-name: slideUpAndFadeIn;
    }
    &[data-side='bottom'] {
      animation-name: slideDownAndFadeIn;
    }
    &[data-side='left'] {
      animation-name: slideLeftAndFadeIn;
    }
    &[data-side='right'] {
      animation-name: slideRightAndFadeIn;
    }
  }
}

.rui-TooltipText {
  color: var(--gray-1);
  user-select: none;
  cursor: default;
}

.rui-TooltipArrow {
  fill: var(--gray-12);
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

.rui-TooltipContent.multiline {
  max-width: 250px;
  border-radius: min(var(--radius-2), var(--radius-4-raw));

  & .rui-TooltipText {
    line-height: calc(18px * var(--scaling));
  }
}
