.rt-TooltipContent {
  padding: var(--space-1) var(--space-2);
  --tooltip-bg: var(--gray-12);
  background-color: var(--tooltip-bg);
  border-radius: max(var(--radius-2), var(--radius-full));

  transform-origin: var(--radix-tooltip-content-transform-origin);

  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  &[data-state='delayed-open'] {
    &[data-side='top'] {
      animation-name: slideUpAndFadeIn;
    }
    &[data-side='bottom'] {
      animation-name: slideDownAndFadeIn;
    }
    &[data-side='left'] {
      animation-name: slideLeftAndFadeIn;
    }
    &[data-side='right'] {
      animation-name: slideRightAndFadeIn;
    }
  }
}

.rt-TooltipText {
  color: var(--gray-1);
  user-select: none;
  cursor: default;
}

.rt-TooltipArrow {
  fill: var(--tooltip-bg);
}

/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

.rt-TooltipContent.multiline {
  max-width: 250px;
  border-radius: var(--radius-2);

  & .rt-TooltipText {
    line-height: var(--default-line-height);
  }
}
