@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/green-alpha.css';
@import '@radix-ui/colors/green-dark-alpha.css';

:root {
  --green-contrast: white;
}

:root,
.light,
.light-theme {
  --green-surface: #f1faf4cc;
  --green-indicator: var(--green-9);
  --green-track: var(--green-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --green-surface: color(display-p3 0.9569 0.9804 0.9608 / 0.8);
    }
  }
}

.dark,
.dark-theme {
  --green-surface: #15251d80;
  --green-indicator: var(--green-9);
  --green-track: var(--green-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --green-surface: color(display-p3 0.0941 0.1412 0.1098 / 0.5);
    }
  }
}
