@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauve-dark.css';
@import '@radix-ui/colors/mauve-alpha.css';
@import '@radix-ui/colors/mauve-dark-alpha.css';

:root {
  --mauve-contrast: white;
}

:root,
.light,
.light-theme {
  --mauve-surface: #ffffffcc;
  --mauve-indicator: var(--mauve-9);
  --mauve-track: var(--mauve-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --mauve-surface: color(display-p3 1 1 1 / 0.8);
    }
  }
}

.dark,
.dark-theme {
  --mauve-surface: #22212380;
  --mauve-indicator: var(--mauve-9);
  --mauve-track: var(--mauve-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --mauve-surface: color(display-p3 0.1333 0.1255 0.1333 / 0.5);
    }
  }
}
