@import '@radix-ui/colors/mint.css';
@import '@radix-ui/colors/mint-dark.css';
@import '@radix-ui/colors/mint-alpha.css';
@import '@radix-ui/colors/mint-dark-alpha.css';

:root {
  --mint-9-contrast: #1a211e; /* light mode sage 12 */
}

:root,
.light,
.light-theme {
  --mint-surface: #effaf8cc;
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --mint-surface: color(display-p3 0.9451 0.9804 0.9725 / 0.8);
    }
  }
}

.dark,
.dark-theme {
  --mint-surface: #15272780;
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --mint-surface: color(display-p3 0.0941 0.149 0.1412 / 0.5);
    }
  }
}

[data-accent-color='mint'] {
  --color-surface-accent: var(--mint-surface);

  --accent-1: var(--mint-1);
  --accent-2: var(--mint-2);
  --accent-3: var(--mint-3);
  --accent-4: var(--mint-4);
  --accent-5: var(--mint-5);
  --accent-6: var(--mint-6);
  --accent-7: var(--mint-7);
  --accent-8: var(--mint-8);
  --accent-9: var(--mint-9);
  --accent-9-contrast: var(--mint-9-contrast);
  --accent-10: var(--mint-10);
  --accent-11: var(--mint-11);
  --accent-12: var(--mint-12);

  --accent-a1: var(--mint-a1);
  --accent-a2: var(--mint-a2);
  --accent-a3: var(--mint-a3);
  --accent-a4: var(--mint-a4);
  --accent-a5: var(--mint-a5);
  --accent-a6: var(--mint-a6);
  --accent-a7: var(--mint-a7);
  --accent-a8: var(--mint-a8);
  --accent-a9: var(--mint-a9);
  --accent-a10: var(--mint-a10);
  --accent-a11: var(--mint-a11);
  --accent-a12: var(--mint-a12);
}
