@import '@radix-ui/colors/olive.css';
@import '@radix-ui/colors/olive-dark.css';
@import '@radix-ui/colors/olive-alpha.css';
@import '@radix-ui/colors/olive-dark-alpha.css';

:root {
  --olive-contrast: white;
}

:root,
.light,
.light-theme {
  --olive-surface: #ffffffcc;
  --olive-indicator: var(--olive-9);
  --olive-track: var(--olive-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --olive-surface: color(display-p3 1 1 1 / 0.8);
    }
  }
}

.dark,
.dark-theme {
  --olive-surface: #1f201e80;
  --olive-indicator: var(--olive-9);
  --olive-track: var(--olive-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --olive-surface: color(display-p3 0.1176 0.1255 0.1176 / 0.5);
    }
  }
}
