@import '@radix-ui/colors/sage.css';
@import '@radix-ui/colors/sage-dark.css';
@import '@radix-ui/colors/sage-alpha.css';
@import '@radix-ui/colors/sage-dark-alpha.css';

:root,
.light,
.light-theme {
  --sage-surface: #ffffffcc;
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --sage-surface: color(display-p3 1 1 1 / 0.8);
    }
  }
}

.dark,
.dark-theme {
  --sage-surface: #1e201f80;
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --sage-surface: color(display-p3 0.1176 0.1255 0.1176 / 0.5);
    }
  }
}

.dark,
.dark-theme {
  --sage-2-translucent: #1a1c1bb3;
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --sage-2-translucent: color(display-p3 0.102 0.1137 0.1059 / 0.7);
    }
  }
}

.radix-themes:where([data-gray-color='sage']) {
  --gray-1: var(--sage-1);
  --gray-2: var(--sage-2);
  --gray-2-translucent: var(--sage-2-translucent);
  --gray-3: var(--sage-3);
  --gray-4: var(--sage-4);
  --gray-5: var(--sage-5);
  --gray-6: var(--sage-6);
  --gray-7: var(--sage-7);
  --gray-8: var(--sage-8);
  --gray-9: var(--sage-9);
  --gray-10: var(--sage-10);
  --gray-11: var(--sage-11);
  --gray-12: var(--sage-12);

  --gray-a1: var(--sage-a1);
  --gray-a2: var(--sage-a2);
  --gray-a3: var(--sage-a3);
  --gray-a4: var(--sage-a4);
  --gray-a5: var(--sage-a5);
  --gray-a6: var(--sage-a6);
  --gray-a7: var(--sage-a7);
  --gray-a8: var(--sage-a8);
  --gray-a9: var(--sage-a9);
  --gray-a10: var(--sage-a10);
  --gray-a11: var(--sage-a11);
  --gray-a12: var(--sage-a12);

  --gray-surface: var(--sage-surface);
}
