@import '@radix-ui/colors/sage.css';
@import '@radix-ui/colors/sage-dark.css';
@import '@radix-ui/colors/sage-alpha.css';
@import '@radix-ui/colors/sage-dark-alpha.css';

:root {
  --sage-contrast: white;
}

:root,
.light,
.light-theme {
  --sage-surface: #ffffffcc;
  --sage-indicator: var(--sage-9);
  --sage-track: var(--sage-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --sage-surface: color(display-p3 1 1 1 / 0.8);
    }
  }
}

.dark,
.dark-theme {
  --sage-surface: #1e201f80;
  --sage-indicator: var(--sage-9);
  --sage-track: var(--sage-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --sage-surface: color(display-p3 0.1176 0.1255 0.1176 / 0.5);
    }
  }
}
