@import './_internal/base-checkbox.css';

.rt-CheckboxRoot {
  &:where(:focus-visible) {
    &::before {
      outline: 2px solid var(--focus-8);
      outline-offset: 2px;
    }
  }

  &:where(:disabled) {
    cursor: var(--cursor-disabled);

    &::before {
      background-color: var(--gray-a3);
    }
  }
}
