@import './_internal/base-card.css';
@import './_internal/base-checkbox.css';

.rt-CheckboxCardsRoot {
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  cursor: default;
}

.rt-CheckboxCardsItem {
  --base-card-border-width: var(--border-width-standard);
  --base-card-padding-right: calc(
    var(--base-card-padding-left) * 2 + var(--checkbox-cards-item-checkbox-size)
  );

  display: flex;
  align-items: center;
  gap: var(--space-2);
  cursor: var(--cursor-button);
  -webkit-tap-highlight-color: transparent;

  &:where(:has(:focus-visible)) {
    transition: var(--transition-focus);
    outline: var(--focus-outline-width) solid var(--focus-8);
    outline-offset: var(--focus-outline-offset-inset);

    &::after {
      outline: inherit;
    }
  }

  & > * {
    /* Avoid unintentional drag interactions (e.g. on images) */
    pointer-events: none;
  }
  /* stylelint-disable-next-line selector-max-type */
  & > :where(svg) {
    /* Don't squish icons */
    flex-shrink: 0;
  }
}

.rt-CheckboxCardCheckbox {
  position: absolute;
  top: var(--base-card-padding-top);
  right: var(--base-card-padding-left);
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                Sizes                */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */



@breakpoints {
  .rt-CheckboxCardsRoot {
    /* Size 1 */
    &:where(.rt-r-size-1) {
      font-size: var(--font-size-2);
      --line-height: var(--line-height-2);
      --letter-spacing: var(--letter-spacing-2);
      /* keep in sync with checkbox */
      --checkbox-cards-item-checkbox-size: calc(var(--space-4) * var(--spacing-multiplier-medium));
    }
    

    /* Size 2 */
    &:where(.rt-r-size-2) {
      font-size: var(--font-size-2);
      --line-height: var(--line-height-2);
      --letter-spacing: var(--letter-spacing-2);
      /* keep in sync with checkbox */
      --checkbox-cards-item-checkbox-size: var(--space-4);
    }
    /* Size 3 */
    &:where(.rt-r-size-3) {
      font-size: var(--font-size-3);
      --line-height: var(--line-height-3);
      --letter-spacing: var(--letter-spacing-3);
      /* keep in sync with checkbox */
      --checkbox-cards-item-checkbox-size: calc(var(--space-4) * var(--spacing-multiplier-large));
    }
    /* Size 4 */
    &:where(.rt-r-size-4) {
      font-size: var(--font-size-3);
      --line-height: var(--line-height-3);
      --letter-spacing: var(--letter-spacing-3);
      /* keep in sync with checkbox */
      --checkbox-cards-item-checkbox-size: calc(var(--space-4) * var(--spacing-multiplier-large));
    }
    /* Size 5 */
    &:where(.rt-r-size-5) {
      font-size: var(--font-size-4);
      --line-height: var(--line-height-4);
      --letter-spacing: var(--letter-spacing-4);
      /* keep in sync with checkbox */
      --checkbox-cards-item-checkbox-size: calc(var(--space-5) * var(--spacing-multiplier-medium));
    }
  }
}



/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*         All tap highlights          */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

/* Better -webkit-tap-highlight-color */
.rt-CheckboxCardsItem {
  @media (pointer: coarse) {
    &:where(:active:not(:focus-visible)) {
      &::before {
        background-image: linear-gradient(var(--gray-a4), var(--gray-a4));
      }
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*            All disabled             */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

.rt-CheckboxCardsItem:where(:has(:disabled)) {
  cursor: var(--cursor-disabled);
  color: var(--gray-a9);

  &::before {
    background-image: linear-gradient(var(--gray-a2), var(--gray-a2));
  }
  &::selection {
    background-color: var(--gray-a5);
  }
}
