@import './_internal/base-menu.css';

.rt-DropdownMenuContent {
  max-height: var(--radix-dropdown-menu-content-available-height);
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);
}

.rt-DropdownMenuTriggerIcon {
  flex-shrink: 0;

  /* Default size for when not in a sized button */
  width: var(--trigger-icon-size-default);
  height: var(--trigger-icon-size-default);
}

/***************************************************************************************************
 *                                                                                                 *
 * TRIGGER ICON RESPONSIVE SIZING                                                                  *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  /* Size 1 Button */
  .rt-Button:where(.rt-r-size-1) :where(.rt-DropdownMenuTriggerIcon) {
    width: var(--trigger-icon-size-1);
    height: var(--trigger-icon-size-1);
  }

  /* Size 2 Button */
  .rt-Button:where(.rt-r-size-2) :where(.rt-DropdownMenuTriggerIcon) {
    width: var(--trigger-icon-size-2);
    height: var(--trigger-icon-size-2);
  }

  /* Size 3 Button */
  .rt-Button:where(.rt-r-size-3) :where(.rt-DropdownMenuTriggerIcon) {
    width: var(--trigger-icon-size-3);
    height: var(--trigger-icon-size-3);
  }

  /* Size 4 Button */
  .rt-Button:where(.rt-r-size-4) :where(.rt-DropdownMenuTriggerIcon) {
    width: var(--trigger-icon-size-4);
    height: var(--trigger-icon-size-4);
  }
}
