.rt-Em {
  box-sizing: border-box;
  font-family: var(--em-font-family);
  font-size: calc(var(--em-font-size-adjust) * 1em);
  font-style: var(--em-font-style);
  font-weight: var(--em-font-weight);
  line-height: 1.25;
  letter-spacing: calc(
    var(--em-letter-spacing) + var(--letter-spacing, var(--default-letter-spacing))
  );
  color: inherit;

  & :where(&) {
    font-size: inherit;
  }
}
