@import './_internal/base-card.css';
@import './_internal/base-radio.css';

.rt-RadioCardsRoot {
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  cursor: default;
}

.rt-RadioCardsItem {
  --base-card-border-width: var(--border-width-standard);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);

  & > * {
    /* Avoid unintentional drag interactions (e.g. on images) */
    pointer-events: none;
  }
  /* stylelint-disable-next-line selector-max-type */
  & > :where(svg) {
    /* Don't squish icons */
    flex-shrink: 0;
  }

}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                Sizes                */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@breakpoints {
  .rt-RadioCardsRoot {
    /* Size 1 */
    &:where(.rt-r-size-1) {
      font-size: var(--font-size-2);
      --line-height: var(--line-height-2);
      --letter-spacing: var(--letter-spacing-2);
    }
    /* Size 2 */
    &:where(.rt-r-size-2) {
      font-size: var(--font-size-2);
      --line-height: var(--line-height-2);
      --letter-spacing: var(--letter-spacing-2);
    }
    /* Size 3 */
    &:where(.rt-r-size-3) {
      font-size: var(--font-size-3);
      --line-height: var(--line-height-3);
      --letter-spacing: var(--letter-spacing-3);
    }
    /* Size 4 */
    &:where(.rt-r-size-4) {
      font-size: var(--font-size-3);
      --line-height: var(--line-height-3);
      --letter-spacing: var(--letter-spacing-3);
    }
    /* Size 5 */
    &:where(.rt-r-size-5) {
      font-size: var(--font-size-4);
      --line-height: var(--line-height-4);
      --letter-spacing: var(--letter-spacing-4);
    }
  }
}



/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*             All checked             */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

.rt-RadioCardsItem:where([data-state='checked']) {
  transition: var(--transition-fast);
  outline: var(--focus-outline-width) solid var(--accent-indicator);
  outline-offset: -1px;
  :where(.rt-RadioCardsRoot.rt-high-contrast) & {
    outline-color: var(--accent-12);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*              All focus              */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

.rt-RadioCardsItem:where(:focus-visible) {
  transition: var(--transition-focus);
  outline: var(--focus-outline-width) solid var(--focus-8);
  outline-offset: -1px;
  &:where([data-state='checked']) {
    &::before {
      background-image: linear-gradient(var(--focus-a3), var(--focus-a3));
    }
    outline-color: var(--focus-10);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*            All disabled             */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

.rt-RadioCardsItem:where(:disabled) {
  cursor: var(--cursor-disabled);
  color: var(--gray-a9);

  &::selection {
    background-color: var(--gray-a5);
  }
  &::before {
    background-image: linear-gradient(var(--gray-a2), var(--gray-a2));
  }
  outline-color: var(--gray-8);
}
