@import './_internal/base-tab-list.css';

.rt-TabsContent {
  position: relative;
  outline: 0;
  transition: var(--transition-fast);
}

.rt-TabsContent:where(:focus-visible) {
      outline: var(--focus-outline-width) solid var(--focus-8);
  transition: var(--transition-focus);
}
