:root {
  --br-1: calc(3px * var(--scaling, 1));
  --br-2: calc(4px * var(--scaling, 1));
  --br-3: calc(6px * var(--scaling, 1));
  --br-4: calc(8px * var(--scaling, 1));
  --br-5: calc(12px * var(--scaling, 1));
  --br-6: calc(16px * var(--scaling, 1));
}

:root /* default: medium */ {
  --button-radius: 1;
}
:root,
[data-button-radius] {
  --brs-1: min(calc(var(--button-radius) * var(--br-1)), calc(var(--space-7) / 2));
  --brs-2: min(calc(var(--button-radius) * var(--br-2)), calc(var(--space-7) / 2));
  --brs-3: min(calc(var(--button-radius) * var(--br-3)), calc(var(--space-7) / 2));
  --brs-4: min(calc(var(--button-radius) * var(--br-4)), calc(var(--space-7) / 2));
  --brs-5: min(calc(var(--button-radius) * var(--br-5)), calc(var(--space-7) / 2));
  --brs-6: min(calc(var(--button-radius) * var(--br-6)), calc(var(--space-7) / 2));
}
[data-button-radius='none'] {
  --button-radius: 0;
}
[data-button-radius='small'] {
  --button-radius: 0.5;
}
[data-button-radius='medium'] {
  --button-radius: 1;
}
[data-button-radius='large'] {
  --button-radius: 1.5;
}
[data-button-radius='full'] {
  --button-radius: 9999;
}
