@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/white-alpha.css';

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*           Semantic colors           */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

:where(.radix-themes) {
  --color-background: white;
  --color-overlay: var(--black-a6);
  --color-panel-solid: white;
  --color-panel-translucent: rgba(255, 255, 255, 0.7);
  --color-surface: rgba(255, 255, 255, 0.85);
}
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: var(--gray-1);
  --color-overlay: var(--black-a8);
  --color-panel-solid: var(--gray-2);
  --color-panel-translucent: var(--gray-a2);
  --color-surface: rgba(0, 0, 0, 0.25);
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*            Transparency             */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

/* Because Chrome is buggy with box-shadow transitions from "transparent" keyword and/or RGB color into P3 colors. */
/* Note: using `:where` here to guarantee that the P3 color will take over regardless of the output rule order. */
:where(.radix-themes) {
  --color-transparent: rgb(0 0 0 / 0);
}
@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .radix-themes {
      --color-transparent: color(display-p3 0 0 0 / 0);
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*            Color scheme             */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

/*
 * Make sure that forced light/dark appearance also sets corresponding browser colors,
 * like input autofill color and body scrollbar
 */
.radix-themes:where(.light, .light-theme) {
  &,
  :root:where(:has(&[data-is-root-theme='true'])) {
    color-scheme: light;
  }
}
.radix-themes:where(.dark, .dark-theme) {
  &,
  :root:where(:has(&[data-is-root-theme='true'])) {
    color-scheme: dark;
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*   Focus, selection, and autofill    */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

.radix-themes,
[data-accent-color]:where(:not([data-accent-color='gray'])) {
  --focus-1: var(--accent-1);
  --focus-2: var(--accent-2);
  --focus-3: var(--accent-3);
  --focus-4: var(--accent-4);
  --focus-5: var(--accent-5);
  --focus-6: var(--accent-6);
  --focus-7: var(--accent-7);
  --focus-8: var(--accent-8);
  --focus-9: var(--accent-9);
  --focus-10: var(--accent-10);
  --focus-11: var(--accent-11);
  --focus-12: var(--accent-12);

  --focus-a1: var(--accent-a1);
  --focus-a2: var(--accent-a2);
  --focus-a3: var(--accent-a3);
  --focus-a4: var(--accent-a4);
  --focus-a5: var(--accent-a5);
  --focus-a6: var(--accent-a6);
  --focus-a7: var(--accent-a7);
  --focus-a8: var(--accent-a8);
  --focus-a9: var(--accent-a9);
  --focus-a10: var(--accent-a10);
  --focus-a11: var(--accent-a11);
  --focus-a12: var(--accent-a12);
}

.radix-themes ::selection {
  background-color: var(--focus-a5);
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*         Background and text         */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

.radix-themes {
  color: var(--gray-12);
  &:where([data-has-background='true']) {
    background-color: var(--color-background);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*          Panel background           */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

.radix-themes {
  &:where([data-panel-background='solid']) {
    --color-panel: var(--color-panel-solid);
    --backdrop-filter-panel: none;
  }
  &:where([data-panel-background='translucent']) {
    --color-panel: var(--color-panel-translucent);
    --backdrop-filter-panel: blur(64px);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*         Shared grays styles         */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

:root {
  --gray-contrast: white;
}

[data-accent-color='gray'] {
  --accent-1: var(--gray-1);
  --accent-2: var(--gray-2);
  --accent-3: var(--gray-3);
  --accent-4: var(--gray-4);
  --accent-5: var(--gray-5);
  --accent-6: var(--gray-6);
  --accent-7: var(--gray-7);
  --accent-8: var(--gray-8);
  --accent-9: var(--gray-9);
  --accent-10: var(--gray-10);
  --accent-11: var(--gray-11);
  --accent-12: var(--gray-12);

  --accent-a1: var(--gray-a1);
  --accent-a2: var(--gray-a2);
  --accent-a3: var(--gray-a3);
  --accent-a4: var(--gray-a4);
  --accent-a5: var(--gray-a5);
  --accent-a6: var(--gray-a6);
  --accent-a7: var(--gray-a7);
  --accent-a8: var(--gray-a8);
  --accent-a9: var(--gray-a9);
  --accent-a10: var(--gray-a10);
  --accent-a11: var(--gray-a11);
  --accent-a12: var(--gray-a12);

  --accent-contrast: var(--gray-contrast);
  --accent-surface: var(--gray-surface);
}
