[data-rui-root] {
  --radius-1-raw: calc(3px * var(--scaling, 1));
  --radius-2-raw: calc(4px * var(--scaling, 1));
  --radius-3-raw: calc(6px * var(--scaling, 1));
  --radius-4-raw: calc(8px * var(--scaling, 1));
  --radius-5-raw: calc(12px * var(--scaling, 1));
  --radius-6-raw: calc(16px * var(--scaling, 1));

  --max-panel-radius: var(--radius-5-raw);

  /* default: medium */
  --radius-factor: 1;

  &:where([data-radius]),
  & [data-radius] {
    --radius-1: calc(var(--radius-1-raw) * var(--radius-factor, 1));
    --radius-2: calc(var(--radius-2-raw) * var(--radius-factor, 1));
    --radius-3: calc(var(--radius-3-raw) * var(--radius-factor, 1));
    --radius-4: calc(var(--radius-4-raw) * var(--radius-factor, 1));
    --radius-5: calc(var(--radius-5-raw) * var(--radius-factor, 1));
    --radius-6: calc(var(--radius-6-raw) * var(--radius-factor, 1));
  }
  &:where([data-radius='none']),
  & [data-radius='none'] {
    --radius-factor: 0;
  }
  &:where([data-radius='small']),
  & [data-radius='small'] {
    --radius-factor: 0.5;
  }
  &:where([data-radius='medium']),
  & [data-radius='medium'] {
    --radius-factor: 1;
  }
  &:where([data-radius='large']),
  & [data-radius='large'] {
    --radius-factor: 1.5;
  }
  &:where([data-radius='full']),
  & [data-radius='full'] {
    --radius-factor: 9999;
  }
}
