.radix-themes {
  /* --shadow-1: inset 0 0 0 1px var(--gray-a6), inset 0 1px 2px 0 var(--gray-a7); */
  --shadow-1: inset 0 0 0 1px var(--gray-a6), inset 0 1.5px 2px 0 var(--gray-a7);
  --shadow-2: 0px 3px 25px -8px var(--gray-a7);
  --shadow-3: 0px 12px 40px var(--gray-a6), 0px 12px 20px -12px var(--gray-a8);
  --shadow-4: 0px 12px 60px var(--gray-a6), 0px 12px 32px -16px var(--gray-a6);
  --shadow-5: 0px 12px 60px var(--gray-a3), 0px 12px 32px -16px var(--gray-a3);
}

:is(.dark, .dark-theme),
:is(.dark, .dark-theme) .radix-themes:not(.light, .light-theme) {
  /* --shadow-1: inset 0 0 0 1px var(--gray-a7); */
  --shadow-1: inset 0 0 0 1px var(--gray-a7), inset 0 1.5px 2px 0 var(--black-a11);
  --shadow-2: 0px 3px 35px -8px rgb(0 0 0 / 0.9);
  --shadow-3: 0px 12px 40px rgb(0 0 0 / 0.6), 0px 12px 20px -12px rgb(0 0 0 / 0.8);
  --shadow-4: 0px 16px 60px rgb(0 0 0 / 0.1), 0px 16px 32px -20px rgb(0 0 0 / 0.2);
  --shadow-5: 0px 16px 60px rgb(0 0 0 / 0.25), 0px 16px 32px -20px rgb(0 0 0 / 0.5);
}
