@breakpoints {
  .rt-r-as-start {
    align-self: start;
  }

  .rt-r-as-center {
    align-self: center;
  }

  .rt-r-as-end {
    align-self: end;
  }

  .rt-r-as-baseline {
    align-self: baseline;
  }

  .rt-r-as-stretch {
    align-self: stretch;
  }
}
