@breakpoints {
  .rt-r-display-block {
    display: block;
  }

  .rt-r-display-inline {
    display: inline;
  }

  .rt-r-display-inline-block {
    display: inline-block;
  }

  .rt-r-display-flex {
    display: flex;
  }

  .rt-r-display-inline-flex {
    display: inline-flex;
  }

  .rt-r-display-grid {
    display: grid;
  }

  .rt-r-display-inline-grid {
    display: inline-grid;
  }

  .rt-r-display-none {
    display: none;
  }

  .rt-r-display-contents {
    display: contents;
  }
}
