.rt-r-fb {
  flex-basis: var(--flex-basis);
}
@media (--xs) {
  .xs\:rt-r-fb {
    flex-basis: var(--flex-basis-xs);
  }
}
@media (--sm) {
  .sm\:rt-r-fb {
    flex-basis: var(--flex-basis-sm);
  }
}
@media (--md) {
  .md\:rt-r-fb {
    flex-basis: var(--flex-basis-md);
  }
}
@media (--lg) {
  .lg\:rt-r-fb {
    flex-basis: var(--flex-basis-lg);
  }
}
@media (--xl) {
  .xl\:rt-r-fb {
    flex-basis: var(--flex-basis-xl);
  }
}
