@breakpoints {
  .rt-r-fd-row {
    flex-direction: row;
  }

  .rt-r-fd-column {
    flex-direction: column;
  }

  .rt-r-fd-row-reverse {
    flex-direction: row-reverse;
  }

  .rt-r-fd-column-reverse {
    flex-direction: column-reverse;
  }
}
