.rt-r-max-w {
  max-width: var(--max-width);
}
@media (--xs) {
  .xs\:rt-r-max-w {
    max-width: var(--max-width-xs);
  }
}
@media (--sm) {
  .sm\:rt-r-max-w {
    max-width: var(--max-width-sm);
  }
}
@media (--md) {
  .md\:rt-r-max-w {
    max-width: var(--max-width-md);
  }
}
@media (--lg) {
  .lg\:rt-r-max-w {
    max-width: var(--max-width-lg);
  }
}
@media (--xl) {
  .xl\:rt-r-max-w {
    max-width: var(--max-width-xl);
  }
}
