.rt-r-min-w {
  min-width: var(--min-width);
}
@media (--xs) {
  .xs\:rt-r-min-w {
    min-width: var(--min-width-xs);
  }
}
@media (--sm) {
  .sm\:rt-r-min-w {
    min-width: var(--min-width-sm);
  }
}
@media (--md) {
  .md\:rt-r-min-w {
    min-width: var(--min-width-md);
  }
}
@media (--lg) {
  .lg\:rt-r-min-w {
    min-width: var(--min-width-lg);
  }
}
@media (--xl) {
  .xl\:rt-r-min-w {
    min-width: var(--min-width-xl);
  }
}
