.rt-r-w {
  width: var(--width);
}
@media (--xs) {
  .xs\:rt-r-w {
    width: var(--width-xs);
  }
}
@media (--sm) {
  .sm\:rt-r-w {
    width: var(--width-sm);
  }
}
@media (--md) {
  .md\:rt-r-w {
    width: var(--width-md);
  }
}
@media (--lg) {
  .lg\:rt-r-w {
    width: var(--width-lg);
  }
}
@media (--xl) {
  .xl\:rt-r-w {
    width: var(--width-xl);
  }
}
