.root :global(svg) {
  display: block;
}

.root [data-animate],
.root [data-transition],
.root [data-animate] :global(.rui-Switch-Thumb) {
  transition-property: all;
  transition-duration: 450ms;
  transition-timing-function: ease-out;
}

.root [data-animate='animate'] {
  animation: pop 600ms var(--delay, 0ms) ease-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* HACK */
.root :global(.rui-Button):global(.rui-IconButton) {
  padding: 0;
}

@property --gradient-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 90deg;
}

.root:global(.dark-theme) {
  /* we default `--gradient-angle` to `90deg` for browsers that don't support @property */
  mask-image: linear-gradient(
    var(--gradient-angle, 90deg),
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 50%
  );
  mask-size: 210% 100%;
  animation: mask 5s ease-in-out alternate-reverse infinite;
}

@keyframes mask {
  0% {
    --gradient-angle: 85deg;
    mask-position: 100% 0%;
  }
  25% {
    --gradient-angle: 85deg;
    mask-position: 100% 0%;
  }
  75% {
    --gradient-angle: 95deg;
    mask-position: 0% 0%;
  }
  100% {
    --gradient-angle: 95deg;
    mask-position: 0% 0%;
  }
}
