:root,
.light,
.light-theme {
  --theme-panel--focus-ring-color: black;
}

.dark,
.dark-theme {
  --theme-panel--focus-ring-color: white;
}

.ThemePanelSwatch {
  width: var(--space-5);
  height: var(--space-5);
  border-radius: calc(var(--space-5) / 2);
  position: relative;

  & input {
    appearance: none;
    margin: 0;
    outline: none;
    outline-width: 2px;
    outline-offset: 2px;

    position: absolute;
    inset: 0;
    border-radius: inherit;

    &:checked {
      outline-style: solid;
      outline-color: var(--theme-panel--focus-ring-color);
    }
    &:focus-visible {
      outline-style: solid;
      outline-color: var(--accent-9);
    }
  }

  &:where(.gray) {
    & input:focus-visible {
      outline-color: var(--gray-9);
    }
  }
}

.ThemePanelRadioCard {
  border-radius: calc(3px * var(--scaling));
  box-shadow: 0 0 0 1px var(--gray-7);
  position: relative;

  & input {
    appearance: none;
    margin: 0;
    outline: none;

    position: absolute;
    inset: 0;
    border-radius: inherit;

    &:checked {
      box-shadow: inset 0 0 0 1px var(--theme-panel--focus-ring-color),
        0 0 0 1px var(--theme-panel--focus-ring-color);
    }
    &:focus-visible {
      background-color: var(--accent-a3);
      box-shadow: inset 0 0 0 1px var(--accent-9), 0 0 0 1px var(--accent-9);
    }
  }
}
