.root {
  margin-bottom: 800px;
}

.root :global(summary) {
  cursor: pointer;
}
.root :global(summary:focus-visible) {
  outline: 2px solid var(--accent-8);
  outline-offset: 2px;
}

.root :global(.hide-cursor),
.root :global(.hide-cursor *) {
  cursor: none !important;
}

.table {
  border-collapse: collapse;
}
.table + .table {
  margin-top: var(--space-3);
}

.table thead tr,
.table tbody tr:not(:last-child) {
  border-bottom: 0.5px solid var(--gray-a6);
}

.table th,
.table td {
  padding: 0;
  padding-top: var(--space-4);
  padding-right: var(--space-4);
  padding-bottom: var(--space-4);
}

.table .rowHeaderCell {
  padding-left: 0;
  padding-right: var(--space-5);
  min-width: 100px;
}
