name: 'Tests: Visual regression'

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    name: Visual regression tests
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: CI Setup
        uses: ./.github/actions/ci-setup

      - name: Install Playwright Browsers
        run: pnpm --filter "playground" exec playwright install --with-deps

      - name: Build packages
        run: pnpm --filter "@radix-ui/*" build

      - name: Run Visual Regression Tests
        run: pnpm test:vr

      - name: Upload test results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: apps/playground/test-results/
          retention-days: 30
