.root {
  min-width: 1280px;
  max-width: 1600px;
  margin: 0 auto;
}

.search {
  flex: 1;
  display: flex;
  align-items: center;
  height: var(--space-7);
  border-radius: max(var(--radius-3), var(--radius-full));
  border: none;
  background-color: var(--gray-a5);
  padding: 0 var(--space-5);
}
.search:focus {
  outline-color: var(--accent-9);
}

.grid {
  display: grid;
  padding: var(--space-5);
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-5);
}

.imageCard {
  position: relative;
}

.imageCardOverlay {
  position: absolute;
  inset: 0px;
  background-image: linear-gradient(-135deg, var(--black-a8), transparent);
  padding: var(--space-3);
  opacity: 0;
}

.imageCard:hover .imageCardOverlay,
.imageCard:focus-within .imageCardOverlay,
.imageCardOverlay[data-visible] {
  opacity: 1;
}

.downloadPopover {
  accent-color: var(--accent-9);
}

.container {
  padding-left: var(--space-5);
  padding-right: var(--space-5);
}
@media (min-width: 1600px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
